
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <!--Meta Tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    @Scripts.Render("~/bundles/jquery")
    <!-- ******************************** CEO ***********************************************************-->
    <title>Visualizador de Gráficos</title>
    <meta name="keywords" content="grafico,informacion,visualizacion,data,dataintelligence,dashboard,powerbi">    
    <link rel="image_src" href="https://odooutil.azurewebsites.net/Content/img/RRSS/logoDataIntelligence.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Data Intelligence es una empresa enfocada en la visualización de datos, en particular esta plataforma es un pequeña muestra del Data Science." name="description">
    <meta content="Equipo de Data Intelligence" name="author">
    <!-- App favicon Por Desarrollar
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    -->
    <!--Twitter Cards -->
    <meta property="og:title" content="Data Intelligence">
    <meta property="og:description" content="Data Intelligence es una empresa enfocada en la visualización de datos, en particular esta plataforma es un pequeña muestra del Data Science.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ViewBag.Twitter">
    <meta property="og:image" content="https://odooutil.azurewebsites.net/Content/img/RRSS/logoDataIntelligence.png">
    <!-- OpenGraph tags for Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Data Intelligence" />
    <meta property="og:description" content="Data Intelligence es una empresa enfocada en la visualización de datos, en particular esta plataforma es un pequeña muestra del Data Science." />
    <meta property="og:image" content="https://odooutil.azurewebsites.net/Content/img/RRSS/logoDataIntelligence.png" />
    <meta property="og:url" content="https://odooutil.azurewebsites.net/info/index" />
    <!-- **************************** FIN CEO ***********************************************************-->
    <!--Bootstrap y css-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--test megamenu-->
    <script>
        $(document).ready(function () {
            $(".megamenu").on("click", function (e) {
                e.stopPropagation();
            });
        });

    </script>


</head>

<body>
    <!-- megamenu-->
    <h1>Hola</h1>
    <script src="~/Scripts/OcultarBoton.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
