
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rpub</title>
</head>
<body>
    <p>
        <iframe sandbox="allow-popups allow-forms allow-scripts allow-same-origin" id="Hn" class="embed-responsive-item" src="https://rpubs.com/dataintelligence/ejemplo_mapa" title="Interactive or visual content" style="width: 100%; height: 53vh;"></iframe>
        <br>
    </p>
</body>
</html>
