
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mt-md-5">
            <div class="col-md-2">
                <img class="img-fluid" src="~/Content/img/Imagenes_temas_colecciones/recuadrosweb_Agricultura_plantaciones.png" />
            </div>
            <div class="col-md-3 mt-md-3">
                <h5><b>PLANTACIONES</b></h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 mt-md-3">
                <h5><b>Temas</b> </h5>
                <div class="col">
                    <style>
                        @@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

                        .mb-0 > a {
                            display: block;
                            position: relative;
                        }

                            .mb-0 > a:after {
                                content: "\f078"; /* fa-chevron-down */
                                font-family: 'FontAwesome';
                                position: absolute;
                                right: 0;
                            }

                            .mb-0 > a[aria-expanded="true"]:after {
                                content: "\f077"; /* fa-chevron-up */
                            }
                    </style>
                    <!--               Automatizacion                 -->


                    <div id="a-contenido" style="font-size:0.9rem !important;">
                        <!--<div id="accordion" >-->
                        <!--Estructura Tema-->
                        



                    </div>





                    





                    <!--               Automatizacion                 -->

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="heading-1">
                                <h6 class="mb-0" style="font-size:0.9rem;">
                                    <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                        Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                                <div class="card-body">
                                    <div id="accordion-1">
                                        <div class="card">
                                            <div class="card-header" id="heading-1-1">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" 
                                                       aria-expanded="false" aria-controls="collapse-1-1">
                                                        Terminal La Palmera de la Serena
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                                                <div class="card-body">

                                                    <div id="accordion-1-1">
                                                        <div class="card">
                                                            <div class="card-header" id="heading-1-1-1">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
                                                                        Item 1 > 1 > 1
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 1
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-1-1-2">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-2" aria-expanded="false" aria-controls="collapse-1-1-2">
                                                                        Item 1 > 1 > 2
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-1-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-2">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 2
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-1-1-3">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-3" aria-expanded="false" aria-controls="collapse-1-1-3">
                                                                        Item 1 > 1 > 3
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-1-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-3">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 3
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading-1-2">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                                                        Terminal Agrícola del Norte S.A. de Arica
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                                                <div class="card-body" style="font-size:0.9rem;">
                                                    Text 1 > 2
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading-2">
                                <h6 class="mb-0" style="font-size:0.9rem;">
                                    <a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                        Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                                <div class="card-body">

                                    <div id="accordion-4">
                                        <div class="card">
                                            <div class="card-header" id="heading-2-1-1-1">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-1-1" aria-expanded="false" aria-controls="collapse-2-1-1-1">
                                                        Terminal La Palmera de la Serena
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-2-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-2-1-1-1">
                                                <div class="card-body">

                                                    <div id="accordion-2-1-1">
                                                        <div class="card">
                                                            <div class="card-header" id="heading-2-1-1">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-1" aria-expanded="false" aria-controls="collapse-2-1-1">
                                                                        Item 1 > 1 > 1
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-2-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-1">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 1
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-2-1-2">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-2" aria-expanded="false" aria-controls="collapse-2-1-2">
                                                                        Item 1 > 1 > 2
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-2-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-2">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 2
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-2-1-3">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-3" aria-expanded="false" aria-controls="collapse-2-1-3">
                                                                        Item 1 > 1 > 3
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-2-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-3">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 3
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading-2-2">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                                        Terminal Agrícola del Norte S.A. de Arica
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-2-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-2-2">
                                                <div class="card-body" style="font-size:0.9rem;">
                                                    Text 1 > 2
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading-3">
                                <h6 class="mb-0" style="font-size:0.9rem;">
                                    <a role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                        Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                                <div class="card-body">

                                    <div id="accordion-3">
                                        <div class="card">
                                            <div class="card-header" id="heading-3-1-1-1">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-1-1" aria-expanded="false" aria-controls="collapse-3-1-1-1">
                                                        Terminal La Palmera de la Serena
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-3-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-3-1-1-1">
                                                <div class="card-body">

                                                    <div id="accordion-3-1-1">
                                                        <div class="card">
                                                            <div class="card-header" id="heading-3-1-1">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-1" aria-expanded="false" aria-controls="collapse-3-1-1">
                                                                        Item 1 > 1 > 1
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-3-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-1">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 1
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-3-1-2">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-2" aria-expanded="false" aria-controls="collapse-3-1-2">
                                                                        Item 1 > 1 > 2
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-3-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-2">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 2
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-3-1-3">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-3" aria-expanded="false" aria-controls="collapse-3-1-3">
                                                                        Item 1 > 1 > 3
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-3-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-3">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 3
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading-3-2">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                                                        Terminal Agrícola del Norte S.A. de Arica
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-3-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-3-2">
                                                <div class="card-body" style="font-size:0.9rem;">
                                                    Text 1 > 2
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading-4">
                                <h6 class="mb-0" style="font-size:0.9rem;">
                                    <a role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                        Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                                <div class="card-body">

                                    <div id="accordion-4">
                                        <div class="card">
                                            <div class="card-header" id="heading-4-1-1-1">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-1-1" aria-expanded="false" aria-controls="collapse-4-1-1-1">
                                                        Terminal La Palmera de la Serena
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-4-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-4-1-1-1">
                                                <div class="card-body">

                                                    <div id="accordion-4-1-1">
                                                        <div class="card">
                                                            <div class="card-header" id="heading-4-1-1">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-1" aria-expanded="false" aria-controls="collapse-4-1-1">
                                                                        Item 1 > 1 > 1
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-4-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-1">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 1
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-4-1-2">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-2" aria-expanded="false" aria-controls="collapse-4-1-2">
                                                                        Item 1 > 1 > 2
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-4-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-2">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 2
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="heading-4-1-3">
                                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-3" aria-expanded="false" aria-controls="collapse-4-1-3">
                                                                        Item 1 > 1 > 3
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                            <div id="collapse-4-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-3">
                                                                <div class="card-body" style="font-size:0.9rem;">
                                                                    Text 1 > 1 > 3
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading-4-2">
                                                <h6 class="mb-0" style="font-size:0.9rem;">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-2" aria-expanded="false" aria-controls="collapse-4-2">
                                                        Terminal Agrícola del Norte S.A. de Arica
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-4-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-4-2">
                                                <div class="card-body" style="font-size:0.9rem;">
                                                    Text 1 > 2
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>



    <script>
        const removeAccents = (str) => {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").split(" ").join("").toLowerCase();
        } 
        //console.log(removeAccents("La uña se me rompió después de beber cachaça"))
        var datos = @Html.Raw(Json.Encode(ViewBag.Resultado));
        datos = JSON.parse(datos);
        var temas = datos.map(function (x) {
            return x.tema;
        });
        //console.log(temas);
        var temasUnico = new Set(temas);
        //console.log(temasUnico);
        temasUnico = [...temasUnico];



        function GetEscalas(tema) {
            var escalasAux = datos.filter(x => x.tema == tema);
            var escalas = escalasAux.map(function (x) {
                return x.escala;
            });
            var escalasUnico = new Set(escalas);
            escalasUnico = [...escalasUnico];
            return escalasUnico;
        }


        function RenderConcepto(concepto, conceptoSuperior) {
            var conceptoClean = removeAccents(concepto);
            var primera = '<div class="card">' +
                '<div class="card-header" id="h-' + conceptoClean + '">' +
                '<h6 class="mb-0" style = "font-size:0.9rem;">' +
                '<a role="button" data-toggle="collapse" href="#' + conceptoClean +
                '" aria-expanded="true" aria-controls="' + conceptoClean + '">';
            primera = primera + concepto;
            primera = primera + '</a></h6></div>';
            primera = primera + '<div id="' + conceptoClean + '" class="collapse show" data-parent="#accordion"' +
                'aria-labelledby="h-' + conceptoClean + '" > ' +
                '<div id="a-' + conceptoClean + '"><div class="card-body"><h1>Hola</h1>';

            var segundo = '</div></div>'
            return [primera, segundo];
        }

        //var texto = RenderConcepto("hola1", "ccordion5")[0] +
        //    RenderConcepto("hola12", "hola1")[0] +
        //    RenderConcepto("hola123", "hola12")[0] +
        //    RenderConcepto("hola1234", "hola123")[0] +
        //    RenderConcepto("hola12345", "hola1234")[0] +
        //    '</div></div></div></div></div></div></div></div></div></div>';
        //console.log(texto)
        //$("#a-ccordion5").append(texto);

        function AgregarTemas(tema) {
            var num = removeAccents(tema);
            var salida = '<div class="card">'+
                            '<div class="card-header" id="h-' + num + '" > ' +
                                '<h6 class="mb-0" style = "font-size:0.9rem;" >' +
                                    '<a role="button" data-toggle="collapse" href="#' + num +
                                    '" aria-expanded="true" aria-controls="' + num + '">';
                salida = salida + tema;
                salida = salida + '</a></h6></div>';
                salida = salida + '<div id="' + num + '" class="collapse show" data-parent="#accordion2"'+ 
                'aria-labelledby="h-' + num + '" > ' +
                '<div id="accordion-1"><div class="card-body"><h1>Hola</h1>';
                
                //GetEscalas(tema).forEach(element => salida = salida + RenderEscalas(element, tema));
                salida = salida + '</div></div>';
            $("#accordion2").append(salida);
            //console.log(GetEscalas(tema))
        }        

        function RenderEscalas(escala, tema) {
            var num = removeAccents(escala);;
            var salida = '<div class="card-header" id="heading-' + num + '">' +
                            '<h6 class="mb-0" style="font-size:0.9rem;">' +
                                '<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-' + num +
                                '" aria-expanded="false" aria-controls="collapse-' + num + '">';
            salida = salida + escala;
            salida = salida + '</a></h6></div>';
            salida = salida + '<div id="collapse-' + num + '" class="collapse show" data-parent="#accordion2"' +
                'aria - labelledby="heading-' + num + '" > ' +
                '<div class="card-body">';
            salida = salida + RenderTerritorio(escala, tema);
            salida = salida + '</div></div>';
            return salida;
        }

        function DefinirTerritorio(accum, territorio) {
            var salida = '<div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">' +
                '<div class="card-body" style="font-size:0.9rem;">' + territorio.territorio +
                '</div></div>';
            accum = accum + salida;
            return accum;
        }

        const reducer = (accumulator, currentValue) => accumulator + currentValue.territorio;

        function RenderTerritorio(escala, tema) {
            var territorioAux = datos.filter(x => x.tema == tema && x.escala == escala);
            //console.log("Hola")
            //console.log(territorioAux)
            var salida = territorioAux.reduce(DefinirTerritorio,"");
            //var salida = territorioAux.reduce(function (valor) {

            //}, "");
            return salida;
        }



        function RenderEnlace(objeto) {
            //var clean = removeAccents(objeto);
            var salida = '<a class="m-3 enlaceFinal"  href="' + objeto.id + '"> ' + objeto.titulo + ' </a><br />';
            return salida;
        }


        function RenderCard(concepto, padre, nRenders, show = '') {
            var salida = '<div class="card">'
            salida = salida + RenderCardHeader(concepto) + RenderCollapse(concepto, padre, nRenders,show)
                salida = salida + '</div>'
            return salida;
        }

        function RenderCardHeader(concepto) {
            var clean = removeAccents(concepto);
            var salida = '<div class="card-header" id="h-' + clean +'">'+
                          '<h6 class="mb-0">'+
                           '<a role="button" data-toggle="collapse" href="#' + clean + '" aria-controls="' + clean +'">'+
                             concepto +
                            '</a>' +
                           '</h6>' +
                          '</div>';
            return salida;
        }

        function RenderCollapse(concepto,padre, nRenders, show) {
            var clean = removeAccents(concepto);
            padre = removeAccents(padre);
            var salida = '<div id="' + clean + '" class="collapse ' + show +'" data-parent="#a-' + padre + '" aria-labelledby="h-' + clean + '">' +
                         '<div class="card-body">'+
                         '<div id="a-' + clean +'">'
            salida = salida + nRenders // + n veces RenderCard(concepto)
            //lista.forEach(element => salida = salida + RenderCard(element));
            salida = salida + '</div></div></div>';
            return salida;
        }
        var enlace = '<a class="m-3 enlaceFinal"  href="#pro"> Hola </a><br />';
        var enlace2 = '<a class="m-3 enlaceFinal" href="#pro"> Hola2 </a><br />';
        console.log(RenderEnlace("Enlace", "Territorio"))
        //console.log(RenderCard("Hola2", "contenido", RenderCard("Hola3", "Hola2", "") + RenderCard("Hola4", "Hola2", "")));
        //$("#a-contenido").append(RenderCard("Tema", "contenido", RenderCard("Escala", "Tema", RenderCard("Territorio", "Escala", RenderEnlace('Enlace'), 'show'), 'show'), 'show'));
        //$("#a-contenido").append(RenderCard("Tema2", "contenido", RenderCard("Escala2", "Tema2", RenderCard("Territorio2", "Escala2", "<h1>Entero weno 2</h1>"))));
        //temasUnico.map(AgregarTemas);
        //AgregarTemas('Hola')
        var lista = ['hola', 'hola2', 'hola3']

        
        const reducer2 = (accumulator, currentValue) => accumulator + currentValue;
        var htmlTema = "";
        for (var i = 0; i < temasUnico.length; i++) {
            console.log(temasUnico[i])
            var filtroTemas = datos.filter(x => x.tema == temasUnico[i])
            var escalas = filtroTemas.map(function (x) {
                return x.escala;
            });
            var escalasUnico = new Set(escalas);
            //console.log(temasUnico);
            escalasUnico = [...escalasUnico];
            console.log(escalasUnico)
            var htmlEscala = "";
            for (var k = 0; k < escalasUnico.length; k++) {
                var filtroEscala = filtroTemas.filter(x => x.escala == escalasUnico[k])
                var territorios = filtroTemas.map(function (x) {
                    return x.territorio;
                });
                var territoriosUnico = new Set(territorios);
                territoriosUnico = [...territoriosUnico];
                var htmlTerritorio = ""
                for (var l = 0; l < territoriosUnico.length; l++) {
                    //$("#a-contenido").append(temasUnico[i] + " " + escalasUnico[k] + " " + territoriosUnico[l] + "<br/>")
                    var filtroTerritorio = filtroTemas.filter(x => x.territorio == territoriosUnico[l])
                    var htmlEnlace = filtroTerritorio.map(RenderEnlace).reduce(reducer2,"")
                    //console.log(htmlEnlace)
                    var htmlTerritorio = htmlTerritorio + RenderCard(territoriosUnico[l], escalasUnico[k], htmlEnlace);
                    
                    //htmlTerritorio = htmlTerritorio + RenderCard(territoriosUnico[l], escalasUnico[k], htmlEnlace);
                }
                htmlEscala = htmlEscala + RenderCard(escalasUnico[k], temasUnico[i], htmlTerritorio);
                //$("#a-contenido").append(temasUnico[i] + " " + escalasUnico[k] + " " + "<br/>")
                //$("#a-contenido").append(htmlEscala)
                //htmlEscala = htmlEscala + RenderCard(territoriosUnico[l], "contenido", htmlTerritorio);                
                //htmlEscala = htmlEscala + RenderCard(escalasUnico[k], "contenido", htmlTerritorio);                    
                //$("#a-contenido").append(htmlTerritorio)
            }
            //$("#a-contenido").append(temasUnico[i]  + "<br/>")
            htmlTema = RenderCard(temasUnico[i], "contenido", htmlEscala);
            $("#a-contenido").append(htmlTema)
            //$("#a-contenido").append(htmlEscala) 
        }
    </script>
    <style>
        .enlaceFinal{
            color:black !important;
        }
    </style>
    
</body>
</html>

