@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="~/Scripts/Usuario/Coleccion.js"></script>



<script>
    function mostrador(seccion1) {
        var arreglo = [
            '#cosechas',
            '#empresas',
            '#empleados',
            '#produccion',
            '#precios',
            '#plantaciones',
            '#importaciones',
            '#exportaciones',
            '#rendimiento',
            '#graficocontenido'

        ];
        //arreglo.forEach
        jQuery.each(arreglo, function (i, val) {
            $(val).hide();
        });
        $(seccion1).show();
    }
</script>

<main class="container-fluid flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3 d-none d-md-block">
            <div class="border rounded-3 p-1 ulcolecciones">
                <h6 class="h6colecciones">Contenido de la coleción</h6>
                <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate ">
                    <li class="nav-item licolecciones">
                        <a onclick="mostrador('#cosechas');" class="nav-link px-2 text-truncate liacolecciones ">

                            <span class="lispancolecciones">Cosecha</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#empresas');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Empresas</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#empleados');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class=" lispancolecciones">Empleados</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#produccion');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Producción</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#precios');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Precios</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#plantaciones');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">plantaciones</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#importaciones');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Importaciones</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#exportaciones');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Exportación</span>
                        </a>
                    </li>
                    <li class="licolecciones">
                        <a onclick="mostrador('#rendimiento');" class="nav-link px-2 text-truncate liacolecciones">

                            <span class="lispancolecciones">Rendimiento</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col overflow-auto">
            @*Dropdaown MENU PARA MOVIL*@
            <div class="conteiner-fluid d-block d-md-none">
                <div class="row">
                    <div class="col-12 ddcolecciones">
                        <div class="dropdown ">
                            <a class="btn dropdown-toggle ddcolecciones" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Contenido de la coleción
                            </a>
                            <ul class="dropdown-menu ddcolecciones" aria-labelledby="dropdownMenuLink">
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#cosechas');" class="dropdown-item btn btn-light ddhcolecciones">Glaciares</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#empresas');" class="dropdown-item btn btn-light ddhcolecciones">Ganadería</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#empleados');" class="dropdown-item btn btn-light ddhcolecciones">Salud: Enfermedades</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#produccion');" class="dropdown-item btn btn-light ddhcolecciones">Violencia contra la mujer</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#precios');" class="dropdown-item btn btn-light ddhcolecciones">Pesca</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#importaciones');" class="dropdown-item btn btn-light ddhcolecciones">Agricultura</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#educacion');" class="dropdown-item btn btn-light ddhcolecciones">Educación</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#exportaciones');" class="dropdown-item btn btn-light ddhcolecciones">Emisiones</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#rendimiento');" class="dropdown-item btn btn-light ddhcolecciones">Salud: Pandemia</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#elecciones');" class="dropdown-item btn btn-light ddhcolecciones">Elecciones</a></li>
                                <li style="border-bottom:1px solid #d1d3de"><a onclick="mostrador('#contaminacion');" class="dropdown-item btn btn-light ddhcolecciones">Contaminación</a></li>
                                <li><a onclick="mostrador('#ingresoscasen');" class="dropdown-item btn btn-light ddhcolecciones">Ingresos según CASEN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*FIN MENU PARA MOVIL*@
            <div class="bg-light border rounded-3 p-3">

                <div id="plantaciones">
                    @{ Html.RenderAction("Tematica", "Data_Usuario");}
                </div>
                <div id="cosechas" style="display:none">
                    @{ Html.RenderAction("Cosecha", "Data_Usuario");}
                </div>
                <div id="empresas" style="display:none">
                    @{ Html.RenderAction("Empresas", "Data_Usuario");}
                </div>
                <div id="empleados" style="display:none">
                    @{ Html.RenderAction("Empleados", "Data_Usuario");}
                </div>
                <div id="produccion" style="display:none">
                    @{ Html.RenderAction("Produccion", "Data_Usuario");}
                </div>
                <div id="precios" style="display:none">
                    @{ Html.RenderAction("Precios", "Data_Usuario");}
                </div>
                <div id="importaciones" style="display:none">
                    @{ Html.RenderAction("Importaciones", "Data_Usuario");}
                </div>
                <div id="exportaciones" style="display:none">
                    @{ Html.RenderAction("Exportaciones", "Data_Usuario");}
                </div>
                <div id="rendimiento" style="display:none">
                    @{ Html.RenderAction("Rendimiento", "Data_Usuario");}
                </div>
            </div>

        </div>
        <div class="container-fluid mt-3" style="background-color: #C6CCDC; height:auto">
            <div class="row justify-content-center" style="padding-top:3%; padding-bottom:1%;">
                <div class="col-10 col-md-3" style="padding-left:6%;">
                    <!--Buscador -->
                    <form action="~/Data_Usuario/PaginaBusqueda" method="get">
                        <input type="text" id="id" name="id" placeholder="Busqueda de palabras claves" style="padding: 6px; border: none; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                        <button id="search-button" type="submit" value="Submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                </div>
                <div class="col-10 col-md-3 text-left">
                    <h4 style="color:black; font-size:1.2rem;"><b>¡Explora, busca y encuentra!</b></h4>
                    <p>todo nuestro universo de datos</p>
                </div>
                <div class="col-8 mb-3 col-md-2  offset-1">
                    <img class="img-fluid" src="~/Content/img/negro-rojo-trans - copia.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</main>











