<div class="container">
    <div class="row mt-md-5">
        <div class="col-md-2">
            <img class="img-fluid" src="~/Content/img/Imagenes_temas_colecciones/recuadrosweb_Agricultura_empleados.png" />
        </div>
        <div class="col-md-3 d-flex">
            <h5 style="align-self:center;"><b>EMPLEADOS</b></h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mt-md-3">
            <h5><b>Temas</b> </h5>
            <div class="col">
                <style>
                    @@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

                    .mb-0 > a {
                        display: block;
                        position: relative;
                    }

                        .mb-0 > a:after {
                            content: "\f078"; /* fa-chevron-down */
                            font-family: 'FontAwesome';
                            position: absolute;
                            right: 0;
                        }

                        .mb-0 > a[aria-expanded="true"]:after {
                            content: "\f077"; /* fa-chevron-up */
                        }
                </style>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="heading-1">
                            <h6 class="mb-0" style="font-size:0.9rem;">
                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                    Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                            <div class="card-body">

                                <div id="accordion-1">
                                    <div class="card">
                                        <div class="card-header" id="heading-1-1">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                                    Terminal La Palmera de la Serena
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                                            <div class="card-body">

                                                <div id="accordion-1-1">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1-1-1">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
                                                                    Item 1 > 1 > 1
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 1
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1-1-2">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-2" aria-expanded="false" aria-controls="collapse-1-1-2">
                                                                    Item 1 > 1 > 2
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-1-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-2">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 2
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1-1-3">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-3" aria-expanded="false" aria-controls="collapse-1-1-3">
                                                                    Item 1 > 1 > 3
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-1-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-3">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 3
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading-1-2">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                                                    Terminal Agrícola del Norte S.A. de Arica
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                                            <div class="card-body" style="font-size:0.9rem;">
                                                Text 1 > 2
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-2">
                            <h6 class="mb-0" style="font-size:0.9rem;">
                                <a role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                    Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                            <div class="card-body">

                                <div id="accordion-4">
                                    <div class="card">
                                        <div class="card-header" id="heading-2-1-1-1">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-1-1" aria-expanded="false" aria-controls="collapse-2-1-1-1">
                                                    Terminal La Palmera de la Serena
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-2-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-2-1-1-1">
                                            <div class="card-body">

                                                <div id="accordion-2-1-1">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-2-1-1">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-1" aria-expanded="false" aria-controls="collapse-2-1-1">
                                                                    Item 1 > 1 > 1
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-2-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-1">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 1
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-2-1-2">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-2" aria-expanded="false" aria-controls="collapse-2-1-2">
                                                                    Item 1 > 1 > 2
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-2-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-2">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 2
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-2-1-3">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1-3" aria-expanded="false" aria-controls="collapse-2-1-3">
                                                                    Item 1 > 1 > 3
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-2-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-2-1-3">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 3
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading-2-2">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                                    Terminal Agrícola del Norte S.A. de Arica
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-2-2">
                                            <div class="card-body" style="font-size:0.9rem;">
                                                Text 1 > 2
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h6 class="mb-0" style="font-size:0.9rem;">
                                <a role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                    Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                            <div class="card-body">

                                <div id="accordion-3">
                                    <div class="card">
                                        <div class="card-header" id="heading-3-1-1-1">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-1-1" aria-expanded="false" aria-controls="collapse-3-1-1-1">
                                                    Terminal La Palmera de la Serena
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-3-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-3-1-1-1">
                                            <div class="card-body">

                                                <div id="accordion-3-1-1">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-3-1-1">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-1" aria-expanded="false" aria-controls="collapse-3-1-1">
                                                                    Item 1 > 1 > 1
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-3-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-1">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 1
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-3-1-2">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-2" aria-expanded="false" aria-controls="collapse-3-1-2">
                                                                    Item 1 > 1 > 2
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-3-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-2">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 2
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-3-1-3">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1-3" aria-expanded="false" aria-controls="collapse-3-1-3">
                                                                    Item 1 > 1 > 3
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-3-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-3-1-3">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 3
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading-3-2">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                                                    Terminal Agrícola del Norte S.A. de Arica
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-3-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-3-2">
                                            <div class="card-body" style="font-size:0.9rem;">
                                                Text 1 > 2
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-4">
                            <h6 class="mb-0" style="font-size:0.9rem;">
                                <a role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                    Precio diario de fruta en el mercado mayorista || Chile || 2021 por mercado mayorista
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                            <div class="card-body">

                                <div id="accordion-4">
                                    <div class="card">
                                        <div class="card-header" id="heading-4-1-1-1">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-1-1" aria-expanded="false" aria-controls="collapse-4-1-1-1">
                                                    Terminal La Palmera de la Serena
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-4-1-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-4-1-1-1">
                                            <div class="card-body">

                                                <div id="accordion-4-1-1">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-4-1-1">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-1" aria-expanded="false" aria-controls="collapse-4-1-1">
                                                                    Item 1 > 1 > 1
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-4-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-1">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 1
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-4-1-2">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-2" aria-expanded="false" aria-controls="collapse-4-1-2">
                                                                    Item 1 > 1 > 2
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-4-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-2">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 2
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-4-1-3">
                                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-1-3" aria-expanded="false" aria-controls="collapse-4-1-3">
                                                                    Item 1 > 1 > 3
                                                                </a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapse-4-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-4-1-3">
                                                            <div class="card-body" style="font-size:0.9rem;">
                                                                Text 1 > 1 > 3
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading-4-2">
                                            <h6 class="mb-0" style="font-size:0.9rem;">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4-2" aria-expanded="false" aria-controls="collapse-4-2">
                                                    Terminal Agrícola del Norte S.A. de Arica
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-4-2" class="collapse" data-parent="#accordion-4" aria-labelledby="heading-4-2">
                                            <div class="card-body" style="font-size:0.9rem;">
                                                Text 1 > 2
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

