
@{
    ViewBag.Title = "semanario_Glaciares";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}


<!doctype html>
<html amp lang="es">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Index AMP</title>
    <link rel="canonical" href="https://www.dataintelligence-group.com/marketing/index">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "NewsArticle",
          "headline": "Article headline",
          "datePublished": "2021-11-20T12:02:41Z",
               "image": [
            "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
              ],
            "author": {
                "@@type": "Organization",
                "name": "Data Intelligence",
                "url": "https://www.dataintelligence-group.com/Data/Index"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "DI",
            "logo": {
            "@@type": "ImageObject",
            "url": "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
            }
        }
        }
    </script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <script async custom-element="amp-base-carousel" src="https://cdn.ampproject.org/v0/amp-base-carousel-0.1.js"></script>

    <style amp-custom>
        :root {
            --bg-color: Black;
            --text-color: white;
        }


        .seccion2 {
            color: var(--text-color);
            background-color: var(--bg-color);
        }

        .scroll {
            max-height: 50vh;
            overflow: hidden;
        }

            .scroll:hover {
                overflow-y: scroll;
            }

            .scroll::-webkit-scrollbar {
                width: 12px; /* ancho scrollbar */
            }

            .scroll::-webkit-scrollbar-track {
                background: #878787; /*color area fondo scroll*/
            }

            .scroll::-webkit-scrollbar-thumb {
                background-color: white; /* color scroll */
                border-radius: 20px; /* bordes del scroll */
                /*border: 3px solid orange;*/ /*color del border scroll  */
            }

        @@media (min-width: 768px) {
            .carousel-indicators {
                top: 70vh;
            }
        }

        @@media (max-width: 768px) {
            .carousel-indicators {
                top: 65vh;
            }
        }

        amp-fit-text {
            white-space: normal;
        }

        .amp-carousel-button {
            display: none
        }

        .textotitulo {
            margin: 0 20px;
        }

        .textop {
            margin: 0 20px;
        }

        .seccioncarrusel {
            background-color: #B1C5DD;
            color: white;
            text-align: center;
        }

        .sombreado {
            filter: contrast(0.4) brightness(150%);
        }
    </style>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
</head>


<body>
    <div class="mt-3 textotitulo">
        <h4>
            <strong>SEMANARIO GLACIARES DE DATA INTELLIGENCE</strong>
        </h4>
        <p>
            <b>Dinámicas de cambio de los complejos glaciares de la Región de Los Lagos</b>
        </p>
    </div>

    <div>
        <a href="https://dataintelligence.store/products/semanario-de-glaciares" target="_blank">
            <amp-img src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_1.jpg" width="220" height="250" layout="responsive"></amp-img>
        </a>
    </div>

    <div>
        <amp-img src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_2.jpg" width="220" height="250" layout="responsive"></amp-img>
    </div>
    <div>
        <a href="https://dataintelligence.store/products/semanario-de-glaciares?variant=42386418663683" target="_blank">
            <amp-img src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_3.jpg" width="220" height="250" layout="responsive"></amp-img>
        </a>
    </div>
    <div class="seccioncarrusel">
        <p class="h5 textop pt-4">
            <strong>Contenido del Semanario Glaciares</strong>
        </p>
        <amp-carousel class="nextwebinar pt-2" controls="never" dir="ltr" visible-count="1" advance-count="1" width="180" height="110" layout="responsive" type="slides" role="region" aria-label="looping carousel" autoplay delay="5000" slide="1">
            @*SEMANA 1*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_1.png">
                </amp-img>
            </a>
            @*SEMANA 2*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares?variant=42386418663683">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_2gratis.png">
                </amp-img>
            </a>
            @*SEMANA 3*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_3.png">
                </amp-img>
            </a>
            @*SEMANA 4*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_4.png">
                </amp-img>
            </a>
            @*MES 2*@
            @*SEMANA 5*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_5.png">
                </amp-img>
            </a>
            @*SEMANA 6*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_6.png">
                </amp-img>
            </a>
            @*SEMANA 7*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_7.png">
                </amp-img>
            </a>
            @*SEMANA 8*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_8.png">
                </amp-img>
            </a>
            @*MES 3*@
            @*SEMANA 9*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_9.png">
                </amp-img>
            </a>
            @*SEMANA 10*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_10.png">
                </amp-img>
            </a>
            @*SEMANA 11*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_11.png">
                </amp-img>
            </a>
            @*SEMANA 12*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_12.png">
                </amp-img>
            </a>
            @*MES 4*@
            @*SEMANA 13*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_13.png">
                </amp-img>
            </a>
            @*SEMANA 14*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_14.png">
                </amp-img>
            </a>
            @*SEMANA 15*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_15.png">
                </amp-img>
            </a>
            @*SEMANA 16*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_16.png">
                </amp-img>
            </a>
            @*MES 5*@
            @*SEMANA 17*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_17.png">
                </amp-img>
            </a>
            @*SEMANA 18*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_18.png">
                </amp-img>
            </a>
            @*SEMANA 19*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_19.png">
                </amp-img>
            </a>
            @*SEMANA 20*@
            <a class="pt-5" href="https://dataintelligence.store/products/semanario-de-glaciares">
                <amp-img width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_20.png">
                </amp-img>
            </a>
            @*SEMANA 21*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_21.png">
                </amp-img>
            </a>
            @*SEMANA 22*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_22.png">
                </amp-img>
            </a>
            @*SEMANA 23*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_23.png">
                </amp-img>
            </a>
            @*SEMANA 24*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_24.png">
                </amp-img>
            </a>
            @*SEMANA 25*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_25.png">
                </amp-img>
            </a>

            @*SEMANA 26*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_26.png">
                </amp-img>
            </a>

            @*SEMANA 27*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_27.png">
                </amp-img>
            </a>
            @*SEMANA 28*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_28.png">
                </amp-img>
            </a>

            @*SEMANA 29*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_29.png">
                </amp-img>
            </a>

            @*SEMANA 30*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_30.png">
                </amp-img>
            </a>
            @*SEMANA 31*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_31.png">
                </amp-img>
            </a>
            @*SEMANA 32*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_32.png">
                </amp-img>
            </a>
            @*SEMANA 33*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_33.png">
                </amp-img>
            </a>
            @*SEMANA 34*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_34.png">
                </amp-img>
            </a>
            @*SEMANA 35*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_35.png">
                </amp-img>
            </a>
            @*SEMANA 36*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_36.png">
                </amp-img>
            </a>

            @*SEMANA 37*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_37.png">
                </amp-img>
            </a>

            @*SEMANA 38*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_38.png">
                </amp-img>
            </a>
            @*SEMANA 39*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_39.png">
                </amp-img>
            </a>

            @*SEMANA 40*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_40.png">
                </amp-img>
            </a>

            @*SEMANA 41*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_41.png">
                </amp-img>
            </a>
            @*SEMANA 42*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_42.png">
                </amp-img>
            </a>
            @*SEMANA 43*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_43.png">
                </amp-img>
            </a>
            @*SEMANA 44*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_44.png">
                </amp-img>
            </a>
            @*SEMANA 45*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_45.png">
                </amp-img>
            </a>
            @*SEMANA 46*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_46.png">
                </amp-img>
            </a>
            @*SEMANA 47*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_47.png">
                </amp-img>
            </a>

            @*SEMANA 48*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_48.png">
                </amp-img>
            </a>

            @*SEMANA 49*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_49.png">
                </amp-img>
            </a>
            @*SEMANA 50*@
            <a class="pt-5" href="#">
                <amp-img class="sombreado" width="155" height="150" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_50.png">
                </amp-img>
            </a>
        </amp-carousel>
    </div>

    <script>
        ActivarMenuSuperior4("#public_semanario")
    </script>
</body>
</html>