@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}
<!--SEMANARIOS-->
<link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link href="~/Content/Carrusel_Semanarios/owl.carousel.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<!--flechas carusel-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous" />

<!--flechas carusel-->
<!--SEMANARIOS-->
<section class="img-principal container-fluid">
    <div class="row texto-principal">
        <div class="col-md-3 ">
            <p>
                Semanarios Data Intelligence es una NUEVA HERRAMIENTA de información interactiva
                ideal para el uso diario en el ámbito privado, público, comercial y académico.
            </p>
            <p>
                Permite acceder a INDICADORES CLAVES de acuerdo a tu sector de interés, que
                son actualizados cada semana a nivel nacional y regional.
            </p>
            <p>
                Incluye GRÁFICOS INTERACTIVOS de fácil uso y análisis. Buscamos que sea un
                material de consulta que pueda acompañar tu día a día.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid slider-frutas">
    <div class="row ">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                ¡Contamos con una PRUEBA GRATUITA en cada uno de los Semanarios!
            </p>
        </div>
    </div>
    <div class="wrapper">

        <div class="carousel owl-carousel owl-theme carrusel">
            <div class="card card-1">
                <a href="~/SEMANARIO/semanario_Agro" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_AgroFrutas.png" /></a>
            </div>
            <div class="card card-14">
                <a href="~/SEMANARIO/semanario_Impuestos"><img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_RindenImpuestos.png" /></a>
            </div>
            <div class="card card-2">
                <a href="~/SEMANARIO/Focos_Fuego"><img class="img-fluid" src="~/Images/SEMANARIO/ICONO_azul_semanarioFOCOSdeFUEGO.png" /></a>
            </div>
            <div class="card card-9 ">
                <a href="~/SEMANARIO/Glaciares"><img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Glaciares.png" /></a>
            </div>
            <div class="card card-2">
                <a href="~/SEMANARIO/areas_protegidas"><img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_AreasProtegidas.png" /></a>
                @*<img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_AreasProtegidas.png" />*@

            </div>
            <div class="card card-3 mask2">

                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Denuncias&Sentencias.png" />
            </div>
            <div class="card card-4 mask2">

                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Educacion.png" />
            </div>
            <div class="card card-5 mask2">

                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Energia.png" />
            </div>
            <div class="card card-6 mask2">

                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_EstadisticasEconomicas.png" />
            </div>

            <div class="card card-7 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_GasesGEI.png" />
            </div>
            <div class="card card-8 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Genero.png" />
            </div>
            <div class="card card-9 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Glaciares.png" />
            </div>
            <div class="card card-10 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Incendios.png" />
            </div>
            <div class="card card-11 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Patentes.png" />
            </div>
            <div class="card card-12 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_PoliticaEconomica.png" />
            </div>
            <div class="card card-13 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_PueblosOriginarios.png" />
            </div>

            <div class="card card-15 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Transparencia.png" />
            </div>
            <div class="card card-16 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_UrgenciasSalud.png" />
            </div>
            <div class="card card-17 mask2">
                <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_VariacionesClimaticas.png" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mb-5">
            <p class="h5 mt-5">
                Te invitamos a conocer esta NUEVA HERRAMIENTA de Data Intelligence.
                Cada semana se integran nuevos elementos a nuestra colección de semanarios.
            </p>
        </div>
    </div>
</section>
<!--Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom JS code after importing jquery and owl -->
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });

    $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        margin: 10,
        nav: true,
        /*       navText: ["<div class='nav-btn prev-slide' style='color:#ffffff'>Anterior</div>", "<div class='nav-btn next-slide'style='color:#ffffff'>Siguiente</div>"],*/
        navText: ["<i class='fa fa-chevron-left' style='font-size:2rem;color:#ffffff'></i>", "<i class='fa fa-chevron-right'style='font-size:2rem;color:#ffffff'></i>"],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 4
            }
        }
    })
</script>

<script src="~/Scripts/semanarioSlider/semanarioAgro.js"></script>

<script>
    ActivarMenuSuperior4("#public_semanario")
</script>