@{
    ViewBag.Title = "semanario_Agro";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<link href="~/Content/Carrusel_Semanarios/owl.carousel.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<!--flechas carusel-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous" />

<!--flechas carusel-->
<!--SEMANARIOS-->
<section class="container">

    <div class="row ">
        <div class="col-md-12 mt-5">
            <h4>
                <strong>SEMANARIO AGROFRUTAS DE DATA INTELLIGENCE</strong>
            </h4>
            <p>
                <b>¡Información actualizada de las 22 frutas del mercado chileno!</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/Semanario_AGROFRUTA_IMAGEN1.jpg" /></a>
        </div>
        <div class="col-12 col-md-4 img-contenido">
            <img class="img-fluid" src="~/Images/SEMANARIO/Semanario_AGROFRUTA_IMAGEN2.jpg" />
        </div>
        <div class="col-12 col-md-4 img-contenido">
            <a href="https://dataintelligence.store/products/semanario-del-agro?variant=42244674322691" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/Semanario_AGROFRUTA_IMAGEN3.jpg" /></a>
        </div>
    </div>
</section>
<section class="slider-frutas container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                Todas las frutas del Semanario Agrofrutas
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="carousel owl-carousel owl-theme">
            <!--MES1-->
            <!--SEMANA1-->
            <div class="card card-1 ">
                <a href="https://dataintelligence.store/products/semanario-del-agro?variant=42244674322691" target="_blank"> <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Arandano.png" /></a>
            </div>
            <div class="card ">
                <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Frambuesa.png" /></a>
            </div>
            <div class="card ">
                <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Kiwi.png" /></a>
            </div>

            <!--SEMANA2-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Pomelo.png" /></a>
            </div>
            <!--SEMANA3-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Damasco.png" /></a>
            </div>
            <!--SEMANA4-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Palta.png" /></a>
            </div>
            <!--MES2-->
            <!--SEMANA5-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Mango.png" /></a>
            </div>
            <!--SEMANA6-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Platano.png" /></a>
            </div>
            <!--SEMANA7-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_ViddeMesa.png" /></a>
            </div>
            <!--SEMANA8-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Frutilla.png" /></a>
            </div>
            <!--MES3-->
            <!--SEMANA9-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Higo.png" /></a>
            </div>
            <!--SEMANA10-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Mora.png" /></a>
            </div>
            <!--SEMANA11-->
            <div class="card">

                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Limon.png" /></a>
            </div>
            <!--SEMANA12-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Mandarina.png" /></a>
            </div>
            <!--MES4-->
            <!--SEMANA13-->
            <div class="card">

                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Cereza.png" /></a>
            </div>
            <!--SEMANA14-->
            <div class="card ">

                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Ciruela.png" /></a>
            </div>
            <!--SEMANA15-->
            <div class="card ">

                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Durazno.png" /></a>
            </div>
            <!--SEMANA16-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Nectarin.png" /></a>
            </div>

            <!--MES5-->
            <!--SEMANA17-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Manzana.png" /></a>
            </div>
            <!--SEMANA18-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"> <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Pera.png" /></a>
            </div>
            <!--SEMANA19-->
            <div class="card">

                <a href="https://dataintelligence.store/products/semanario-del-agro"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Chirimoya.png" /></a>
            </div>
            <!--SEMANA20-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-del-agro"> <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Papaya.png" /></a>
            </div>

            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Breva.png" />
                </div>*@
            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Caqui.png" />
                </div>*@

            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Granada.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Guayaba.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Maracuya.png" />
                </div>*@
            @*<div class="card mask1 ">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Membrillo.png" />
                </div>
            *@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Naranja.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Nispero.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_PeraAsiatica.png" />
                </div>*@

            @*<div class="card mask1 ">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Tumbo.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Tuna.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Uva.png" />
                </div>*@
        </div>
    </div>
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Se explica que el valor es de 10 dólares y si desea podrá ver todas las 33 frutas
                        gratuitas por xx horas/días. Debe escribir su nombre y mail. Pasa al proceso para entrar
                        a la <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank">suscripción</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom JS code after importing jquery and owl -->
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });

    $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        margin: 10,
        nav: true,
        /*       navText: ["<div class='nav-btn prev-slide' style='color:#ffffff'>Anterior</div>", "<div class='nav-btn next-slide'style='color:#ffffff'>Siguiente</div>"],*/
        navText: ["<i class='fa fa-chevron-left' style='font-size:2rem;color:#ffffff'></i>", "<i class='fa fa-chevron-right'style='font-size:2rem;color:#ffffff'></i>"],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 4
            }
        }
    })
</script>

<script src="~/Scripts/semanarioSlider/semanarioAgro.js"></script>
<script>
    ActivarMenuSuperior4("#public_semanario")
</script>