@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";    
}


<div class="container" style="min-height:70vh;">
    <div class="row mt-5">

        <div class="col-12">
            <hgroup class="title" style="text-align:center">
                <h1>@ViewBag.Title.</h1>
            </hgroup>

        </div>
        <div class="col-12" style="text-align:center; ">
            <h6>
                Compruebe el correo electrónico para restablecer la contraseña.
            </h6>
        </div>
        <div class="col-12 mt-5" style="text-align:start;line-height : 45px; ">
            <p>
                Saludos. <br />
                Hemos recibido una solicitud para recuperar la contraseña de tu cuenta <br />
                Si por cualquier razón no puede ingresar a tu correo comunicate con nosotros para solucionar el problema de la manera más rapida posible.

            </p>
        </div>
    </div>
</div>

<script>
    ActivarMenuSuperior4("#public_dataAcceso")
</script>
