@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<link href="~/Content/Carrusel_Semanarios/owl.carousel.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<!--SEMANARIOS Glaciares-->
<section class="container">

    <div class="row ">
        <div class="col-md-12 mt-5">
            <h4>
                <strong>
                    SEMANARIO GLACIARES DE DATA INTELLIGENCE
                </strong>
            </h4>
            <p>
                <b>
                    Dinámicas de cambio de los complejos glaciares de la Región de Los Lagos
                </b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <a href="https://dataintelligence.store/products/semanario-de-glaciares" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_1.jpg" /></a>
        </div>

        <div class="col-12 col-md-4 img-contenido">
            <img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_2.jpg" />
        </div>
        <div class="col-12 col-md-4 img-contenido">
            <a href="https://dataintelligence.store/products/semanario-de-glaciares?variant=42386418663683" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_glaciares_celular_3.jpg" /></a>
        </div>
    </div>
</section>
<section class="slider-Glaciares container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                Contenido del Semanario Glaciares
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="carousel owl-carousel ">
            <!--MES1-->
            <!--SEMANA1-->

            <div class="card ">
                <a href="https://dataintelligence.store/products/semanario-de-glaciares" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_1.png" /></a>
            </div>

            <!--SEMANA2-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-de-glaciares?variant=42386418663683" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_2gratis.png" /></a>
            </div>
            <!--SEMANA3-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-de-glaciares" target="_blank"> <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_3.png" /></a>
            </div>
            <!--SEMANA4-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-de-glaciares"><img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_4.png" /></a>
            </div>
            <!--MES2-->
            <!--SEMANA5-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-de-glaciares"><img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_5.png" /></a>
            </div>
            <!--SEMANA6-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_6.png" />
            </div>
            <!--SEMANA7-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_7.png" />
            </div>
            <!--SEMANA8-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_8.png" />
            </div>
            <!--MES3-->
            <!--SEMANA9-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_9.png" />
            </div>
            <!--SEMANA10-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_10.png" />
            </div>
            <!--SEMANA11-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_11.png" />
            </div>
            <!--SEMANA12-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_12.png" />
            </div>
            <!--MES4-->
            <!--SEMANA13-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_12.png" />
            </div>
            <!--SEMANA14-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_14.png" />
            </div>
            <!--SEMANA15-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_15.png" />
            </div>
            <!--SEMANA16-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_16.png" />
            </div>
            <!--MES5-->
            <!--SEMANA17-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_17.png" />
            </div>
            <!--SEMANA18-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_18.png" />
            </div>
            <!--SEMANA19-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_19.png" />
            </div>
            <!--SEMANA20-->
            <div class="card">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_20.png" />
            </div>
            <!--SEMANA21-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_21.png" />
            </div>
            <!--SEMANA22-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_22.png" />
            </div>
            <!--SEMANA23-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_23.png" />
            </div>
            <!--SEMANA24-->
            <div class="card">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_24.png" />
            </div>
            <!--SEMANA25-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_25.png" />
            </div>
            <!--SEMANA26-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_26.png" />
            </div>
            <!--SEMANA27-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_27.png" />
            </div>
            <!--SEMANA28-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_28.png" />
            </div>
            <!--SEMANA29-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_29.png" />
            </div>
            <!--SEMANA30-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_30.png" />
            </div>
            <!--SEMANA31-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_31.png" />
            </div>
            <!--SEMANA32-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_32.png" />
            </div>
            <!--SEMANA33-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_33.png" />
            </div>
            <!--SEMANA34-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_34.png" />
            </div>
            <!--SEMANA35-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_35.png" />
            </div>
            <!--SEMANA36-->
            <div class="card ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_36.png" />
            </div>
            <!--SEMANA37-->
            <div class="card">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_37.png" />
            </div>
            <!--SEMANA38-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_38.png" />
            </div>
            <!--SEMANA39-->
            <div class="card">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_39.png" />
            </div>
            <!--SEMANA40-->
            <div class="card">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_40.png" />
            </div>
            <!--SEMANA41-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_41.png" />
            </div>
            <!--SEMANA42-->
            <div class="card mask1 ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_42.png" />
            </div>
            <!--SEMANA43-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_43.png" />
            </div>
            <!--SEMANA44-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_44.png" />
            </div>
            <!--SEMANA45-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_45.png" />
            </div>
            <!--SEMANA46-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_46.png" />
            </div>
            <!--SEMANA47-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_47.png" />
            </div>
            <!--SEMANA48-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_48.png" />
            </div>
            <!--SEMANA49-->
            <div class="card ">
                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_49.png" />
            </div>
            <!--SEMANA50-->
            <div class="card  ">
                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_50.png" />
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Se explica que el valor es de 10 dólares y si desea podrá ver todas las 33 frutas
                        gratuitas por xx horas/días. Debe escribir su nombre y mail. Pasa al proceso para entrar
                        a la <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank">suscripción</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/semanarioSlider/semanarioAgro.js"></script>
<script>
    ActivarMenuSuperior4("#public_semanario")
</script>