
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutViolencia_contra_la_mujer.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAQ</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="padding:3%;font-weight:bold;">
            Preguntas Frecuentes
        </h1>
        <p>
            En Data Intelligence encontrarás múltiples productos para diversos temas de interés, estudio, análisis o monitoreo.
            <br />
            <br />
            ¿Tienes algunas dudas? Aquí te dejamos una lista de preguntas frecuentes y en caso de que quieras saber algo más escríbenos a <strong>contacto@dataintelligence-group.com</strong>
            <br />
            <br />
            <br />

            <strong>DEFINICIONES</strong>
            <br />
            <br />


            <strong>· ¿Qué es una colección?</strong>
            <br />
            <br />
            Una colección corresponde a un grupo de productos que forman parte de una misma temática o área de observación que se encuentra disponible en nuestro catálogo.
            <br />
            <br />


            <strong>·       ¿Qué es una dimensión?</strong>
            <br />
            <br />
            Las dimensiones están asociadas a los enfoques donde están centrados cada uno de los productos que están disponibles en el catálogo. Lo que permite que puedas elegir de manera más específica en relación con tus necesidades o intereses.
            <br />
            <br />




            <strong>PROCESO DE COMPRA Y DEVOLUCIÓN</strong>
            <br />
            <br />


            <strong>·       ¿Me debo registrar cada vez que hago una compra?</strong>
            <br />
            <br />
            Sí, necesitamos contar con tus datos de registro para hacer envío de tu producto (link de acceso) y para asistir cualquier requerimiento de acuerdo a tu orden.
            <br />
            <br />


            <strong>·       ¿En cuanto tiempo recibo el producto que compré?</strong>
            <br />
            <br />
            Luego de comprar tu producto tiene una estimación de envío de 5 a 10 minutos. En caso de que no sea así, te pedimos verificar tu conexión a internet y chequear tu casilla de spam/promociones. En caso de que no esté ahí puedes escribirnos a soporte@dataintelligence-group.com o contactarnos vía telefónica o whatsapp (contactos y horarios aquí).
            <br />
            <br />


            <strong>·       ¿Cómo puedo acceder a mi producto luego de comprarlo?</strong>
            <br />
            <br />
            Te llegará un correo con las indicaciones y url para acceder y activar tu producto. Completarás un formulario para validar el proceso y listo. Ya podrás usar tu producto en cualquier dispositivo. Te sugerimos revisar spam o promociones, en caso de no recibir el correo escríbenos a soporte@dataintelligence-group.com o contáctanos vía telefónica o whatsapp (contactos y horarios aquí).
            <br />
            <br />


            <strong>·       ¿Qué puedo hacer si una plataforma que compré no funciona correctamente?</strong>
            <br />
            <br />
            Debes identificar qué error estás visualizando y escribirnos a soporte@dataintelligence-group.com o contáctanos vía telefónica o whatsapp (contactos y horarios aquí). Nos comprometemos a responder lo antes posible. En un plazo máximo de 24 a 48 horas, te entregaremos una solución o guía para que puedas hacer un correcto uso de la plataforma adquirida.
            <br />
            <br />


            <strong>·       ¿Qué pasa si el producto no era lo que esperaba? ¿Me devuelven el dinero?</strong>
            <br />
            <br />
            Al momento de elegir tu producto te presentamos una ficha técnica que debes revisar para comprender de qué se trata y qué abarca el producto. En caso de que lo indicado en dicha ficha técnica no cumpla con lo que puedes ver o realizar con el producto al momento de usarlo, realizaremos el proceso de devolución. Además, te enviaremos de manera gratuita un producto similar para que lo puedas probar por 15 días.
            <br />
            <br />




            <strong>PRODUCTOS</strong>
            <br />
            <br />


            <strong>·       ¿Necesito instalar algún programa para poder acceder a los productos?</strong>
            <br />
            <br />
            No, no es necesario que instales ningún programa en particular. Solo debes contar con internet para acceder desde cualquier dispositivo.
            <br />
            <br />


            <strong>·       ¿Cuánto tiempo de duración tiene un producto pagado?</strong>
            <br />
            <br />
            Esto depende de la licencia establecida por cada producto, dentro de cada uno podrás encontrar una ficha técnica donde se indica el tiempo de duración que tiene tu producto. Puede ser de 6 a 12 meses, con la posibilidad de renovación.
            <br />
            <br />


            <strong>·       ¿Cuánto tiempo de duración tiene un producto gratuito?</strong>
            <br />
            <br />
            Esto depende de lo que la empresa determine. En el caso de los productos gratuitos estarán disponibles en un periodo determinado. Esto lo podrás encontrar en la ficha técnica del producto.
            <br />
            <br />


            <strong>·       ¿Cuál es la frecuencia de actualización de la información que contienen los productos?</strong>
            <br />
            <br />
            Cada una de las plataformas cuenta con periodos de actualización diferentes, debido a la disponibilidad de los datos y definición del tipo de producto, si es de acceso liberado o pagado. Esta información la puedes revisar en la ficha de cada producto.
            <br />
            <br />


            <strong>·       ¿Qué bases de datos utilizan para elaborar los productos?</strong>
            <br />
            <br />
            Trabajamos con bases de datos de fuentes públicas y propias. Ambas con procesos de verificación y transparencia correspondientes. En la ficha técnica del producto podrás encontrar el detalle de las fuentes utilizadas en cada producto.
            <br />
            <br />


            <strong>·       ¿Puedo descargar la base de datos de un producto?</strong>
            <br />
            <br />
            No, no es posible esta opción.
            <br />
            <br />


            <strong>·       ¿Puedo usar los gráficos, mapas o dashboard en alguna presentación, proyecto o estudio que estoy elaborando?</strong>
            <br />
            <br />
            Sí, solo debes citarnos como Data Intelligence.
            <br />
            <br />


            <strong>·       ¿Quién elabora las plataformas?</strong>
            <br />
            <br />
            Todas las plataformas disponibles en el catálogo de Data Intelligence son de elaboración propia. Desde el proceso de elección del contenido hasta la visualización final que el usuario puede observar y usar.
            <br />
            <br />


            <strong>·       ¿Las plataformas se pueden ver en cualquier dispositivo?</strong>
            <br />
            <br />
            Sí, se pueden ver en desktop, laptop, tablet, móvil, smart TV o pantallas externas. Algunas debido a la cantidad de información que poseen es mejor visualizarlas en pantallas desde tablet hacia arriba, puesto que en un móvil no se podrá apreciar bien todo su detalle.
            <br />
            <br />




            <strong>SERVICIOS Y VENTAS CORPORATIVAS</strong>
            <br />
            <br />


            <strong>·       Si necesito una plataforma que no está en la tienda ¿puedo hacer una solicitud especial?</strong>
            <br />
            <br />
            Sí, puedes enviarnos un correo a  ventas@dataintelligence-group.com    o contáctanos vía telefónica ( contacto y horario aquí)    para contarnos qué es lo que necesitas. Nuestro equipo especializado coordinará una reunión para ver tu solicitud en detalle a fin de formular la plataforma que requieras.
            <br />
            <br />


            <strong>·       ¿Qué pasa si necesito habilitar una gran cantidad de usuarios para toda mi empresa o institución, pero manteniendo un solo cliente de pago?</strong>
            <br />
            <br />
            Te puedes comunicar con nuestra área de ventas corporativas escribiéndonos a ventas@dataintelligence-group.com o llamándonos (contacto y horario aquí) para coordinar la entrega de credenciales específicas para todo tu equipo junto con los accesos a todos los productos que requieran adquirir.
            <br />
            <br />




            <strong>REGISTRO PERSONAL</strong>
            <br />
            <br />


            <strong>·       ¿Qué recibiré si me suscribo al newsletter?</strong>
            <br />
            <br />
            Te enviaremos tips, anuncios, reportes y mucho más. Todo asociado a tus intereses y de acuerdo con las frecuencias que prefieras. ¡Nunca seremos spam!
            <br />
            <br />


            <strong>·       ¿Qué hacen con los datos de registro personal?</strong>
            <br />
            <br />
            Utilizamos estos datos para poder hacer entrega de nuestros productos, asistencia y para enviar información asociada tus temáticas de mayor interés. Para más detalle puedes revisar nuestra política de Términos y Condiciones <a href="">aquí</a>
            <br />
            <br />
        </p>
    </div>
</body>
</html>
