@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<!--PANORAMAS-->
<link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<link href="~/Content/Carrusel_Semanarios/owl.carousel.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<!--PANORAMAS-->
<section class="container-fluid ">
    <div class="row texto-principal-infobox ">
        <div class="col-md-9 p-0">

            <img class="img-fluid " src="~/Images/SEMANARIO/pagina_PANORAMAS_escritorio.jpg" />
        </div>

        <div class="col-md-3 infobox-content">

            <h5 class="boxtitulo">
                Plataformas de información especializadas
            </h5>
            <p class="boxtitulo">
                Una visión global focalizada en un tema en específico.
                Visualizamos la información a través de dashboards interactivos con mapas y gráficos.
            </p>
            <p class="boxtitulo">
                Panoramas ha sido diseñada  especialmente para personas que necesitan información inmediata con actualizaciones permanentes.
            </p>
            <p class="boxtitulo">
                Te invitamos a descubrir una nueva forma de visualizar la información.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid slider-PANORAMAS">
    <div class="row pb-5 justify-content-center">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                ¡Adquiere tu Panorama!
            </p>
        </div>
        <div class="col-md-3 mt-3">
            <a href="https://dataintelligence.store/products/elijo-facil-educacion-superior" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrosnegros_panorama/ICONOS_NEGROS_elijofacil.png" /></a>
        </div>
        <div class="col-md-3 mt-3">
            <a href="https://dataintelligence.store/products/panorama-ojo-al-ambiente"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrosnegros_panorama/ICONOS_NEGROS_ojoalambiente.png" /></a>
        </div>
    </div>
</section>
<!--<section class="container-fluid slider-PANORAMAS ">
    <div class="row ">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                ¡Adquiere tu Panorama!
            </p>
        </div>
    </div>
    <div class="wrapper">

        <div class="carousel owl-carousel carrusel pb-5">
            <div class="card card-1">
                <a href="#" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrosnegros_panorama/ICONOS_NEGROS_elijofacil.png" /></a>
            </div>

            <div class="card card-14">
                <a href="#"><img class="img-fluid" src="~/Images/SEMANARIO/cuadrosnegros_panorama/ICONOS_NEGROS_ojoalambiente.png" /></a>
            </div>-->

            @*<div class="card card-4 mask2">

                    <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Educacion.png" />
                </div>
                <div class="card card-5 mask2">

                    <img class="img-fluid" src="~/Images/SEMANARIO/iconoc_azulesSEMANARIOS/iconos_Energia.png" />
                </div>*@
        <!--</div>
    </div>-->
    @*<div class="row justify-content-center">
            <div class="col-md-8 text-center mb-5">
                <p class="h5">
                    Para obtener un InfoBox escríbe un WhatsApp al +56 9 9438 5412
                    o envíanos un mail a: contacto@dataintelligence-group.com
                </p>
            </div>
        </div>*@
<!--</section>-->

<script src="~/Scripts/semanarioSlider/semanarioAgro.js"></script>

<script>
    ActivarMenuSuperior4("#public_panoramas")
</script>