
@{
    ViewBag.Title = "Inversion";
    Layout = "~/Views/Shared/_LayoutSEMANARIOPAGO2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inversion</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center" style="padding:3%;">
            Inversiones
        </h1>
        <p style="text-align:center; padding-bottom:3%;">
            <img class="img-fluid align-self-center" src="~/Images/Imagen_inversiones.jpg" alt="Inversión" />
        </p>
        <p class="text-center" style="font-size:18px; padding-bottom:3%;">
            Transformar datos en información, ese es nuestro objetivo.
            <br />
            Ampliar las posibilidades de tu proyecto, negocio o iniciativa.
            <br />
            Esa es nuestra misión. ¿Te gustaría ser parte de ella?
            <br />
            <br />
            Si quieres conocer más de Data Intelligence escríbenos a
            <br />
            <strong>contacto@dataintelligence-group.com</strong>
            <br />
            <br />
            Invierte en innovación, la generación de información es clave para las decisiones del presente y el futuro.
        </p>
    </div>
    <script>
        ActivarMenuSuperior4("#no")
    </script>
</body>
</html>
