@{
    ViewBag.Title = "SEMANARIO_AGRO";
    //Layout = "~/Views/Shared/_LayoutSEMANARIOPAGO.cshtml";
    Layout = "~/Views/Shared/_LayoutSEMANARIOPAGO2.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semanario Glaciares</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
    <script>
        function ActivarMenuSuperior3(opcionMenu) {
            $('.active5').removeClass('active5');
            $(opcionMenu).addClass("active5");
        }
    </script>
    <style>
        .active5 {
            background-color: #f6f6f6 !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center mt-3 mt-md-5 mb-md-5">
            <div class="col-12 col-md-10">
                <div class="row">
                    <div class="col-4 col-sm-3 col-md-2">
                        <img class="img-fluid" src="~/Images/simbolossolos_botones/icono_azul_semanario_glaciar_grande.png" />
                    </div>
                    <div class="col-12 col-sm-9 col-md-10 ">
                        <h5 class="h2 coleccion mt-md-0 pt-md-0"><b>Contenido del Semanario Glaciares</b></h5>

                        <p>
                            El Semanario Glaciares está dirigido a todos quienes requieran datos sistematizados,
                            actualizados y georreferenciados de la Dinámica experimentada por los distintos Glaciares.
                            Entrega información de ubicación y conformación de un complejo glaciar, sus ganancias y
                            pérdidas de nieve por temporada y superficies máximas y mínimas por periodo. Cada semana
                            se publica información de un complejo glaciar en específico de la Región de Los Lagos.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*CONTAINER TAMAÑO DE PANTALLA MEDIO O SUPERIOR*@
        <div class="container">
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <!--MES1-->
                        <!--SEMANA1-->

                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <a href="#" ><img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_1.png" /></a>
                            </div>
                        </div>

                        <!--SEMANA2-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <a href="~/SEMANARIO_PAGO/VisualizarGraficos?token=jkbcdjibfeuibcdikjhgfdxcbnmklmnbtjkbcdjibfeuibcdikjhgfdxcbnmklmnbtojkbcdjibfeuibcdikjhgfdxcbnmklmnb&id=68&padre=1&token2=jkbcdjibfeuibcdikjhgfdxcbnmklmnbtjkbcdjibfeuibcdikjhgfdxcbnmklmnbtojkbcdjibfeuibcdikjhgfdxcbnmklmnb"><img class="img-fluid" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_2gratis.png" /></a>
                            </div>
                        </div>
                        <!--SEMANA3-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <a href="#" > <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_3.png" /></a>
                            </div>
                        </div>
                        <!--SEMANA4-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_4.png" />
                            </div>
                        </div>
                        <!--MES2-->
                        <!--SEMANA5-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_5.png" />
                            </div>
                        </div>
                        <!--SEMANA6-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_6.png" />
                            </div>
                        </div>
                        <!--SEMANA7-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_7.png" />
                            </div>
                        </div>
                        <!--SEMANA8-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_8.png" />
                            </div>
                        </div>
                        <!--MES3-->
                        <!--SEMANA9-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_9.png" />
                            </div>
                        </div>
                        <!--SEMANA10-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_10.png" />
                            </div>
                        </div>
                        <!--SEMANA11-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_11.png" />
                            </div>
                        </div>
                        <!--SEMANA12-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_12.png" />
                            </div>
                        </div>
                        <!--MES4-->
                        <!--SEMANA13-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_12.png" />
                            </div>
                        </div>
                        <!--SEMANA14-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_14.png" />
                            </div>
                        </div>
                        <!--SEMANA15-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_15.png" />
                            </div>
                        </div>
                        <!--SEMANA16-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_16.png" />
                            </div>
                        </div>
                        <!--MES5-->
                        <!--SEMANA17-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_17.png" />
                            </div>
                        </div>
                        <!--SEMANA18-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_18.png" />
                            </div>
                        </div>
                        <!--SEMANA19-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_19.png" />
                            </div>
                        </div>
                        <!--SEMANA20-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_20.png" />
                            </div>
                        </div>
                        <!--SEMANA21-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_21.png" />
                            </div>
                        </div>
                        <!--SEMANA22-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_22.png" />
                            </div>
                        </div>
                        <!--SEMANA23-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_23.png" />
                            </div>
                        </div>
                        <!--SEMANA24-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_24.png" />
                            </div>
                        </div>
                        <!--SEMANA25-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_25.png" />
                            </div>
                        </div>
                        <!--SEMANA26-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_26.png" />
                            </div>
                        </div>
                        <!--SEMANA27-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_27.png" />
                            </div>
                        </div>
                        <!--SEMANA28-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_28.png" />
                            </div>
                        </div>
                        <!--SEMANA29-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_29.png" />
                            </div>
                        </div>
                        <!--SEMANA30-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_30.png" />
                            </div>
                        </div>
                        <!--SEMANA31-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_31.png" />
                            </div>
                        </div>
                        <!--SEMANA32-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_32.png" />
                            </div>
                        </div>
                        <!--SEMANA33-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_33.png" />
                            </div>
                        </div>
                        <!--SEMANA34-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_34.png" />
                            </div>
                        </div>
                        <!--SEMANA35-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_35.png" />
                            </div>
                        </div>
                        <!--SEMANA36-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_36.png" />
                            </div>
                        </div>
                        <!--SEMANA37-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_37.png" />
                            </div>
                        </div>
                        <!--SEMANA38-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_38.png" />
                            </div>
                        </div>
                        <!--SEMANA39-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_39.png" />
                            </div>
                        </div>
                        <!--SEMANA40-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_40.png" />
                            </div>
                        </div>
                        <!--SEMANA41-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_41.png" />
                            </div>
                        </div>
                        <!--SEMANA42-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_42.png" />
                            </div>
                        </div>
                        <!--SEMANA43-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_43.png" />
                            </div>
                        </div>
                        <!--SEMANA44-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_44.png" />
                            </div>
                        </div>
                        <!--SEMANA45-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_45.png" />
                            </div>
                        </div>
                        <!--SEMANA46-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card">
                                <img class="img-fluid  mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_46.png" />
                            </div>
                        </div>
                        <!--SEMANA47-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card ">
                                <img class="img-fluid mask1 " src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_47.png" />
                            </div>
                        </div>
                        <!--SEMANA48-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_48.png" />
                            </div>
                        </div>
                        <!--SEMANA49-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_49.png" />
                            </div>
                        </div>
                        <!--SEMANA50-->
                        <div class="col-12 col-md-3 mt-3">
                            <div class="card  ">
                                <img class="img-fluid mask1" src="~/Images/SEMANARIO/cuadros_semanarios_glaciar/cuadrado_Glaciar_SEMANA_50.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Boton para ir arriba*@
    <style>
        .ir-arriba {
            display: none;
            padding: 10px;
            background: #024959;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;
        }
    </style>
    <i class="ir-arriba  bi bi-arrow-up-square"></i>
    @*<span class="ir-arriba icon-arrow-up2"></span>*@
    <script>
        $(document).ready(function () {

            $('.ir-arriba').click(function () {
                $('body, html').animate({
                    scrollTop: '0px'
                }, 300);
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });

        });

        function PBGrafico(Grafico) {
            var id = "parametros de la funcion";
            $('#EMdos').html('<h2 style="margin-top:15%; margin-bottom:15%;">Cargando Información...espere un momento por favor</h2>')

            $.ajax(
                {
                    type: 'POST',
                    data: "{'id':" + "'" + Grafico + "'}", //datos o parametros enviados al servidor
                    dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                    url: '/SEMANARIO_PAGO/VisualizarGraficos?id=' + Grafico,

                    //URL del action result que cargara la vista parcial
                    success: function (result) {
                        // si la funcion se ejecuta lanzara un alert
                        /*alert('Success');*/
                        //cuando se ejecuta bien la funcion agregara al div vistaParcial el contenido
                        //que recibio del servidor
                        $("#EMdos").html(result);
                    },

                    error: function (error) {
                        // si hay un error lanzara el mensaje de error
                        $("#EMdos").html(`<a class="btn btn-primary btn-sm " id="test1" onclick = "mostrador('#EMuno')" style="font-size: 14px; margin: 0px; width: 100px; cursor: pointer" href="#"> Volver Atrás</a>`);
                        $("#EMdos").append('<h2 style="margin-top:15%; margin-bottom:15%;">No pudimos encontrar tu Gráfico, pero a la brevedad estara disponible.</h2>');

                    }

                });

        }
    </script>
    <script>
        ActivarMenuSuperior("#agroFrutas_ContenidoColeccion");
    </script>
</body>
</html>