
@{
    ViewBag.Title = "VentasCorporativas";
    Layout = "~/Views/Shared/_LayoutMunicipio.cshtml";
}

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5">Ventas Corporativas</h1>
        </div>
        <div class="col-12">
            <p class="text-center">
                En Data Intelligence contamos con opciones para grandes compañías que requieren de
                plataformas de información que se encuentran en nuestro catálogo o para solicitudes
                específicas.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="~/Images/imagenWeb_DI_ventacorporativa.jpg" alt="Ventas Corporativas" />
        </div>
        <div class="col-12">
            <h1 class="text-center mt-5">¿Qué incluye?</h1>
        </div>
        <div class="col-12 mt-3">
            <img class="img-fluid" src="~/Images/imagenWeb_DI_ventacorporativa_4imagenes.jpg" alt="Ventas" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 ">
            <div class="row ">
                <div class="col-12 text-center">
                    <h2>¡Hablemos!</h2>
                </div>
                <div class="col-12 text-center">
                    <p>Escribe a <a href="mailto:ventas@dataintelligence-group.com">ventas@dataintelligence-group.com</a>  </p>
                </div>
                <div class=" col-3 col-sm-6 text-right" style="text-align: right">
                    <img style="text-align:right" src="~/Images/ayuda/icono_telefono.png" alt="Contacto" />
                </div>
                <div class="col-9 col-sm-6" style="font-size:13px;">
                    <p>+56 9 9438 5412 </p>
                </div><br><br>
                <div class="col-3 col-sm-6 text-right" style="text-align: right">
                    <img src="~/Images/ayuda/icono_whatsApp.png" alt="WhatsApp" />
                </div>
                <div class="col-9 col-sm-6" style="font-size:13px;">
                    <p> +56 9 9438 5412 </p> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        ActivarMenuSuperior4("#no")
</script>