@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<link href="~/Content/Carrusel_Semanarios/semanarioAgro.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/semanarioSlider/owl.carousel.min.js"></script>
<link href="~/Content/Carrusel_Semanarios/owl.carousel.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<!--SEMANARIOS foco de calor-->
<section class="container">

    <div class="row ">
        <div class="col-md-12 mt-5">
            <h4>
                <strong>
                    SEMANARIO FOCOS DE FUEGO DE DATA INTELLIGENCE
                </strong>
            </h4>
            <p>
                <b>
                    Geolocalización de Focos de Calor
                </b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <a href="https://dataintelligence.store/products/semanario-focos-de-fuego" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_focodefuego_celular_1.jpg" /></a>
        </div>
        <div class="col-12 col-md-4 img-contenido">
            <img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_focodefuego_celular_2.jpg" />
        </div>
        <div class="col-12 col-md-4 img-contenido">
            <a href="https://dataintelligence.store/products/semanario-focos-de-fuego?variant=42386579652867" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/pagina_SEMANARIO_focodefuego_celular_3.jpg" /></a>
        </div>
    </div>
</section>
<section class="slider-focoFuego container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">
            <p class="h5">
                Contenido del Semanario Focos de Fuego
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="carousel owl-carousel">
            <!--MES1-->
            <!--SEMANA1-->

            <div class="card ">
                <a href="https://dataintelligence.store/products/semanario-focos-de-fuego" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_1.png" /></a>
            </div>

            <!--SEMANA2-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-focos-de-fuego" target="_blank"><img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_2.png" /></a>
            </div>
            <!--SEMANA3-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-focos-de-fuego?variant=42386579652867" target="_blank"> <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_3gratis.png" /></a>
            </div>
            <!--SEMANA4-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-focos-de-fuego"> <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_4.png" /></a>
            </div>
            <!--MES2-->
            <!--SEMANA5-->
            <div class="card">
                <a href="https://dataintelligence.store/products/semanario-focos-de-fuego"><img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_5.png" /></a>
            </div>
            <!--SEMANA6-->
            <div class="card mask1">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_6.png" />
            </div>
            <!--SEMANA7-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_7.png" />
            </div>
            <!--SEMANA8-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_8.png" />
            </div>
            <!--MES3-->
            <!--SEMANA9-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_9.png" />
            </div>
            <!--SEMANA10-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_10.png" />
            </div>
            <!--SEMANA11-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_11.png" />
            </div>
            <!--SEMANA12-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_12.png" />
            </div>
            <!--MES4-->
            <!--SEMANA13-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_13.png" />
            </div>
            <!--SEMANA14-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_14.png" />
            </div>
            <!--SEMANA15-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_15.png" />
            </div>
            <!--SEMANA16-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_16.png" />
            </div>
            <!--MES5-->
            <!--SEMANA17-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_17.png" />
            </div>
            <!--SEMANA18-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_18.png" />
            </div>
            <!--SEMANA19-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_19.png" />
            </div>
            <!--SEMANA20-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_20.png" />
            </div>
            <!--SEMANA21-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_21.png" />
            </div>
            <!--SEMANA22-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_22.png" />
            </div>
            <!--SEMANA23-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_23.png" />
            </div>
            <!--SEMANA24-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_24.png" />
            </div>
            <!--SEMANA25-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_25.png" />
            </div>
            <!--SEMANA26-->
            <div class="card mask1 ">
                <img class="img-fluid" src="~/Images/SEMANARIO/CUADROS_semanarioFOCOS/enero_cuadrado_SEMANA_26.png" />
            </div>

            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Breva.png" />
                </div>*@
            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Caqui.png" />
                </div>*@

            @*<div class="card mask1">

                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Granada.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Guayaba.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Maracuya.png" />
                </div>*@
            @*<div class="card mask1 ">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Membrillo.png" />
                </div>
            *@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Naranja.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Nispero.png" />
                </div>*@

            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_PeraAsiatica.png" />
                </div>*@

            @*<div class="card mask1 ">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Tumbo.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Tuna.png" />
                </div>*@
            @*<div class="card mask1">
                    <img class="img-fluid" src="~/Images/SEMANARIO/cuadrados_frutasLOGO/cuadrado_Uva.png" />
                </div>*@
        </div>
    </div>
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Se explica que el valor es de 10 dólares y si desea podrá ver todas las 33 frutas
                        gratuitas por xx horas/días. Debe escribir su nombre y mail. Pasa al proceso para entrar
                        a la <a href="https://dataintelligence.store/products/semanario-del-agro" target="_blank">suscripción</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/semanarioSlider/semanarioAgro.js"></script>
<script>
    ActivarMenuSuperior4("#public_semanario")
</script>