
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glaciares_10</title>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-4 col-sm-3 col-md-2">
                <img class="img-fluid" style="width:90%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
            </div>
            <div class="col-8 col-sm-9 col-md-10 " style="border-left: solid 0.5px #b0b0b0;">
                <h4 class="coleccion mt-4 mt-md-0 pt-sm-5 pt-md-0" style=" font-weight: bold;">Glaciares Región de Los Lagos</h4>
                @*<h5 class="h2 coleccion mt-3  mt-md-0 pt-sm-5 pt-md-0 d-block d-md-none" style=" font-weight: bold;" >Glaciares Región de Los Lagos</h5>*@
                <p class="pcoleccion d-none d-md-block">
                    El mapeo de los cambios en los glaciares es la base para generar un buen indicador del
                    cambio climático debido a que el estado de los glaciares depende principalmente de la
                    precipitación (nevadas) y temperatura. Una sucesión de años fríos, con nevadas entre los
                    meses de mayo a diciembre, hace crecer el glaciar a la vez que su frente avanza. Una sucesión
                    de años secos, de temperaturas elevadas y poca nieve, en los meses de enero a abril, hace
                    decrecer el glaciar hasta retroceder.
                    Data Intelligence, a través de su Colección Glaciares, monitorea los cambios en el área
                    de los glaciares utilizando tecnología de teledetección de manera continua, lo que permite
                    comprender la dinámica de los cambios y el monitoreo constante de los glaciares como un recurso
                    esencial para estudiar el clima, la gestión de los recursos hídricos y también para predecir y
                    mitigar los peligros relacionados con los glaciares.

                </p>
                <h4 class="coleccion mt-3 d-none d-md-block" style="font-weight:bold;">
                    ¡Gratis por una semana!
                </h4>
                <p class="pcoleccion d-none d-md-block">
                    En Data Intelligence transformamos millones de datos públicos en información representada
                    en gráficos y mapas interactivos.  Hicimos una selección de colecciones para que las conozcas.
                    ¡Regístrate y accede a una prueba gratis de 7 días!

                </p>
                <a href="~/Account/Register"><img class="img-fluid w-50 d-none d-md-block" src="~/Images/boton_pruebagratis.jpg" /></a>
            </div>
            <div class="col-12 d-block d-md-none mt-3">
                <p class="pcoleccion" style="font-size:1.0rem !important;">
                    El mapeo de los cambios en los glaciares es la base para generar un buen indicador del
                    cambio climático debido a que el estado de los glaciares depende principalmente de la
                    precipitación (nevadas) y temperatura. Una sucesión de años fríos, con nevadas entre los
                    meses de mayo a diciembre, hace crecer el glaciar a la vez que su frente avanza. Una sucesión
                    de años secos, de temperaturas elevadas y poca nieve, en los meses de enero a abril, hace
                    decrecer el glaciar hasta retroceder.
                    Data Intelligence, a través de su Colección Glaciares, monitorea los cambios en el área
                    de los glaciares utilizando tecnología de teledetección de manera continua, lo que permite
                    comprender la dinámica de los cambios y el monitoreo constante de los glaciares como un recurso
                    esencial para estudiar el clima, la gestión de los recursos hídricos y también para predecir y
                    mitigar los peligros relacionados con los glaciares.
                </p>
                <h4 class="coleccion mt-3" style="font-weight:bold;">
                    ¡Gratis por una semana!
                </h4>
                <p class="pcoleccion">
                    En Data Intelligence transformamos millones de datos públicos en información representada
                    en gráficos y mapas interactivos.  Hicimos una selección de colecciones para que las conozcas.
                    ¡Regístrate y accede a una prueba gratis de 7 días!

                </p>
                <a href="~/Account/Register"><img class="img-fluid w-100" src="~/Images/boton_pruebagratis.jpg" /></a>
            </div>

            <div class="col-md-12 text-center d-none d-md-block mt-5" style="border-bottom: solid 0.5px #b0b0b0;">
                <p><b>La suscripción a la colección de Glaciares contiene</b></p>
            </div>
            <div class="col-12 text-center d-block d-md-none mt-5" style="border-bottom: solid 0.5px #b0b0b0;">
                <p><b>La suscripción a la colección de Glaciares contiene</b></p>
            </div>
        </div>
    </div>
    @*Carrusel contenido movil*@
    <div class=" d-block d-md-none mt-2 mt-sm-0">
        <div class="row">
            <div class="col-12 text-center ">
                <div id="carouselExampleControls" class="carousel slide p-sm-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card cardcoleccion">
                                <img class="d-block w-100 card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadafria.png" alt="Cambio temporada Fría" />
                                <div class="row ">
                                    <div class="col-9">
                                        <h6 class="card-title">
                                            Dinámica de Cambio de Glaciares en temporada Fría (q2: May-Dic)
                                        </h6>
                                    </div>
                                    <div class="col-3" style="z-index:100">
                                        <a data-bs-toggle="modal" data-bs-target="#exampleModalGla" style="text-decoration:underline; color:blue; cursor:pointer;">
                                            ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardcoleccion">
                                <img class="d-block w-100 card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficiecomplejoglaciar.png" alt="Cambio temporada Seca" />
                                <div class="row">
                                    <div class="col-9">
                                        <h6 class="card-title">
                                            Dinámica de Cambio de Glaciares en temporada Seca (q1: Ene-Abr)
                                        </h6>
                                    </div>
                                    <div class="col-3" style="z-index:100">
                                        <a data-bs-toggle="modal" data-bs-target="#exampleModalGla1" style="text-decoration:underline; color:blue; cursor:pointer;">
                                            ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardcoleccion">
                                <img class="d-block w-100 card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadaseca.png" alt="Superficie temporada Fría" />
                                <div class="row">
                                    <div class="col-9">
                                        <h6 class="card-title">
                                            Superficie de Glaciares en temporada Fría (q2: May-Dic)
                                        </h6>
                                    </div>
                                    <div class="col-3" style="z-index:100">
                                        <a data-bs-toggle="modal" data-bs-target="#exampleModalGla2" style="text-decoration:underline; color:blue; cursor:pointer;">
                                            ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardcoleccion">
                                <img class="d-block w-100 card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadafria.png" alt="Superficie temporada Seca" />
                                <div class="row">
                                    <div class="col-9">
                                        <h6 class="card-title">
                                            Superficie de Glaciares en temporada Seca (q1: Ene-Abr)
                                        </h6>
                                    </div>
                                    <div class="col-3" style="z-index:100">
                                        <a data-bs-toggle="modal" data-bs-target="#exampleModalGla3" style="text-decoration:underline; color:blue; cursor:pointer;">
                                            ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardcoleccion">
                                <img class="d-block w-100 card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadaseca.png" alt="Superficie Complejo Glaciar" />
                                <div class="row ">
                                    <div class="col-9">
                                        <h6 class="card-title">
                                            Superficie del Complejo Glaciar
                                        </h6>
                                    </div>
                                    <div class="col-3" style="z-index:100">
                                        <a data-bs-toggle="modal" data-bs-target="#exampleModalGla4" style="text-decoration:underline; color:blue; cursor:pointer;">
                                            ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @* Contenido pantalla grande *@
    <div class="container-fluid mt-2  d-none d-md-block">
        <div class="row">
            <div class="col-4 text-center ">
                <div class="card cardcoleccion">
                    <img class="img-fluid card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadafria.png" alt="Cambio temporada Fría" />
                    <div class="row">
                        <div class="col-10">
                            <h6 class="card-title">
                                Dinámica de Cambio de Glaciares en temporada Fría  (q2: May-Dic)
                            </h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalGla" data-toggle="tooltip" data-placement="right" title="Click para mas información" style="text-decoration:underline; color:blue; cursor:pointer;">
                                ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card cardcoleccion">
                    <img class="img-fluid card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficiecomplejoglaciar.png" alt="Cambio temporada Seca" />
                    <div class="row ">
                        <div class="col-10">
                            <h6 class="card-title">
                                Dinámica de Cambio de Glaciares en temporada Seca (q1: Ene-Abr)
                            </h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalGla1" data-toggle="tooltip" data-placement="right" title="Click para mas información" style="text-decoration:underline; color:blue; cursor:pointer;">
                                ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card cardcoleccion">
                    <img class="img-fluid card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadaseca.png" alt="Superficie temporada Fría" />
                    <div class="row">
                        <div class="col-10">
                            <h6 class="card-title">
                                Superficie de Glaciares en temporada Fría (q2: May-Dic)
                            </h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalGla2" data-placement="right" title="Click para mas información" style="text-decoration:underline; color:blue; cursor:pointer;">
                                ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center mt-2">
                <div class="card cardcoleccion">
                    <img class="img-fluid card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadafria.png" alt="Superficie temporada Seca" />
                    <div class="row ">
                        <div class="col-10">
                            <h6 class="card-title">
                                Superficie de Glaciares en temporada Seca (q1: Ene-Abr)
                            </h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalGla3" data-toggle="tooltip" data-placement="right" title="Click para mas información" style="text-decoration:underline; color:blue; cursor:pointer;">
                                ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center mt-2">
                <div class="card cardcoleccion">
                    <img class="img-fluid card-img-top" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadaseca.png" />
                    <div class="row">
                        <div class="col-10">

                            <h6 class="card-title">
                                Superficie del Complejo Glaciar
                            </h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalGla4" data-toggle="tooltip" data-placement="right" title="Click para mas información" style="text-decoration:underline; color:blue; cursor:pointer;">
                                ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--video de coleccion-->
    <!--<section class="container video">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h4>Tutorial de uso de la colección</h4>
            </div>
            <div class="col-md-12 ">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/Qr0R0vq5vp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalGla" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color:black; color:white;">
                <div class="modal-header justify-content-center" style="border-bottom:none !important">
                    <button type="button" class="btn-close" style="background-color:#ccc;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="border-bottom:none !important">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid " style="width:80%; margin-left:20%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
                        </div>
                        <div class="col-8" style="border-left: solid 2px #272727;">
                            <img class="img-fluid" style="width:100%;" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadafria.png" alt="Cambio temp Fría" />
                        </div>
                        <div class="offset-1 col-10 offset-1 justify-content-center mt-1">
                            <h5 class="modal-title text-center " style="border-bottom: solid 0.5px #272727;" id="exampleModalLabel">
                                Dinámica de Cambio de Glaciares en temporada Fría (q2: May-Dic)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mx-2 mx-md-5" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">368</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>Complejos Glaciares</strong><br>Incluyen todos los sectores y
                                sub-subcuencas compartidos por los diferentes glaciares
                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #8FAADC; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glacial mdalImagen1.png" /></p>
                        </div>

                        <div class="col-10">
                            <p>
                                <strong>Territorios</strong><br>Palena, Chaitén, Futaleufú, Hualaihué, Cochamó, Puyehue, Puerto Montt entre otros territorios que albergan glaciares
                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">4</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>Periodos</strong><br>Dinámicas de los glaciares en los periodos 2017/18, 2018/19, 2019/20, 2020/21
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalGla1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color:black; color:white;">
                <div class="modal-header justify-content-center" style="border-bottom:none !important">
                    <button type="button" class="btn-close" style="background-color:#ccc;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="border-bottom:none !important">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid " style="width:80%; margin-left:20%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
                        </div>
                        <div class="col-8" style="border-left: solid 2px #272727;">
                            <img class="img-fluid" style="width:100%;" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficiecomplejoglaciar.png" alt="Cambio temp Seca" />
                        </div>
                        <div class="offset-1 col-10 offset-1 justify-content-center mt-1">
                            <h5 class="modal-title text-center " style="border-bottom: solid 0.5px #272727;" id="exampleModalLabel">
                                Dinámica de Cambio de Glaciares en temporada Seca (q1: Ene-Abr)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mx-2 mx-md-5" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">368</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>Complejos Glaciares</strong><br>Incluyen todos los sectores y
                                sub-subcuencas compartidos por los diferentes glaciares
                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #8FAADC; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glacial mdalImagen1.png" /></p>
                        </div>

                        <div class="col-10">
                            <p>
                                <strong>Territorios</strong><br>Palena, Chaitén, Futaleufú, Hualaihué, Cochamó, Puyehue, Puerto Montt entre otros territorios que albergan glaciares
                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">4</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>Periodos</strong><br>Dinámicas de los glaciares en los periodos 2017/18, 2018/19, 2019/20, 2020/21
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalGla2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color:black; color:white;">
                <div class="modal-header justify-content-center" style="border-bottom:none !important">
                    <button type="button" class="btn-close" style="background-color:#ccc;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="border-bottom:none !important">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid " style="width:80%; margin-left:20%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
                        </div>
                        <div class="col-8" style="border-left: solid 2px #272727;">
                            <img class="img-fluid" style="width:100%;" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadaseca.png" alt="Superficie temp Fría" />
                        </div>
                        <div class="offset-1 col-10 offset-1 justify-content-center mt-1">
                            <h5 class="modal-title text-center " style="border-bottom: solid 0.5px #272727;" id="exampleModalLabel">
                                Superficie de Glaciares en temporada Fría (q2: May-Dic)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mx-2 mx-md-5" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glaciaresmodalImagen2.png" /></p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>
                                    Superficies máximas y mínimas
                                </strong><br>Incluyen todos los sectores y
                                Variación en hectáreas de la superficie de cada glaciar en las diferentes temporadas
                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #8FAADC; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glacial mdalImagen1.png" /></p>
                        </div>

                        <div class="col-10">
                            <p>
                                <strong>Territorios</strong><br>Palena, Chaitén, Futaleufú, Hualaihué, Cochamó, Puyehue, Puerto Montt entre otros territorios que albergan glaciares

                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">4</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>
                                    Años
                                </strong><br>Detalle anual de la superficie con y sin nieve

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalGla3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color:black; color:white;">
                <div class="modal-header justify-content-center" style="border-bottom:none !important">
                    <button type="button" class="btn-close" style="background-color:#ccc;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="border-bottom:none !important">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid " style="width:80%; margin-left:20%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
                        </div>
                        <div class="col-8" style="border-left: solid 2px #272727;">
                            <img class="img-fluid" style="width:100%;" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_superficietemporadafria.png" alt="Superficie temp Seca" />
                        </div>
                        <div class="offset-1 col-10 offset-1 justify-content-center mt-1">

                            <h5 class="modal-title text-center " style="border-bottom: solid 0.5px #272727;" id="exampleModalLabel">
                                Superficie de Glaciares en temporada Seca (q1: Ene-Abr)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mx-2 mx-md-5" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glaciaresmodalImagen2.png" /></p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>
                                    Superficies máximas y mínimas
                                </strong><br>Variación en hectáreas de la superficie de cada glaciar en las diferentes temporadas

                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #8FAADC; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glacial mdalImagen1.png" /></p>
                        </div>

                        <div class="col-10">
                            <p>
                                <strong>Territorios</strong><br>Palena, Chaitén, Futaleufú, Hualaihué, Cochamó, Puyehue, Puerto Montt entre otros territorios que albergan glaciares

                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">5</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>
                                    Años
                                </strong><br>Detalle anual de la superficie con y sin nieve

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalGla4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color:black; color:white;">
                <div class="modal-header justify-content-center" style="border-bottom:none !important">
                    <button type="button" class="btn-close" style="background-color:#ccc;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header" style="border-bottom:none !important">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid " style="width:80%; margin-left:20%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" alt="Glaciares" />
                        </div>
                        <div class="col-8" style="border-left: solid 2px #272727;">
                            <img class="img-fluid" style="width:100%;" src="~/Content/imagenes glaciares_10/imagenes_recuadrosweb_glaciar_dinamicatemporadaseca.png" alt="Superficie del Complejo Glaciar" />
                        </div>
                        <div class="offset-1 col-10 offset-1 justify-content-center mt-1">

                            <h5 class="modal-title text-center " style="border-bottom: solid 0.5px #272727;" id="exampleModalLabel">
                                Superficie del Complejo Glaciar
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mx-2 mx-md-5" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #203864; border-radius: 5px;">3159</p>
                        </div>
                        <div class="col-10">
                            <p>
                                <strong>
                                    Polígonos
                                </strong><br>De distintas superficies conforman los 368 Complejos Glaciares existentes en la región de Los Lagos

                            </p>
                        </div>
                    </div>
                    <div class="row  mx-2 mx-md-5 mt-2" style="border-bottom: solid 0.5px #272727;">
                        <div class="col-2 text-center">
                            <p style="background-color: #8FAADC; border-radius: 5px;"><img class="img-fluid" style="width:50%;" src="~/Content/imagenes glaciares_10/glacial mdalImagen1.png" /></p>
                        </div>

                        <div class="col-10">
                            <p>
                                <strong>Territorios</strong><br>Palena, Chaitén, Futaleufú, Hualaihué, Cochamó, Puyehue, Puerto Montt, Puerto varas, Puyehue
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>



