@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Index</title>
    <link href="~/Content/Home.css" rel="stylesheet" />
    <!-- Hotjar Tracking Code for https://www.dataintelligence-group.com/data/index -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2580997, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body style="overflow-x:hidden;">
    <section class="continer-fluid">
        <div class="row">
            @*<div class="col-12 col-md-12 text-center">
                    <a href="~/Data/ColeccionesMunicipio"><img class="img-fluid vw-100" src="~/Images/Index/inicio_sobrecarrusel_escritorio.jpg" /></a>
                </div>*@
            <div class="col-12 col-md-12 text-center">
                <a href="https://di-nextmile.com/"> <img class="img-fluid vw-100" src="~/Images/Index/imagen de nextmile inicio/NextMail_inicio.jpg" /></a>
            </div>
        </div>
    </section>

    <!--sección content-cabecera-->
    <div class="container-fluid content-header">
        <div class="row justify-content-center" style="background-color: black">
            <div class="col-12 col-md-8">
                @*<H3 id="titulo1">¡Cientos de estadísticas!</H3>*@
                <style>
                    /* Basic styles */
                    *,
                    *::before,
                    *::after {
                        box-sizing: border-box;
                    }

                    :root {
                        --bg-color: #D8D8D8;
                    }

                    h3 {
                        font-size: 2em;
                        font-weight: normal;
                    }
                    /* title styles */
                    .home-title span {
                        position: relative;
                        overflow: hidden;
                        display: block;
                        line-height: 1.2;
                    }

                        .home-title span::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background: white;
                            animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
                            transform: translateX(-101%);
                        }

                        .home-title span::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background: var(--bg-color);
                            animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
                            transform: translateX(0);
                        }

                        .home-title span:nth-of-type(1)::before,
                        .home-title span:nth-of-type(1)::after {
                            animation-delay: 1s;
                        }

                        .home-title span:nth-of-type(2)::before,
                        .home-title span:nth-of-type(2)::after {
                            animation-delay: 1.5s;
                        }

                    @@keyframes a-ltr-after {
                        0% {
                            transform: translateX(-100%)
                        }

                        100% {
                            transform: translateX(101%)
                        }
                    }

                    @@keyframes a-ltr-before {
                        0% {
                            transform: translateX(0)
                        }

                        100% {
                            transform: translateX(200%)
                        }
                    }

                    .mediosTitle {
                        background-image: url('../../Content/Imagene_inicio_Medios/box_fondoescritorio.jpg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .image2 {
                        width: 80%;
                    }
                </style>
                <h3 class="home-title">
                    <span style="color:white">¡Miles de estadísticas!</span>
                </h3>
                <p style="padding-left:5%; padding-right:5%;">
                    Generamos día a día información histórica, actual y proyectada disponible de forma gratuita y con suscripción.
                </p>
            </div>
        </div>
    </div>
    <!--seccion slider o carrusel-->
    <div class="container slide-big" style="margin-bottom: 25px; margin-top: 25px;">
        @{ Html.RenderAction("CarruselVetical", "Info");}
    </div>

    <div class="col-s-12 col-s-12 col-md-8 d-s-block d-md-none mt-3">

        @{ Html.RenderAction("CarruselVetical2", "Info");}
    </div>
    <!-- BUSCADOR INTELIGENTE de carrusel-->
    <div class="container-fluid content1 mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mt-5 ">
                <h3 id="header2">
                    <b>¿Quieres ver otras estadísticas?</b>
                </h3>
                <p id="text2">
                    ¡Nuestro Buscador Inteligente contiene miles de gráficos y
                    mapas interactivos listos para utilizar de forma gratuita!"
                </p>
            </div>

            <div class="col-12 col-md-8 text-center" style="margin-bottom: 4%; border-radius: 20px; background-color: rgb(210 220 235 / 0.60) ">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="row mt-3 justify-content-center">
                            <div class="col-12 col-md-6 text-center mb-md-3">
                                <h3 style="font-weight:800;"><img class="img-fluid" width="30" src="~/Images/favicons/Icono_dataIntelligence_Rojo.png" /><b>BUSCADOR INTELIGENTE</b></h3>
                            </div>
                        </div>
                    </div>

                    <!--Buscador-->
                    <div class="col-12 col-md-12 text-center " style="margin-bottom:40px;">
                        <form class="example d-flex" action="~/Data/PaginaBusqueda" method="get" style="border:none !important;">
                            <input type="text" placeholder="Escribe tu tema de interés" name="id" style="border:none !important;">
                            <button type="submit" value="Submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="col-12 col-md-11 mb-3 text-left">
                        @*<p id="text3">Más buscado:  Forestal, economía, agricultura, género, pesca.</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--seccion contenido-->
    <div class="container-fluid content2">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h3 style="font-weight:bold;">
                    Nuestra Propuesta
                </h3>
                <p id="text4">
                    Nuestro norte es desarrollar productos digitales bajo la modalidad Datos como Servicio (Data As A Service) que
                    respondan las preguntas que se puedan presentar en tu día a día.
                </p>
            </div>
        </div>
        <div class="row  justify-content-center mt-4">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img class="img-fluid p-3" src="~/Images/imagen_inicio.png" />
                    </div>
                    <div class="col-12 col-md-8 text-left mt-4">
                        <h3 id="TituloCon" style="font-weight:bold; text-align:left;">
                            ¡Miles y miles de datos!
                        </h3>
                        <p id="text4">
                            Seleccionamos los temas de contingencia, buscamos cada uno de los datos
                            públicos disponibles, sistematizamos la información y creamos millones
                            de gráficos y mapas interactivos para quien necesite ampliar la visión de
                            esas realidades.
                        </p>
                        <h3 id="TituloCon" class="mt-4" style="font-weight:bold; text-align:left;">
                            Y agrupamos los miles de datos en Colecciones con información
                        </h3>
                        <p id="text4">
                            Transformamos los temas de contingencia en gráficos y
                            mapas interactivos agrupándolos en colecciones
                            especializadas para una búsqueda más eficiente y útil.
                        </p>
                        <h3 class="mt-5" id="TituloCon" style="font-weight:bold; text-align:left;">
                            ¡Gratis por una semana!
                        </h3>
                        <p id="text4">
                            Creamos una selección de colecciones para que las conozcas. ¡Regístrate y accede a una prueba gratis de 7 días!
                        </p>
                        <a href="~/Account/Register"><img class="img-fluid w-50" src="~/Images/boton_pruebagratis.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<section class="container">
            <div class="row m-5 justify-content-center">
            </div>
        </section>*@

    <!--SECCION SEMANARIOS-->
    <section class="container-fluid">
        <div class="row justify-content-center mt-5">

            <div class="col-12 col-md-12 text-center" style="padding:0;">
                <a href="~/SEMANARIO/Home"><img class="img-fluid" src="~/Images/SEMANARIO/INICIO_SEMANARIO_escritorio.jpg" /></a>
            </div>
        </div>
    </section>
    <!--vfin SECCION SEMANARIOS-->
    <!-- SECCION BOX INFO-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12" style="padding:0;">
                <a href="~/INFOBOX/Home"><img class="img-fluid" src="~/Images/SEMANARIO/INICIO_INFOBOX_escritorio.jpg" /></a>
            </div>
        </div>
    </div>
    <!--fin SECCION BOX INFO-->
    <!--SECCION panaramas-->
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12" style="padding:0;">
                <a href="~/PANORAMAS/Home"><img class="img-fluid" src="~/Images/SEMANARIO/INICIO_PANORAMAS_escritorio.jpg" /></a>
            </div>
        </div>
    </div>
    @*****carrusel de iconos de suscripciones*****@
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 mb-md-5 mb-2 mt-3">
            <div class="container text-center my-3">
                <h3 class="font-weight-bold mb-md-3">Conoce las Colecciones Data intelligence</h3>
                <div class="row mx-auto my-auto justify-content-center">
                    <div id="recipeCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">

                            <div class="carousel-item active">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesAgencia" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Content/image_estadistica/icono_agenciaDI.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesSalud" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D360_ENFERMEDADES_MUNDIALES.png" class="img-fluid">
                                            </div>

                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesEconomia" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Content/imagenes_temas economia/iconocoleccion_economia.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesIngresoH" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Content/Ingresos histodicos imagenes/icono_ingresoshistoricos.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesAgricultura" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Content/img/Iconos recursos/icono_coleccion_agricultura.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesGlaciares_R10" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D261_GLACIARES_10.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesViolenciaMujer" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D300_VIOLENCIA_CONTRA_LA_MUJER.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesIncendios" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">

                                                <img src="~/Images/suscripciones/D101_INCENDIOS.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesEducacionComunal" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D161_EDUCACIONCOMUNAL.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesMunicipio" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D161_Municipio.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesCiudades" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D241_CIUDADES.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <a href="~/Data/ColeccionesAgencia" data-toggle="tooltip" data-placement="right" title="Click para mas información">
                                        <div class="card">
                                            <div class="card-img">
                                                <img src="~/Images/suscripciones/D990_AGENCIA_INFORMACION.png" class="img-fluid">
                                            </div>
                                            @*<div class="card-img-overlay"></div>*@
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                @*<h5 class="mt-2 fw-light">advances one slide at a time</h5>*@
            </div>
        </div>
    </div>
    @****final carrusel de iconos de suscripciones***@
    @***SECCION DE VIDEO **@
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXOFxGJFKVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    @*** FINAL SECCION DE VIDEO **@
    <!--SECCION DE SLIDER DE PATROCINADORES-->
    <link href="~/Content/testCarrusel_Netflix/css/estilos.css" rel="stylesheet" />
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-8 mt-5 slide1">
            <h4 style="padding-bottom:1%; font-weight:bold;">
                Estos medios de comunicación han confiado en nuestra información
            </h4>
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <a href=" https://www.cnnchile.com/elecciones2021/candidatos-gore-concejales-alcaldes-constituyentes_20210511/" target="_blank"><img src="~/Content/empresas de noticias/cnn chile.png" height="100" width="250" alt="CNN CHILE "></a>
                    </div>
                    <div class="slide">
                        <a href="https://www.elmostrador.cl/braga/2021/07/09/mapa-de-femicidios-en-chile-victima-mas-joven-era-una-nina-de-solo-11-anos/ " target="_blank">
                            <img src="~/Content/empresas de noticias/mostrador.png" height="100" width="250" alt="Noticias El Mostrador">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.chvnoticias.cl/elecciones2021/candidatos-concejal-15-y-16-mayo_20210510/ " target="_blank">
                            <img src="~/Content/empresas de noticias/noticias.png" height="100" width="250" alt="Chile Vision">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.radiopanama.com.pa/" target="_blank"> <img src="~/Content/empresas de noticias/panama.png" height="100" width="250" alt="Radio Panama"></a>
                    </div>
                    <div class="slide">

                        <a href="https://www.asexma.cl/" target="_blank"><img src="~/Content/empresas de noticias/logo_asexma.jpg" height="100" width="250" alt="CNN CHILE "></a>
                    </div>
                    <div class="slide">
                        <a href="https://www.elmostrador.cl/braga/2021/07/09/mapa-de-femicidios-en-chile-victima-mas-joven-era-una-nina-de-solo-11-anos/ " target="_blank">
                            <img src="~/Content/empresas de noticias/mostrador.png" height="100" width="250" alt="Noticias El Mostrador">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.chvnoticias.cl/elecciones2021/candidatos-concejal-15-y-16-mayo_20210510/ ">
                            <img src="~/Content/empresas de noticias/noticias.png" height="100" width="250" alt="Chile Vision">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.radiopanama.com.pa/"> <img src="~/Content/empresas de noticias/panama.png" height="100" width="250" alt="Radio Panama"></a>
                    </div>
                    <div class="slide">
                        <a href=" https://www.cnnchile.com/elecciones2021/candidatos-gore-concejales-alcaldes-constituyentes_20210511/ "><img src="~/Content/empresas de noticias/cnn chile.png" height="100" width="250" alt="CNN CHILE "></a>
                    </div>
                    <div class="slide">
                        <a href="https://www.elmostrador.cl/braga/2021/07/09/mapa-de-femicidios-en-chile-victima-mas-joven-era-una-nina-de-solo-11-anos/ ">
                            <img src="~/Content/empresas de noticias/mostrador.png" height="100" width="250" alt="Noticias El Mostrador">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.chvnoticias.cl/elecciones2021/candidatos-concejal-15-y-16-mayo_20210510/ ">
                            <img src="~/Content/empresas de noticias/noticias.png" height="100" width="250" alt="Chile Vision">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="https://www.radiopanama.com.pa/"> <img src="~/Content/empresas de noticias/panama.png" height="100" width="250" alt="Radio Panama"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FINAL SECCION DE SLIDER DE PATROCINADORES-->

    <script>
        ActivarMenuSuperior4("#public_Index")
    </script>
    <!--SCRIPT DE CARRUSEL DE SECCION DE ICONOS DE SUSCRIPCIONES-->
    <script src="~/Scripts/Carrusel_suscripcionIndex/CarruselIndex.js"></script>
    <!--SCRIPT DE CARRUSEL DE SECCION DE ICONOS DE SUSCRIPCIONES-->
</body>
</html>