
@{
    ViewBag.Title = "TerminosyCondiciones";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        <div col="12 justify-content-center">
            <h2 class="text-center  mt-5">
                <strong>
                    Términos y Condiciones <br>
                    Para el uso de los Productos DI International SpA
                </strong>
            </h2><br>
        </div>
        <div class="col-12">
            <p>
                El presente documento tiene por objeto regular las condiciones, requisitos y plazos a los que se
                sujetará el uso de los Productos y Servicios que ofrece DI International SpA, a través de sus
                sitios web[1], así como también de las distintas políticas asociadas.
            </p>
            <p>
                Este Términos y Condiciones está conformado por las siguientes secciones: Definiciones,
                Condiciones generales de uso, Responsabilidades, Servicios, Política de devoluciones, Política
                de privacidad y Contacto.
            </p><br>
        </div>
        <div class="col-12">
            <p>
                <strong>
                    1. Definiciones
                </strong>
            </p>
            <p>
                <strong>
                    a) Catálogo:
                </strong> Herramienta en la cual se agrupan de forma ordenada en Colecciones y Dimensiones,
                todos los productos que ofrece la Empresa al mercado, y que se encuentran disponibles para ser
                adquiridos por el público general.
            </p>
            <p>
                El Catálogo está publicado en la Tienda Digital o Data Store, permitiendo su acceso desde
                cualquier dispositivo móvil y pudiendo ser compartido a través de diferentes medios o redes
                sociales.
            </p>
            <p>
                <strong>
                    b) Colecciones:
                </strong>Corresponden a una selección de temáticas relevantes para los distintos sectores
                de la sociedad, donde convergen distintos Productos Digitales.
            </p>
            <p>
                <strong>
                    c) Dimensiones:
                </strong> Corresponden a las 4 áreas (Ambiental, Económica, Institucional o Social) en
                las cuales están organizadas las Colecciones y, en consecuencia, los Productos Digitales. Un
                Producto Digital y, a su vez, una Colección pueden estar clasificados en una o más Dimensiones.
            </p>
            <p>
                <strong>
                    d) Empresa:
                </strong>Para efectos de estos Términos y Condiciones se entenderá por “Empresa” en referencia
                a DI International SpA, también conocida simplemente como Data Intelligence.
            </p>
            <p>
                <strong>
                    e) Ficha técnica:
                </strong> Corresponde a la descripción detallada de cada Producto Digital disponible
                en el sitio web comercial (Tienda Digital o Data Store). Comprende una breve reseña,
                características del Producto (tipo de producto, variantes disponibles, periodo, proveedor,
                colección), especificaciones técnicas (herramientas utilizadas en su desarrollo, tipos de
                contenidos incluidos en el producto, dispositivos compatibles para el uso, fuentes de datos
                utilizadas) y detalles de acceso (credencial, licencia de uso, actualizaciones y número de
                usuarios autorizados).
            </p>
            <p>
                <strong>
                    f) Licencia de Uso:
                </strong> Se entenderá como la autorización o permiso que otorga la Empresa como
                titular o propietario de todos los Productos Digitales que comercializa, a través de sus canales
                oficiales al público general o a los Usuarios, para que éstos puedan adquirir un acceso ya sea
                pagado o liberado, a sus productos y utilizarlos exclusivamente en la forma señalada en el
                presente Términos y Condiciones. Existen 2 tipos de licencias de uso, las de acceso pagado y
                las de acceso liberado:
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;
                <strong>
                    <u>
                        Licencias de Uso con acceso pagado:
                    </u>
                </strong>
                Son las autorizaciones o permisos que adquiere el Usuario a través de un determinado
                pago, con el fin de acceder al producto deseado. Esto le permitirá contar con una licencia de
                uso asociada a un periodo determinado de tiempo, que es comunicado en la ficha técnica de cada
                producto.
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;
                <strong>
                    <u>
                        Licencias de Uso con acceso liberado:
                    </u>
                </strong>
                Son las autorizaciones o permisos que adquiere el Usuario de manera gratuita, con el fin de
                acceder al producto deseado. Esto le permitirá acceder al producto durante un periodo
                determinado. La Empresa no tiene la obligación de de mantener actualizado el producto, pudiendo
                ésta realizar actualizaciones si así lo determina. Asimismo, la Empresa puede retirar ese
                producto en cualquier fecha y por cualquier motivo.
            </p>
            <p>
                <strong>
                    g) Producto Liberado:
                </strong> Son aquellos Productos Digitales ofrecidos por la Empresa que poseen una Licencia de
                Uso con acceso liberado, es decir, cualquier Usuario puede acceder a este tipo de contenido, sin
                necesidad de realizar un pago en dinero para adquirir la Licencia de Uso.
            </p>
            <p>
                <strong>
                    h) Pasarela de Pago:
                </strong> Servicio otorgado por un proveedor de medios de pago, a través del cual se autorizan
                pagos de comercio electrónico, específicamente los pagos que se realicen al adquirir los
                Productos Digitales ofrecidos a través de la Tienda Digital o Data Store.
            </p>
            <p>
                <strong>
                    i) Producto Digital o Productos Digitales:
                </strong> Se refiere a las Licencias de Uso ofrecidas por la Empresa, sean de acceso gratuito o
                pagado, cada uno de ellos identificado con su Ficha Técnica correspondiente, y a través de los
                cuales podrán acceder y utilizar una  plataforma o sitio web que contiene datos e información
                sobre un tema específico, presentados de forma ordenada a través de gráficos, mapas, tablas, y
                otros elementos interactivos.
            </p>
            <p>
                <strong>
                    j) Sitios web
                </strong> La Empresa posee dos sitios web oficiales, uno corporativo y otro comercial. El
                primero corresponde a un sitio web desarrollado en Odoo, cuya dirección web es:
                <a href="www.dataintelligence-group.com">www.dataintelligence-group.com</a>
            </p>
            <p>
                El segundo, también denominado Data Store, corresponde a una Tienda Digital desarrollada
                en Shopify, cuya dirección web es <a href="https://dataintelligence.store/">
                    https://dataintelligence.store/
                </a>
            </p>
            <p>
                <strong>
                    k) Términos y Condiciones:
                </strong> Se refiere al presente documento, a través del cual, la Empresa informa a los Usuarios
                y potenciales Usuarios, las reglas y condiciones que ha establecido para que éstos se informen
                sobre la forma en que se pueden adquirir los Productos ofrecidos por la Empresa, dónde
                encontrarlos, cómo comprarlos, como acceder a ellos y utilizarlos. Asimismo, en el presente
                documento se informa  cuáles son las políticas de devoluciones, políticas de privacidad,
                seguridad, confidencialidad, entre otras materias relevantes para los Usuarios y potenciales
                Usuarios interesados en adquirir nuestros Productos.
            </p>
            <p>
                <strong>
                    l) Tienda Digital o Data Store:
                </strong>Es el espacio digital donde la Empresa comunica,
                ofrece y comercializa con el público general sus Productos Digitales, señalando sus
                características principales por medio de la ficha técnica, para que puedan ser adquiridos
                por aquellas personas que estén interesadas. Además en este mismo espacio digital, la Empresa
                difunde sus noticias, columnas de opinión, reportes y otros.
            </p>
            <p>
                <strong>
                    m) Usuario (s):
                </strong> La persona natural o jurídica, chilena o extranjera que utiliza los Productos Digitales
                de la Empresa, previo registro en el sitio web, ya sea una Licencia de Uso pagada o gratuita.
            </p>
            <p>
                <strong>
                    n) Uso Público:
                </strong>La acción del Usuario destinada a compartir, publicar, o exportar parte de los
                referidos Productos Digitales (como párrafos, secciones, gráficos, imágenes, etc.) en sitios
                web o redes sociales que permitan el libre acceso.
            </p><br><br>
            <p>
                <strong>
                    2. Condiciones Generales de Uso
                </strong>
            </p>
            <p>
                En el presente Términos y Condiciones presentamos las formas de uso de nuestros Productos
                Digitales de acuerdo al tipo de compra, licencias y propiedades de cada uno de ellos.
            </p>
            <p>
                Los Productos Digitales creados por Data Intelligence han sido elaborados por un equipo
                multidisciplinario de investigadores, ingenieros, analistas, informáticos y creativos de la
                Empresa.
            </p>
            <p>
                Los datos utilizados corresponden a datos provenientes de fuentes públicas o de acceso
                irrestricto, nacionales e internacionales y que son citadas en cada producto.
            </p>
            <p>
                Todos los Productos Digitales son propiedad de DI International SpA, empresa domiciliada en la
                comuna de Providencia, Región Metropolitana, Santiago de Chile.
            </p><br>
            <p>
                <strong>
                    2.1. Productos Digitales
                </strong>
            </p>
            <p>
                La forma de acceder a los Productos Digitales dispuestos en la Tienda Digital de la Empresa es
                por medio de un Registro de Usuario, a través del cual se le concederá una Licencia de Uso por
                el producto en particular seleccionado.
            </p>
            <p>
                Esta Licencia de Uso permite al Usuario, acceder y utilizar el o los Productos Digitales
                adquiridos, bajo las condiciones que se indican en la respectiva Ficha Técnica.
            </p>
            <p>
                Los Productos Digitales pueden ser utilizados en dos tipos de categorías:
            </p>
            <p>
                <strong>
                    a) Acceso Liberado (Licencia de Uso con acceso liberado):
                </strong>
            </p>
            <p>
                Consiste en la posibilidad de acceder de forma gratuita a ciertos Productos Digitales, dentro
                de un período de tiempo determinado que la Empresa establecerá conforme a sus intereses y
                acciones dentro del Producto Digital disponible.
            </p>
            <p>
                <strong>
                    b) Acceso Pagado (Licencia de Uso con acceso pagado):
                </strong>
            </p>
            <p>
                Consiste en el acceso pagado por un tiempo determinado, a los diferentes Productos Digitales,
                previa compra de una Licencia de Uso. En este caso la Licencia de Uso permiten la actualización
                del Producto Digital, una vez adquirido por el Usuario.
            </p>
            <p>
                <br>
                <strong>
                    2.2. Credencial
                </strong>
            </p>
            <p>
                Los datos personales suministrados por el Usuario estarán asociados a una Credencial que le
                permitirá acceder a su Producto Digital. Una vez generado el registro respectivo y generada su
                Credencial, el Usuario podrá acceder y utilizar el o los Productos Digitales adquiridos, tanto
                aquellos sujetos a Licencia de Uso con acceso liberado, como aquellos sujetos a Licencia de Uso
                con acceso pagado, en cualquier dispositivo que cuente con acceso a internet.
            </p>
            <p>
                Para estos efectos la Credencial es un formulario o registro electrónico que contiene todos los
                datos esenciales para identificar al Usuario, tales como: Nombre, Apellido, N° de documento de
                identidad (cédula de identidad o equivalente), correo electrónico, password asociado a su cuenta.
            </p>
            <p>
                <strong>
                    2.3. Pagos y Vigencia (aplicable sólo a las Licencias de Uso con acceso pagado).
                </strong>
            </p>
            <p>
                <strong>
                    2.3.1. Pago
                </strong>
            </p>
            <p>
                El Pago podrá ser realizado a través de las Pasarelas de Pago disponibles en nuestra Tienda
                Digital.
            </p>
            <p>
                Una vez verificado, el Usuario recibirá un correo electrónico con las indicaciones y URL para
                acceder y activar su Producto Digital. En caso de no recibir el correo, debe notificar la
                revisión de su situación a <a href="mailto:soporte@dataintelligence-group.com">soporte@dataintelligence-group.com</a>,
                solicitando una respuesta y solución.
            </p><br>
            <p>
                <strong>
                    2.3.2. Vigencia
                </strong>
            </p>
            <p>
                La Licencia de Uso establecerá el periodo para usar cada Producto Digital, la que en todo caso
                no será superior a los 12 meses, contados desde su adquisición. La Licencia de Uso incluye la
                actualización correspondiente y el servicio de soporte durante el período de vigencia, así como
                la posibilidad de su renovación por parte del Usuario, una vez vencida.
            </p>
            <p>
                <strong>
                    2.4. Licencias de Uso
                </strong>
            </p>
            <p>
                Las Licencias de Uso otorgadas a los Usuarios comprenden la utilización de los Productos
                Digitales y, en general, cualquier otro material de información desarrollado por la Empresa,
                permitiendo su uso solo dentro del sistema en que se encuentra dispuesto el Producto Digital.
            </p>
            <p>
                Las Licencias de Uso no son transferibles, es decir, sólo se habilita una Licencia de Uso para
                cada producto adquirido por un Usuario registrado. Sin perjuicio de ello, pueden existir
                variaciones en el número de Usuarios por compra, en el caso de Usuarios corporativos, en el cual
                se habilitará una Licencia de Uso que permita la utilización del Producto Digital por parte de
                varios Usuarios.
            </p>
            <p>
                El uso de los Productos Digitales está asociado a un registro que le permitirá hacer uso de ellas
                en cualquier momento, mientras esté vigente la Licencia de Uso.
            </p>
            <p>
                Cada Producto Digital cuenta con una Ficha Técnica que resume las características principales de
                él (para mayor detalle revisar letra E de las definiciones del presente Términos y Condiciones).
            </p>
            <p>
                <strong>
                    2.5. Condiciones y Restricciones de uso para Productos Digitales
                </strong>
            </p>
            <p>
                <strong>a)</strong> Los Productos Digitales pueden ser utilizadas en cualquier dispositivo
                electrónico, sin limitaciones en cuanto a su formato: desktop, laptop, tablet, móvil, etc.
            </p>
            <p>
                Para el uso adecuado de los Productos Digitales es necesario que los dispositivos electrónicos,
                a través de los cuales se pretende acceder a éstos, cuenten con conexión a internet.
            </p>
            <p>
                <strong>b)</strong> Los Productos Digitales sujetos a Licencia de Uso con acceso pagado no pueden
                ser compartidos de forma pública si fueron adquiridos de manera regular en nuestra Tienda
                Digital o Data Store. En consecuencia, los Usuarios que hayan adquirido Productos Digitales
                sujetos a este tipo de Licencia, no podrán liberar el contenido de éste en soportes digitales o
                sitios web sin la autorización de la Empresa. Realizar la acción referida o similares, -lo que
                será determinado a juicio exclusivo de la Empresa-, constituye una violación a la forma de
                interacción de los Usuarios con los Productos Digitales ofrecidos por la Empresa, reservándose
                esta última el derecho a ejercer todas las acciones legales pertinentes.
            </p>
            <p>
                <strong>c)</strong> En caso de que existan Usuarios que quieran contar con un Producto Digital
                para hacer uso público de éste, deberán contactar a la Empresa para evaluar este requerimiento,
                escribiendo al correo electrónico: <a href="mailto:contacto@dataintelligence-group.com">contacto@dataintelligence-group.com</a>
            </p>
            <p>
                <strong>d)</strong> La Empresa autoriza a los Usuarios para utilizar los Productos Digitales,
                o parte de éstos  exclusivamente con fines académicos, de investigación, o periodísticos,
                siempre que haga referencia, mediante cita,  a DI International SpA, como “Data Intelligence”,
                como fuente de la información.
            </p>
            <p>
                Lo señalado en el párrafo anterior obligará al Usuario a mencionar que la autoría o fuente del
                Producto Digital cuya parte o elemento comparte o exporta, ha sido elaborado por DI International
                SpA.
            </p>
            <p>
                Se permitirá el Uso Público de Productos Digitales, de acuerdo a lo señalado en la letra N de las
                Definiciones del presente documento, siempre que éste  no implique  dañar la imagen o alterar de
                alguna manera la información que se encuentra visualizada, a través de una URL o código de
                incrustación (embed) generado desde donde se encuentran publicados los contenidos.
            </p>
            <p>
                Todo perjuicio que se cause a la Empresa deberá  ser indemnizado ya sea por el Usuario o por
                terceros que hagan un uso inadecuado de los Productos Digitales.
            </p>
            <p>
                <strong>e)</strong> Se debe respetar el branding establecido y en caso de ser alterado, se
                considerará como un daño o uso inadecuado de los Productos Digitales, lo que será determinado
                a juicio exclusivo de la Empresa.
            </p>
            <p>
                <strong>f)</strong> El Usuario no puede alterar los Productos Digitales, ya que esa opción no
                está disponible dentro de las Plataformas. No hay opción de editar o traspasar el Producto
                Digital a otro espacio digital, salvo que se llegue a un acuerdo comercial o de asociatividad
                con Data Intelligence para hacer reproducción en otro sitio web público.
            </p>
            <p>
                <strong>g)</strong> El Usuario no puede descargar las bases de datos con las cuales se construyen
                los Productos Digitales, en caso de infringir lo señalado, la Empresa se reserva el derecho a
                ejercer todas las acciones legales que correspondan.
            </p><br>
            <p>
                <strong>
                    2.6. Idioma
                </strong>
            </p>
            <p>
                Todas los Productos Digitales que están disponibles al público se encuentran en idioma castellano.
            </p><br>
            <p>
                <strong>
                    3. Responsabilidades
                </strong>
            </p>
            <p>
                <strong>
                    3.1 Responsabilidad de la Empresa
                </strong>
            </p>
            <p>
                <strong>a)</strong> La Empresa no se hace responsable en caso de que exista algún error en la
                información suministrada, la cual ha sido extraída desde lugares y fuentes de acceso público.
                Respecto a lo señalado, no será procedente ningún tipo de compensación, indemnización o reembolso
                al Usuario, si efectivamente existiere algún error en la información suministrada.
            </p>
            <p>
                <strong>b)</strong> La Empresa se hará responsable  únicamente en caso de que la Plataforma que
                esté siendo utilizada por el Usuario sufra algún inconveniente técnico como: error en visualización,
                falta de actualización definida, caída del servidor, funciones interactivas que presenten error o
                desconfiguración de diseño.
            </p><br>
            <p>
                <strong>
                    3.2 Responsabilidad del Usuario
                </strong>
            </p>
            <p>
                En caso de que, alguno de los inconvenientes técnicos señalados en la letra b) del número 2
                anterior, el Usuario deberá reportar el problema por correo a:
                <a href="mailto:soporte@dataintelligence-group.com">soporte@dataintelligence-group.com</a>.
            </p>
            <p>
                Notificado el reporte por parte del Usuario, la Empresa tendrá entre 24 hrs y 48 hrs para
                responder desde la correcta recepción del respectivo correo.
            </p>
            <p>
                El Usuario se obliga expresamente a utilizar los Productos Digitales de la forma señalada en el
                presente documento, especialmente a cumplir con lo mencionado en el punto 2.5 anterior, y  abstenerse
                de reproducir, replicar o utilizar de modo no comprendido en el numeral referido, cualquier Producto
                Digital comprendida en la Licencia de Uso, sea de acceso gratuito o pagado, sin importar si obtiene
                o no una retribución por ello.
            </p><br>
            <p>
                <strong>
                    4. Servicios
                </strong>
            </p>
            <p>
                La Empresa se dedica a investigar y recopilar datos desde fuentes de acceso público, verificando
                su autenticidad o carácter oficial, para luego depurarlos, sistematizarlos, almacenarlos y
                estructurarlos, transformándolos en información y desarrollando con ellos cada uno de los
                Productos Digitales que son ofrecidos al público en general. La información es actualizada
                periódicamente y de forma regular, de acuerdo a los períodos de disponibilidad de los datos.
            </p><br>
            <p>
                <strong>
                    4.1. Servicios Personalizados
                </strong>
            </p>
            <p>
                Es posible que el Usuario o un potencial Usuario, manifieste su necesidad de contar con un
                Producto Digital que no se encuentre en el Catálogo, en este caso podrá encargar su desarrollo
                previa suscripción del contrato respectivo con la Empresa.
            </p><br>
            <p>
                <strong>
                    4.2 Exclusividad
                </strong>
            </p>
            <p>
                El Usuario podrá suscribir un acuerdo de exclusividad con la Empresa, reservándose el acceso a
                un Producto Digital.
            </p><br>
            <p>
                <strong>
                    5. Política de Devoluciones
                </strong>
            </p>
            <p>
                En caso de que lo indicado en la Ficha Técnica del Producto Digital adquirido no cumpla con lo
                que puedes ver o realizar con éste al momento de usarlo,  podrás solicitar la devolución del precio
                pagado.
            </p><br>
            <p>
                <strong>
                    5.1. Proceso de Devolución.
                </strong>
            </p>
            <p>
                <strong>a)</strong> Se debe enviar una Solicitud de Devolución explicando el motivo por el cual se solicita al correo electrónico: soporte@dataintelligence-group.com.
            </p>
            <p>
                <strong>b)</strong> La Empresa notificará que ha recibido la Solicitud de Devolución y responderá
                al requerimiento dentro de un plazo de 24 a 48 horas.
            </p>
            <p>
                <strong>c)</strong> La Empresa te enviará, de manera gratuita un Producto Digital similar a aquel
                cuya devolución se pidió,  para que lo puedas probar por 15 días.
            </p>
            <p>
                <strong>
                    6. Política de Privacidad
                </strong>
            </p>
            <p>
                <strong>
                    6.1. Información de Registro y Seguimiento de Uso
                </strong>
            </p>
            <p>
                Los datos recopilados de quienes se registren como Usuarios están asociados a su experiencia como
                tales,  y podrán comunicarse con nuestro equipo en caso de que requiera soporte técnico. Además
                de generar retroalimentación con la Empresa respecto a nuestro Catálogo de Productos Digitales.
            </p>
            <p>
                De acuerdo a lo señalado, se considera lo siguiente:
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;
                Registro de datos personales para adquirir (ya sea de manera gratuita o pagada) el Producto
                Digital seleccionado.<br><br>
                - &nbsp;&nbsp;
                Envío de notificación comercial (estado del pago, tipo de licencia adquirida con su Producto).<br><br>
                - &nbsp;&nbsp;
                Aviso de renovación de Licencia para el Producto adquirido. <br><br>
                - &nbsp;&nbsp;
                Encuestas de satisfacción y consultas periódicas sobre experiencia del Usuario en relación a la
                calidad de los Productos Digitales, sitios web de la Empresa y evaluación de proceso de compra,
                soporte u otro que involucre directamente al Usuario.<br><br>
                - &nbsp;&nbsp;
                Comunicación directa para oferta de Catálogo de Productos Digitales nuevos asociados a su interés.<br><br>
                - &nbsp;&nbsp;
                Personalización de oferta de acuerdo a los contenidos preferidos. <br><br>
                - &nbsp;&nbsp;
                Análisis de uso de los Productos Digitales adquiridos para mejorar su experiencia de Usuario. <br><br>
                - &nbsp;&nbsp;
                Monitoreo de uso de cualquier visitante a la web de acuerdo al área geográfica o ubicación donde
                se encuentre el Usuario.<br><br>
                - &nbsp;&nbsp;
                Envío de boletín informativo (newsletter). <br><br>
                - &nbsp;&nbsp;
                Ofertas de contenido exclusivo o pre-lanzamiento de Productos Digitales nuevos. <br><br>
                - &nbsp;&nbsp;
                Observación de la actividad del Usuario dentro del Producto Digital con la finalidad de
                monitorear problemas técnicos o para mejorar su experiencia como tal.<br><br>
            </p>
            <p>
                <strong>
                    6.2. Seguridad y Confidencialidad
                </strong>
            </p>
            <p>
                La Empresa se compromete al resguardo y protección de los datos personales de todos sus Usuarios
                en especial los contenidos en su Credencial y los relativos a los medios de pago, resguardando
                que no sean transferidos a un tercero, ni utilizados de forma indebida sin autorización de su
                titular.
            </p><br>
            <p>
                <strong>
                    6.3. Política de Cookies
                </strong>
            </p>
            <p>
                Las Cookies son fragmentos de datos que se almacenan dentro de un sitio web visitado, para
                recordar preferencias asociadas a sus dispositivos, y así mejorar la experiencia del Usuario junto
                con los análisis de marketing correspondientes que el titular del sitio web desee realizar.
            </p>
            <p>
                La Empresa actualmente utiliza las siguientes herramientas para la administración y gestión de
                datos (en especial también de datos de Usuarios, dirección IP, cookies y logfiles):
            </p><br>
            <p class="offset-1">
                - &nbsp;&nbsp;
                Google Analytics (medición de visitantes en la página web) <br><br>
                - &nbsp;&nbsp;
                Amazon Web Services (gestión de páginas web, espacio en servidor)<br><br>
                - &nbsp;&nbsp;
                Microsoft Exchange Server (datos de contacto, correos electrónicos)<br><br>
                - &nbsp;&nbsp;
                Mailchimp (datos de contacto, correos electrónicos a grupos grandes)<br><br>
                - &nbsp;&nbsp;
                Userlike (suministro de ventanas de servicios en la página web)<br><br>
                - &nbsp;&nbsp;
                Shopify (tienda online – plataforma de comercio) <br><br>
            </p>
            <p>
                Las herramientas mencionadas se activan automáticamente cada vez que el Usuario ingresa a alguno
                de nuestros sitios web. El objetivo, por nuestra parte, es utilizarlas exclusivamente para
                asegurar el uso adecuado del Producto Digital y mejorar la experiencia del Usuario.
            </p><br>
            <p>
                <strong>
                    6.4  Redes Sociales (RRSS) o plataformas externas
                </strong>
            </p>
            <p>
                Las Redes Sociales de la Empresa (Facebook, Twitter, Instagram, YouTube y LinkedIn) están sujetas
                a las políticas de uso establecidas por los operadores de las respectivas plataformas.
            </p>
            <p>
                Información adicional sobre la recogida y uso de datos que realizan dichos operadores, así como
                los derechos y posibilidades disponibles para proteger su privacidad en este contexto se puede
                encontrar en las informaciones de protección de datos de cada una de ellas:
            </p><br>
            <p class="offset-1">
                - &nbsp;&nbsp;<strong><u>Facebook:</u></strong>
                <a href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a>
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;<strong><u>Twitter:</u></strong>
                <a href=" https://twitter.com/privacy "> https://twitter.com/privacy </a>
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;<strong><u>Instagram:</u></strong>
                <a href="https://help.instagram.com/">https://help.instagram.com/</a>
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;<strong><u>YouTube: </u></strong>
                <a href="https://policies.google.com/privacy?hl=es">https://policies.google.com/privacy?hl=es</a>
            </p>
            <p class="offset-1">
                - &nbsp;&nbsp;<strong><u>LinkedIn:</u></strong>
                <a href="https://www.linkedin.com/legal/privacy-policy ">https://www.linkedin.com/legal/privacy-policy</a>
            </p><br>
            <p>
                <strong>
                    7. Contacto
                </strong>
            </p>
            <p>
                Si tiene alguna pregunta relativa a los presentes Términos y Condiciones le rogamos ponerse en
                contacto con nosotros a través de la sección Contacto que encuentra en el pie de página de
                nuestros sitios web o bien nos puede escribir directamente a
                <a href="mailto:contacto@dataintelligence-group.com">contacto@dataintelligence-group.com</a>.
            </p><br><br>
        </div>
        <div class="col-6 text-center">
            <a class="text-center" href=" www.dataintelligence-group.com">www.dataintelligence-group.com</a>
        </div>
        <div class="col-6 text-center">
            <a href="  www.dataintelligence.store">www.dataintelligence.store</a>
        </div>
    </div>    
</div>
<script>
        ActivarMenuSuperior4("#no")
</script>