* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
}

/*estilos de los efectos del navbar principal*/
.navbar {
    background-color: #B8348A !important;
}
/*estilos de los efectos del navbar principal*/
.nav-link {
    transition: 0.3s ease;
    /*background: #3fa46a;*/
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    /*border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;*/
    padding: 20px 0;
    margin: 0 20px;
}

    .nav-link:hover {
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        padding: 6px 0;
        background-color: #B8348A;
    }
/*fin estilos de los efectos del navbar principal*/
/****content-logo********/
.content-logo {
    width: 200px;
    height: auto;
}

    .content-logo img {
        width: 100%;
        height: 100%;
    }
/****final content-logo********/
.content-header {
    width: 100%;
    text-align: center;
    background-color: #B3B1B2;
}

    .content-header h3 {
        font-weight: 100;
        margin-top: 20px;
    }


/*Estilos del primer parrafo de content1 antes del buscador*/
body #centerbox {
    width: 500px;
    margin: 0 auto;
}

article.highlight {
    margin-bottom: 10px;
    color: #000000;
    background: #cecece;
    background: #B3B1B2;
    border-radius: 5px;
}

    article.highlight * {
        transition: color 0.1s linear;
    }

    article.highlight span {
        color: #000000 !important;
    }

    article.highlight p {
        margin: 0;
    }

    article.highlight:hover, article.highlight.hover {
        color: #cecece;
    }
/* fin Estilos del primer parrafo de content1 antes del buscador*/
.content1 {
    width: 100%;
    text-align: center;
    background: repeating-linear-gradient(to right, rgb(47 135 199), rgb(157 33 99)) !important;
}



/*estilos seccion infobox index , HOME*/
.content-boxInfo {
    background-color: black;
}

.boxtitulo {
    color: white;
}



/*estilos seccion infobox index*/

/*estilos index panaorama*/
.content-Panarama {
    background-color: #EDEDED;
}
.slider-PANORAMAS {
    background-color: #DAA653;
}
/*estilos index panaorama*/

/*SEMANARIO FOCOS DE FUEGO*/

.slider-focoFuego {
    background-color: #93839F;
    color:white;
}
/*SEMANARIO FOCOS DE FUEGO*/
/*SEMANARIO GLACIARES*/

.slider-Glaciares {
    background-color: #B1C5DD;
}
/*SEMANARIO GLACIARES*/



#content1-p2 {
    font-size: 12px;
}

.content1 h3 {
    font-weight: 100;
    margin-top: 20px;
}

.content2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

    .content2 p {
        width: 100%;
        margin-top: 10px;
    }
/*Estilos de contenidos de los cuadros*/
.container .card {
    border: none;
    cursor: pointer;
}

    .container .card .face {
        height: 200px;
        transition: 0.5s;
    }

        .container .card .face.face1 {
            background: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: translateY(100px);
        }

    .container .card:hover .face.face1 {
        background: #00a135;
        transform: translateY(0);
    }

    .container .card .face.face1 .content {
        opacity: 0.2;
        transition: 0.5s;
    }

    .container .card:hover .face.face1 .content {
        opacity: 1;
    }

    .container .card .face.face1 .content img {
        max-width: 100px;
    }

    .container .card .face.face1 .content h3 {
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
    }

    .container .card .face.face2 {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }

    .container .card:hover .face.face2 {
        transform: translateY(0);
    }

    .container .card .face.face2 .content p {
        margin: 0;
        padding: 0;
    }

    .container .card .face.face2 .content a:hover {
        background: #333;
        color: #fff;
    }


/*fin Estilos de contenidos de los cuadros*/
.content3 {
    width: 100%;
    text-align: center;
    background-color: #EDEDED;
}

    .content3 h3 {
        margin-top: 40px;
    }

.content4 {
    width: 100%;
    text-align: center;
}

    .content4 h3 {
        width: 100%;
        margin-top: 40px;
    }

    .content4 img {
        margin-top: 40px;
    }

    .content4 a {
        margin-bottom: 10px;
    }

#content4-p1 {
    font-size: 12px;
}

/*efecto de botones en content4*/
/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade {
    visibility: hidden;
}
    /* Prevents :hover from triggering in the gaps between items */

    .sibling-fade > * {
        visibility: visible;
    }
    /* Brings the child items back in, even though the parent is `hidden` */

    .sibling-fade > * {
        transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
    }
    /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

    .sibling-fade:hover > * {
        opacity: 0.4;
        transform: scale(0.9);
    }
    /* Fade out all items when the parent is hovered */

    .sibling-fade > *:hover {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0ms, 0ms;
    }
/* Fade in the currently hovered item */

.content5 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

    .content5 p {
        margin-top: 60px;
    }

    .content5 img {
        border-radius: 50%;
        width: 170px;
        height: 170px;
    }

/*Estilos de las comillas grande */
blockquote:before {
    content: "\201C"; /* inicio comilla */
    font-family: Georgia;
    font-size: 60px; /* tamaño */
    font-weight: bold;
    line-height: 0px;
    color: #000; /* Color  */
    vertical-align: middle;
    float: left;
}

blockquote:after { /* final */
    content: "\201D";
    font-family: Georgia;
    font-size: 60px; /* tamaño */
    font-weight: bold;
    line-height: 0px;
    color: #000; /* Color  */
    vertical-align: middle;
    padding-top: 10px;
    float: right;
}
/*Estilos de las comillas grande */
/*medias query*/
@media screen and (min-width:768px) {
    .content5-secciones div {
        border-right: 2px solid #000000;
    }

    .content5 p {
        width: 70%;
        margin: auto;
    }
    /* INICIA ESTILOS COLECCIONES*/
    .h5coleccion {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .pcoleccion {
        font-size:0.9rem;
    }
    .pins {
        font-size: 0.9rem;
    }
    /* FIN ESTILOS COLECCIONES*/

}

@media screen and (max-width:768px) {
    .slide-big {
        display: none;
    }
}

/* INICIA ESTILOS COLECCIONES*/
@media screen and (max-width:576px) {
    .h5coleccion {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .pcoleccion {
        font-size: 0.8rem;
    }
    .pins {
        font-size: 0.9rem;
    }
    .pcarruselcolec {
        padding: 10% 0
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .h5coleccion {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .pcoleccion {
        font-size: 1rem;
    }
    .pins {
        font-size:1rem;
    }
    .pcarruselcolec {
        padding: 5% 0
    }
}
/*CSS Menú MOVIL */
.ddcolecciones {
    background-color: #dbdde9;
}

.ddhcolecciones:hover {
    font-weight: bold;
}

/*CSS Menú*/
.h6colecciones {
    padding-left: 10px !important;
    padding-top: 35px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #d1d3de;
}

.liacolecciones{
    padding: 5px !important;
    margin: 0px !important;
    padding-left: 10px !important;
}

    .liacolecciones:hover {
        background-color: #ffffff;
    }

    .liacolecciones:active {
        color: #00a135 !important;
    }

.ulcolecciones {
    background-color: #dbdde9;
}

.lispancolecciones {
    color: #000000 !important;
}
.liIng{
    color: #000000 !important;
}

.icolecciones{
    height:25px !important;

}

.licolecciones {
    border-bottom: 1px solid #d1d3de;
}

.cardcoleccion {
    border-color: transparent;
    background-color: transparent;
}
.activa {
    background-color: red;
}
/* TERMINA ESTILOS COLECCIONES*/

/*nuevos estilos pagina inicio publico*/
#header2{
    color:white;
}
#text2 {
    color: white;
}
#text3 {
    color: #231F20;
}
#text4 {
    color: black;
}
/*buscador grande en inicio*/
.example {
    justify-content: center;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    /*  border: 0px solid thin;*/
    /* float: right;*/
    width: 80%;
    background: #F2F3F4;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
}

form.example button {
    /*float: right;*/
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}
/*buscador grande en inicio*/

/*ESTILOS CARRUSEL DE ICONOS DE SUSCRIPCIONES */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    .carousel-control-next {
        display:none !important;
    }

    .carousel-control-prev {
        display:none !important;
    }

    #TituloCon {
        text-align: center !important;
    }

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);

    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);

    }
    .carousel-control-next {
        right: -60px !important;
    }

    .carousel-control-prev {
        left: -60px !important;
    }
    .carousel-control-prev-icon {
        width: 30px !important;
        height: 30px !important;
    }

    .carousel-control-next-icon {
        width: 30px !important;
        height:30px !important;
    }
    .card-img-overlay {
        cursor: default !important;
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
/*ESTILOS CARRUSEL DE ICONOS DE SUSCRIPCIONES */

/*nuevos estilos pagina inicio publico*/