@{
    ViewBag.Title = "Glaciares_Los_Lagos";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12" id='product-component-1639759445059'></div>
    </div>
</div>

<script src="~/Scripts/Ventas/Glaciares_Los_Lagos.js"></script>