@{
    ViewBag.Title = "Municipio";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="container">
    <div class="row mt-5 mb-5">
        @*<div id='collection-component-1639760386560'></div>*@
        <div class="col-md-12" id='collection-component-1639760386560'></div>
    </div>
</div>
<script src="~/Scripts/Ventas/Municipio.js"></script>