@{
    ViewBag.Title = "semanarios";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="container">
    <div class="row ">
        <div class="col-12 text-center mt-5 mb-5">
            <h2>Semanarios</h2>
        </div>
        <div class="col-md-3 text-center">

            <div class="card" style="width: 12rem;">
                <img src="~/Images/imagenes_tematicas_coleccionagricultura/recuadrosweb_Agricultura_empleados.png" class="card-img-top img-fluid" alt="...">

                <div class="card-body">
                    <h5 class="card-title">
                        SEMANARIO del AGRO
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="~/Ventas/semanarioAgro" target="_blank"  class="btn btn-primary">Ver Semanario</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">

            <div class="card" style="width: 12rem;">
                <img src="~/Images/imagenes_tematicas_coleccionagricultura/recuadrosweb_Agricultura_empleados.png" class="card-img-top img-fluid" alt="...">

                <div class="card-body">
                    <h5 class="card-title">
                        SEMANARIO de Incendios
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Ver Semanario</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">

            <div class="card" style="width: 12rem;">
                <img src="~/Images/imagenes_tematicas_coleccionagricultura/recuadrosweb_Agricultura_empleados.png" class="card-img-top img-fluid" alt="...">

                <div class="card-body">
                    <h5 class="card-title">
                        SEMANARIO de Glaciares
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Ver Semanario</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">

            <div class="card" style="width: 12rem;">
                <img src="~/Images/imagenes_tematicas_coleccionagricultura/recuadrosweb_Agricultura_empleados.png" class="card-img-top img-fluid" alt="...">

                <div class="card-body">
                    <h5 class="card-title">
                        SEMANARIO de Municipio
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Ver Semanario</a>
                </div>
            </div>
        </div>
    </div>
</div>