/*-----------------------BODY--------------------------*/
/*Por alguna razon no encuentra estos recursos*/
/*
@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('Font/MYRIADPRO-REGULAR.OTF') format('opentype');
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('img/Font/MYRIADPRO-REGULAR.OTF') format('opentype');
}
 */  

body {
    font-family: 'Open Sans',sans-serif !important;
}



/*-----------------------Section de call to action superior imagen fondo-------------------------*/
.c2a1 {
    font-family: 'MYRIADPRO-REGULAR';
    color: #8d97ad;
    font-weight: 300;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

    .c2a1 h1, .c2a1 h2, .c2a1 h3, .c2a1 h4, .c2a1 h5, .c2a1 h6 {
        color: #3e4555;
    }


    .c2a1 .font-weight-medium {
        font-weight: 500;
    }

    .c2a1 .btn-danger-gradiant:hover {
        background: #ff6a5b;
        background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
        background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
        background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
        background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
        background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
    }

    .c2a1 .btn-sm {
        padding: 2px 25px;
        font-size: 14px;
        border-radius: 25px;
    }
/*titulo seccion palabras claves*/
#subT h3 {
    font-family: 'MYRIADPRO-REGULAR';
    font-weight: 300;
    color: #106fb8;
    text-align: center;
}
/*parafo seccion palabras clave*/
#subT p {
    font-family: 'MYRIADPRO-REGULAR';
    font-weight: 300;
    color: #b0b0b0;
    text-align: center;
}
/*Seccion call to action*/
.call-to-action {
    padding: 40px 0;
    margin-bottom: 50px;
}

h5 {
    color: #fff;
    font-family: Arial;
    font-size: 25px;
}

#last1 {
    color: #fff;
    font-family: Arial;
    font-size: 14px;
}

    #last1 a {
        text-decoration: none;
    }

.btn {
    border-radius: 5px;
    margin: 0px 0 0 0;
    font-weight: 700;
}

.btn2 {
    border-radius: 5px;
    border: transparent;
    font-weight: 700;
    background-color: transparent;
}

.btn.btn-white {
    background: #fff;
    color: #666;
    border-bottom: 4px solid #ddd;
}

@media (max-width: 768px) {
    .m-text-center {
        text-align: center;
    }

    .call-to-action h1 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .m-text-center {
        text-align: center;
    }

    .call-to-action h1 {
        font-size: 25px;
    }
}

/* ========================================================================*/
/*Sección buscador*/

.tituloBuscador {
    font-family: 'Open Sans',sans-serif !important;
}

.buscador {
    font-family: 'Open Sans',sans-serif !important;
}
/*botones seccion palabras claves*/
.bClaves .btn-sm {
    padding: 2px 35px;
    font-size: 10px;
    border-radius: 25px;
    margin: 21px 0 0 0;
}
/*************************carrusel pagina HomeOdoo**********************************************************/
/*@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}*/



 /*display 3 */
/*@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}
@media (min-width: 768px)  {
    .col-md-4 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }
}
@media (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 auto !important;
        width: 33.333% !important;
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}*/

.palabrasClaves .btn-sm {
    width: 170px;
    padding: 2px 25px;
    font-size: 10px;
    border-radius: 25px;
    margin: 21px 0 0 0;
}

.btn-outline-warning {
    border-color: #c97c5a !important;
    color: #c97c5a;
}

    .btn-outline-warning:hover {
        background: #c97c5a;
        color: #fff !important;
    }

.btn-outline-danger {
    border-color: #832d43 !important;
    color: #832d43
}

    .btn-outline-danger:hover {
        background: #832d43;
        color: #fff !important;
    }


/***********************estilos submenus megamenu principal*******************************/

#scroll1::-webkit-scrollbar {
    width: 8px;
}

/* Estilos barra (thumb) de scroll */
#scroll1::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

    #scroll1::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

    #scroll1::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

/* Estilos track de scroll */
#scroll1::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

    #scroll1::-webkit-scrollbar-track:hover,
    #scroll1::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }


/*Botones de submenu */
.btn-outline-dark:hover {
    border-color: #e30713 !important;
    background: #201f1d;
    color: #fff !important;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        text-decoration: none;
    }
    .link-card {
        text-decoration:none !important;
        color:black !important;
    }