
@{
    Layout = "~/Views/Shared/_LayoutIncendios.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empleo</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center" style="padding:5%;">
            Oportunidades de Empleo
        </h1>
        <img style="max-width: 100%;" src="~/Images/ImagenWeb_DI_empleo.jpg" class="img-fluid w-100" alt="Empleo">
        <p class="text-center" style="font-size:24px; padding-top:3%; padding-left:10%; padding-right:10%; padding-bottom:3%;">
            Transformar datos en información, ampliar posibilidades. Esa es nuestra misión. ¿Te gustaría ser parte de ella?
            <br />
            Nuestro equipo está conformado por profesionales de múltiples ámbitos, ya que nos interesa la convergencia de diversas experiencias, conocimientos y propuestas.  Juntos podemos trabajar para generar importantes cambios.
        </p>
    </div>
    <script>
        ActivarMenuSuperior4("#no")
    </script>
</body>
</html>
