@{
    Layout = "~/Views/Shared/_LayoutIncendios.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center mt-3 mt-md-5 mb-3 mb-md-5">
            <div class="col-12 col-md-10">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <img class="img-fluid" src="~/Content/Suscripcion Incendios imagenes/iconoColeccion_Incendios_azulgrande.png" />
                    </div>
                    <div class="col-8 col-sm-9 col-md-10 " style="border-left: solid 0.5px #b0b0b0;">
                        <h5 class="h2 coleccion mt-5 mt-md-0 pt-md-0" style=" font-weight: bold;">Incendios</h5>
                        <p class="d-none d-md-block">
                            Año a año, los incendios forestales se han transformado en nuestra realidad cotidiana. Conocer
                            las causas y la superficie afectada es básico para crear las estrategias de prevención y
                            así lograr mitigar sus efectos. Data Intelligence, en su Colección Incendios, presenta
                            información fundamental extraída de datos recopilados durante un periodo de 11 años. Se
                            muestran, mediante mapas y gráficos interactivos, las causas que originaron el incendio;
                            la cantidad; la superficie afectada; la ubicación y la temporalidad de ocurrencia.
                        </p>
                    </div>
                    <div class="col-12 mt-3" style="border-left: solid 0.5px #b0b0b0;">
                        <p class="d-block d-md-none ">
                            Año a año, los incendios forestales se han transformado en nuestra realidad cotidiana. Conocer
                            las causas y la superficie afectada es básico para crear las estrategias de prevención y
                            así lograr mitigar sus efectos. Data Intelligence, en su Colección Incendios, presenta
                            información fundamental extraída de datos recopilados durante un periodo de 11 años. Se
                            muestran, mediante mapas y gráficos interactivos, las causas que originaron el incendio;
                            la cantidad; la superficie afectada; la ubicación y la temporalidad de ocurrencia.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*CONTAINER TAMAÑO DE PANTALLA MEDIO O SUPERIOR*@
        <div class="container d-none d-md-block">
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-4" style="height: 100%; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:5%; font-weight:bold;">
                                    DAÑO
                                </header>
                                <Strong>Fuente:</Strong> Corporación Nacional Forestal (CONAF)
                                <br />
                                <strong>Periodo:</strong> 2010 – 2021
                                <br />
                                <strong>Actualización:</strong> Por temporada
                            </div>
                        </div>
                        <div class="col-4" style="height: 100%; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    OCURRENCIA
                                </header>
                                <Strong>Fuente:</Strong> Corporación Nacional Forestal (CONAF); Análisis SIG Data Intelligence
                                <br />
                                <strong>Periodo:</strong> 2010 – 2021
                                <br />
                                <strong>Actualización:</strong>Por temporada
                            </div>
                        </div>
                        <div class="col-4" style="height: 100%; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    SUPERFICIE POR INCENDIO
                                </header>
                                <Strong>Fuente:</Strong> Corporación Nacional Forestal (CONAF)
                                <br />
                                <strong>Periodo:</strong> 2010 – 2021
                                <br />
                                <strong>Actualización:</strong> Por temporada
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        @*CONTAINER TAMAÑO DE PANTALLA PEQUEÑO O INFERIOR*@
        <div class="container d-block d-md-none">
            <div class="row justify-content-center d-flex mb-5" style="margin-bottom:150px;">
                <div class="col-12">
                    <div id="carousel6" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="height:50%;margin-bottom:20px;">
                                <div class="w-100 " style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:5%; font-weight:bold;">
                                        DAÑO
                                    </header>
                                    <Strong>Fuente:</Strong> Corporación Nacional Forestal (CONAF)
                                    <br />
                                    <strong>Periodo:</strong>2020 – 2021
                                    <br />
                                    <strong>Actualización:</strong>por temporada
                                </div>
                            </div>
                            <div class="carousel-item mb-5" style="height: 30vh; margin-bottom: 70px; border-radius: 15px; background-color: white; padding: 5% 0; ">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%; ">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        OCURRENCIA
                                    </header>
                                    <Strong>Fuente:</Strong>Corporación Nacional Forestal (CONAF)
                                    <br />
                                    <strong>Periodo:</strong>2020 – 2021
                                    <br />
                                    <strong>Actualización:</strong>por temporada
                                </div>
                            </div>
                            <div class="carousel-item mb-5" style="height: 30vh; margin-bottom: 70px; border-radius: 15px; background-color: white; padding: 5% 0; ">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%; ">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        SUPERFICIE POR INCENDIO
                                    </header>
                                    <Strong>Fuente:</Strong>Corporación Nacional Forestal (CONAF)
                                    <br />
                                    <strong>Periodo:</strong>2020 – 2021
                                    <br />
                                    <strong>Actualización:</strong>por temporada
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center" style="padding-bottom:8%; display:none;">
                        <div class="col-12">
                            <a class="btn btn-primary mb-3 mr-1" href="#carousel6" role="button" data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn btn-primary mb-3" href="#carousel6" role="button" data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" style="background-color:#c6ccda;">
            <div class="col-lg-2"></div>
            <div class="col-12 col-lg-4 text-center mt-3 mt-md-0" style="padding-top:2%; padding-bottom:2%;">
                <!--Form buscador-->
                <form action="~/Incendios/PaginaBusqueda" method="get" style="padding-top:3%;">
                    <input type="text" id="id" name="id" placeholder="Búsqueda de palabras claves" style="padding: 6px; border: none; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                    <button id="search-button" type="submit" value="Submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-12 col-lg-4 text-center" style="padding-top:2%; padding-bottom:2%;">
                <H4 style="margin:0 !important; font-weight:normal; padding-bottom:2%;">¡Explora, busca y encuentra!</H4>
                <h6 style="line-height:18px;">
                    Somos un espacio creado para visualizar información.
                    Ingresa una palabra clave y busca en nuestras bases de datos.
                </h6>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    @*Boton para ir arriba*@
    <style>
        .ir-arriba {
            display: none;
            padding: 10px;
            background: #024959;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index:999;
        }
    </style>
    <i class="ir-arriba  bi bi-arrow-up-square"></i>
    @*<span class="ir-arriba icon-arrow-up2"></span>*@
    <script>
        $(document).ready(function () {

            $('.ir-arriba').click(function () {
                $('body, html').animate({
                    scrollTop: '0px'
                }, 300);
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });

        });
    </script>
    <script src="~/Content/carrusel14/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/carrusel14/js/bootstrap.min.js"></script>
    <script>
        ActivarMenuSuperior("#Incendios_FuentesUsuario");
    </script>
</body>
</html>
