@{ 
    Layout = "~/Views/Shared/_LayoutGlaciares.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center mt-3 mt-md-5 mb-md-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-4 col-sm-3 col-md-2">
                        <img class="img-fluid" style="width:90%" src="~/Images/simbolossolos_botones/simbolo_coleccion_glaciares.png" />
                    </div>
                    <div class="col-8 col-sm-9 col-md-10 " style="border-left: solid 0.5px #b0b0b0;">
                        <h5 class="h2 coleccion mt-md-0 pt-md-0 d-none d-md-block"><b>Colección Glaciares</b></h5>
                        <h5 class="h2 coleccion mt-2 mt-md-0 pt-sm-5 pt-md-0  d-block d-md-none"><b>Colección Glaciares</b></h5>
                        <p class="d-none d-md-block">
                            El mapeo de los cambios en los glaciares es la base para generar un buen indicador del cambio
                            climático debido a que el estado de los glaciares depende principalmente de la precipitación
                            (nevadas) y temperatura. Una sucesión de años fríos, con nevadas entre los meses de mayo a diciembre,
                            hace crecer el glaciar a la vez que su frente avanza. Una sucesión de años secos, de temperaturas elevadas
                            y poca nieve, en los meses de enero a abril, hace decrecer el glaciar hasta retroceder.
                            Data Intelligence, a través de su Colección Glaciares, monitorea los cambios en el área de los
                            glaciares utilizando tecnología de teledetección de manera continua, lo que permite comprender
                            la dinámica de los cambios y el monitoreo constante de los glaciares como un recurso esencial
                            para estudiar el clima, la gestión de los recursos hídricos y también para predecir y mitigar
                            los peligros relacionados con los glaciares.

                        </p>
                    </div>
                    <div class="col-12 d-block d-md-none mt-3 " style="border-left: solid 0.5px #b0b0b0;">
                        <p style="font-size:1.0rem !important;">
                            El mapeo de los cambios en los glaciares es la base para generar un buen indicador del cambio
                            climático debido a que el estado de los glaciares depende principalmente de la precipitación
                            (nevadas) y temperatura. Una sucesión de años fríos, con nevadas entre los meses de mayo a diciembre,
                            hace crecer el glaciar a la vez que su frente avanza. Una sucesión de años secos, de temperaturas elevadas
                            y poca nieve, en los meses de enero a abril, hace decrecer el glaciar hasta retroceder.
                            Data Intelligence, a través de su Colección Glaciares, monitorea los cambios en el área de los
                            glaciares utilizando tecnología de teledetección de manera continua, lo que permite comprender
                            la dinámica de los cambios y el monitoreo constante de los glaciares como un recurso esencial
                            para estudiar el clima, la gestión de los recursos hídricos y también para predecir y mitigar
                            los peligros relacionados con los glaciares.


                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*CONTAINER TAMAÑO DE PANTALLA MEDIO O SUPERIOR*@
        <div class="container d-none d-md-block">
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-4" style="height: 38vh; display: flex; ">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:5%; font-weight:bold;">
                                    Dinámica de Cambio de Glaciares en temporada Fría (q2: May-Dic)
                                </header>
                                <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL)
                                <br />
                                <strong>Periodo:</strong>  2020 - 2021
                                <br />
                                <strong>Actualización:</strong> actualizaciones según MINSAL.
                            </div>
                        </div>
                        <div class="col-4" style="height: 38vh; display: flex; ">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    Dinámica de Cambio de Glaciares en temporada Seca (q1: Ene-Abr)
                                </header>
                                <Strong>Fuente:</Strong> Ministerio de Ciencia
                                <br />
                                <strong>Periodo:</strong>  2020 - 2021
                                <br />
                                <strong>Actualización:</strong> Cada 3-4 días, según reportes oficiales.
                            </div>
                        </div>
                        <div class="col-4" style="height: 38vh; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    Superficie de Glaciares en temporada Fría (q2: May-Dic)
                                </header>
                                <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL), Ministerio de Ciencia
                                <br />
                                <strong>Periodo:</strong>  2020 - 2021
                                <br />
                                <strong>Actualización:</strong> actualizaciones diarias información nacional y regional.  Cada 3-4 días, información comunal, según los Informes Epidemiológicos del MINSAL.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-4" style="height: 38vh; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    Superficie de Glaciares en temporada Seca (q1: Ene-Abr)
                                </header>
                                <Strong>Fuente:</Strong> Ministerio de Ciencia
                                <br />
                                <strong>Periodo:</strong>  2020 - 2021
                                <br />
                                <strong>Actualización:</strong> Cada 3-4 días, según reportes oficiales.
                            </div>
                        </div>
                        <div class="col-4" style="height: 38vh; display: flex;">
                            <div class="w-100" style="color:#404040;font-size:calc(0.5em + 0.5vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                    Superficie del Complejo Glaciar
                                </header>
                                <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL)
                                <br />
                                <strong>Periodo:</strong>  2020 - 2021
                                <br />
                                <strong>Actualización:</strong> actualizaciones semanal según MINSAL.
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        @*CONTAINER TAMAÑO DE PANTALLA PEQUEÑO O INFERIOR*@
        <div class="container d-block d-md-none">
            <div class="row justify-content-center d-flex">
                <div class="col-12">
                    <div id="carousel6" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="height: 30vh; margin-bottom: 70px">
                                <div class="w-100" style="color:#404040;font-size:calc(0.8em + 0.8vw);border-radius: 15px; background-color: #c6ccda; padding:5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:5%; font-weight:bold;">
                                        Dinámica de Cambio de Glaciares en temporada Fría (q2: May-Dic)
                                    </header>
                                    <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL)
                                    <br />
                                    <strong>Periodo:</strong>  2020 - 2021
                                    <br />
                                    <strong>Actualización:</strong> actualizaciones según MINSAL.
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 30vh; margin-bottom: 70px; border-radius:15px; background-color: white; padding: 5% 0">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        Dinámica de Cambio de Glaciares en temporada Seca (q1: Ene-Abr)
                                    </header>
                                    <Strong>Fuente:</Strong> Ministerio de Ciencia
                                    <br />
                                    <strong>Periodo:</strong>  2020 - 2021
                                    <br />
                                    <strong>Actualización:</strong> Cada 3-4 días, según reportes oficiales.
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 30vh; margin-bottom: 170px; border-radius:15px; background-color: white; padding: 5% 0">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        Superficie de Glaciares en temporada Fría (q2: May-Dic)
                                    </header>
                                    <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL), Ministerio de Ciencia
                                    <br />
                                    <strong>Periodo:</strong>  2020 - 2021
                                    <br />
                                    <strong>Actualización:</strong> actualizaciones diarias información nacional y regional.  Cada 3-4 días, información comunal, según los Informes Epidemiológicos del MINSAL.
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 30vh; margin-bottom: 70px; border-radius:15px; background-color: white; padding: 5% 0">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        Superficie de Glaciares en temporada Seca (q1: Ene-Abr)
                                    </header>
                                    <Strong>Fuente:</Strong> Ministerio de Ciencia
                                    <br />
                                    <strong>Periodo:</strong>  2020 - 2021
                                    <br />
                                    <strong>Actualización:</strong> Cada 3-4 días, según reportes oficiales.
                                </div>
                            </div>
                            <div class="carousel-item" style="height: 30vh; margin-bottom: 70px; border-radius:15px; background-color: white; padding: 5% 0">
                                <div class="w-100" style="color: #404040; font-size: calc(0.8em + 0.8vw); border-radius: 15px; background-color: #c6ccda; padding: 5%;">
                                    <header style="text-align: center;  align-self:center; padding-bottom:3%; font-weight:bold;">
                                        Superficie del Complejo Glaciar
                                    </header>
                                    <Strong>Fuente:</Strong> Ministerio de Salud (MINSAL)
                                    <br />
                                    <strong>Periodo:</strong>  2020 - 2021
                                    <br />
                                    <strong>Actualización:</strong> actualizaciones semanal según MINSAL.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center" style="padding-bottom:8%; display:none;">
                        <div class="col-12">
                            <a class="btn btn-primary mb-3 mr-1" href="#carousel6" role="button" data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn btn-primary mb-3" href="#carousel6" role="button" data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-md-5" style="background-color: #C6CCDC; height:auto">
        <div class="row justify-content-center" style="padding-top:3%; padding-bottom:1%;">
            <div class="col-12 col-sm-12 col-md-3 text-center mt-3 mt-md-0">
                <!--Buscador -->
                <form action="~/Glaciares_10/PaginaBusqueda" method="get" style="padding-top:3%;">
                    <input type="text" id="id" name="id" placeholder="Búsqueda de palabras claves" style="padding: 6px; border: none; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                    <button id="search-button" type="submit" value="Submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-10 col-md-3 text-center">
                <H4 style="margin:0 !important; font-weight:normal; padding-bottom:2%;">¡Explora, busca y encuentra!</H4>
                <h6 style="line-height:18px;">
                    Somos un espacio creado para visualizar información.
                    Ingresa una palabra clave y busca en nuestras bases de datos.
                </h6>
            </div>
            <div class="col-12 mb-3 col-md-2 ">
                <img class="img-fluid" src="~/Content/img/negro-rojo-trans - copia.png" alt="" />
            </div>
        </div>
    </div>
    <script src="~/Content/carrusel14/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/carrusel14/js/bootstrap.min.js"></script>
    <script>
        ActivarMenuSuperior("#Enfermedades_FuentesUsuario");
    </script>
</body>
</html>
