
@{
    ViewBag.Title = "TablaColeccion";
    Layout = "~/Views/Shared/_LayoutGlaciares.cshtml";
}

<table class="default">

    @foreach (var item in ViewBag.Resultado)
    {
        
        <p>hola
        </p>

    }


</table>

