
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soporte</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Data Intelligence</h1>
            <h3 class="lead"><strong>Soporte</strong></h3>
        </div>
    </div>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Error - Licencia caducada</h1>

        </div>

        <h2>Problema</h2>
        <p>La licencia para este producto ha caducado.</p>

        <h2>Solucion</h2>
        <!--https://dataintelligence.store/collections/all-->
        <p>Para recuperar el acceso a un producto después de que caduque su suscripción, suscríbase nuevamente haciendo un nuevo pedido en el <a href="@ViewBag.enlaceShopify" target="_blank">Tienda en línea.</a> </p>

        <h2>Consulte tambien:</h2>
        <p>La pagina de <a href="https://dataintelligence.store/pages/preguntas-frecuentes" target="_blank">preguntas frecuentes </a>en la seccion de PROCESO DE COMPRA Y DEVOLUCIÓN/párrafo #4 ¿Qué puedo hacer si una plataforma que compré no funciona correctamente?</p>




        <br />
        <br />

        <div class="jumbotron">
            <p class="lead"><strong>¿No has encontrado lo que estabas buscando?</strong></p>
            <hr class="my-4">
            <p>Nuestro centro de ayuda (Help Center) contiene las soluciones para casi cada falla técnica conocida. Si no puedes encontrar la respuesta a tu pregunta, por favor envía una solicitud de soporte utilizando el enlace a continuación.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://dataintelligence.store/pages/contacto-1" target="_blank" role="button">Centro de ayuda</a>
            </p>
        </div>

    </div>


</body>
</html>
