@{
    Layout = null;
}
<!doctype html>
<html amp lang="es">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Webinar Glaciares AMP</title>
    <link rel="canonical" href="https://www.dataintelligence-group.com/marketing/WebinarGlaciares">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "NewsArticle",
          "headline": "Article headline",
          "datePublished": "2021-11-20T12:02:41Z",
               "image": [
            "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
              ],
            "author": {
                "@@type": "Organization",
                "name": "Data Intelligence",
                "url": "https://www.dataintelligence-group.com/Data/Index"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "DI",
            "logo": {
            "@@type": "ImageObject",
            "url": "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
            }
        }
        }
    </script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>


    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.dataintelligence-group.com/Marketing/WebinarGlaciares/">
    <meta property="og:type" content="website" WebinarGlaciares
    <meta property="og:title" content="Webinar Educación">
    <meta property="og:description" content="Uno de los desafíos actualmente en la gran problemática educativa es desmentir con evidencia
                            y datos los viejos prejuicios que se tienen sobre la realidad educativa actual.">
    <meta property="og:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/insumos%20webinar%20educacin/RRSS/RRSS/RRSS%26WEBINAR_panoramico.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dataintelligence-group.com">
    <meta property="twitter:url" content="https://www.dataintelligence-group.com/Marketing/WebinarGlaciares/">
    <meta name="twitter:title" content="Webinar Educación">
    <meta name="twitter:description" content="Uno de los desafíos actualmente en la gran problemática educativa es desmentir con evidencia
                            y datos los viejos prejuicios que se tienen sobre la realidad educativa actual.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/insumos%20webinar%20educacin/RRSS/RRSS/RRSS%26WEBINAR_panoramico.jpg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <style amp-custom>
        @*ESTILOS SECCIÓN 1*@
        .imgencabezado {
            padding: 0px !important;
            background-color: #00A09C;
        }

        .imagen2 {
            background-color: #000000;
        }

        .p1 {
            color: white;
            padding: 0 20px;
        }


        .pTemario {
            color: #93CBD5;
        }

        .estiloTemario {
            padding: 0 20px;
            color: white;
        }

        .estiloHorario {
            text-align: center;
            color: white;
        }

        .pCompartir {
            color: #93CBD5;
            text-align: center;
        }

        @*ESTILOS SECCIÓN 2*@
        .contador2 {
            background-image: url('../../Images/Imagenes Marketing/fondo_pagina.png');
            background-color: #152c45;
        }

        @*ESTILOS SECCIÓN 3*@
        .estiloVideo {
            color: white;
            background-color: black;
        }
        @*ESTILOS SECCIÓN 4*@
        .estiloGrafico {
            background-color: #000000;
            color:white;
        }

        @*ESTILOS SECCIÓN 5*@
        .estiloIconos {
            background-color: #000000;
        }


        .estiloFooter {
            background-color: #97A62D;
            color:white;
        }
        .estiloFooter2 {
            background-color: #E6007E;
        }
        .video{
            background-color: #000000;
        }
        .fondo{
            background-color:black;
        }
    </style>

    @*IFRAME*@
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    @*CAROUSEL*@
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    @*YOUTUBE*@
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="fondo">
    <div class="container-fluid">
        @*Sección 1*@
        <section>
            <div class="row justify-content-center">
                <div class="col-12 imgencabezado">
                    <amp-img src="~/Images/Imagenes Marketing/opcin2 de mail webinar glaciares/1.jpg"
                             width="100"
                             height="45"
                             layout="responsive"
                             alt="encabezado">
                    </amp-img>
                </div>
            </div>
            <div class="row justify-content-center imagen2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <amp-img src="~/Images/Imagenes Marketing/opcin2 de mail webinar glaciares/2.jpg"
                                     width="110"
                                     height="110"
                                     layout="responsive"
                                     alt="imagen2">
                            </amp-img>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*Sección 3*@
        <section >
            <div class="row justify-content-center video">
                <div class="col-12 text-center estiloVideo">
                    <p class="h5">10:00 a. m., hora de Chile</p>
                </div>

                <div class="col-12 col-md-8 text-center mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="ratio ratio-16x9">
                                <amp-youtube data-videoid="4cov1PQFaic" width="560" height="314" layout="responsive">
                                </amp-youtube>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 estilo4">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <amp-img src="~/Images/Imagenes Marketing/opcin2 de mail webinar glaciares/3.jpg"
                                     width="300"
                                     height="75"
                                     layout="responsive"
                                     alt="Imagen3">
                            </amp-img>
                        </div>
                        <div class="col-12 estiloTemario">
                            <p class="h6 pTemario">TEMAS DE ESTA SESIÓN:</p>
                            <p>
                                En este webinar conocerás los fundamentos del monitoreo de glaciares con sensores remotos
                                y se presentará la Colección Glaciares generada por Data Intelligence, una plataforma de
                                visualización y consulta de información geográfica (de alta resolución), alfanumérica y
                                gráfica de la dinámica de la superficie de nieve de los glaciares chilenos
                            </p>
                            <p class="h6 pTemario">AGENDA:</p>
                            <p>
                                <ul>
                                    <li>Sensores remotos utilizados en el monitoreo de glaciares</li>
                                    <li>Desafíos para el monitoreo de glaciares con sensores remotos</li>
                                    <li>Flujo de trabajo para la generación de cartografía de glaciares</li>
                                    <li>Colección Glaciares: visores de mapas web, mapas PDF y dashboards</li>
                                </ul>
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        @*Sección 2*@
        @*<section class="contador">
                <div class="row justify-content-center contador2">
                    <div class="col-12">
                        <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                        <a href="https://logwork.com/countdown-rjkr" class="countdown-timer" data-style="circles" data-timezone="America/Sao_Paulo" data-language="es" data-textcolor="#ffffff" data-date="2021-12-17 10:01" data-unitscolor="#ffffff">FALTA MUY POCO PARA INICIAR EL WEBINAR  ¡INSCRÍBETE!</a>
                    </div>
                </div>
            </section>*@


        

        @*Sección 5*@
        <section class="logos-rrss mb-2">
            <div class="row justify-content-center estiloIconos">
                <div class="col-md-10 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 ">
                            <amp-img src="~/Images/Imagenes Marketing/opcin2 de mail webinar glaciares/5.jpg"
                                     width="80"
                                     height="50"
                                     layout="responsive"
                                     alt="imagen6">
                            </amp-img>
                        </div>
                        <div class=" col-lg-4 mt-5 text-center estiloIconos">
                            @*<h5 class="text-uppercase mt-md-2" style="font-size:1rem;">SÍGUENOS</h5>*@
                            <section class="mt-md-5 pt-md-5">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.facebook.com/dataintelligencecl/" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://twitter.com/data_int" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.instagram.com/data.intelligence/" role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>

                                <!-- Linkedin -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/" role="button">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- Youtube -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.youtube.com/channel/UCXo5Vhu65cOl3OcwWF9wLUA" role="button">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <!-- Pinterest -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.pinterest.cl/dataintelligencechile/_created/" role="button">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </section>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer style="overflow-x:hidden;">
        <div class="row justify-content-center">
            <div class="col-12 estiloFooter">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12">
                        <!-- Copyright -->
                        <div class="text-center p-3 estiloFooter2">
                            © 2021 Copyright:
                            <a class="text-white" href="https://www.dataintelligence-group.com/">dataintelligence-group.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>