@{
    Layout = null;
}
<!doctype html>
<html amp lang="es">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Webinar Educación AMP</title>
    <link rel="canonical" href="https://www.dataintelligence-group.com/marketing/WebinarAgricultura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "NewsArticle",
          "headline": "Article headline",
          "datePublished": "2021-11-20T12:02:41Z",
               "image": [
            "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
              ],
            "author": {
                "@@type": "Organization",
                "name": "Data Intelligence",
                "url": "https://www.dataintelligence-group.com/Data/Index"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "DI",
            "logo": {
            "@@type": "ImageObject",
            "url": "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
            }
        }
        }
    </script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>


    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.dataintelligence-group.com/Marketing/WebinarAgricultura/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Webinar Educación">
    <meta property="og:description" content="Uno de los desafíos actualmente en la gran problemática educativa es desmentir con evidencia
                            y datos los viejos prejuicios que se tienen sobre la realidad educativa actual.">
    <meta property="og:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/insumos%20webinar%20educacin/RRSS/RRSS/RRSS%26WEBINAR_panoramico.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dataintelligence-group.com">
    <meta property="twitter:url" content="https://www.dataintelligence-group.com/Marketing/WebinarAgricultura/">
    <meta name="twitter:title" content="Webinar Educación">
    <meta name="twitter:description" content="Uno de los desafíos actualmente en la gran problemática educativa es desmentir con evidencia
                            y datos los viejos prejuicios que se tienen sobre la realidad educativa actual.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/insumos%20webinar%20educacin/RRSS/RRSS/RRSS%26WEBINAR_panoramico.jpg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <style amp-custom>
        @*ESTILOS SECCIÓN 1*@
        .imgencabezado {
            padding: 0px !important;
            background-color: #00A09C;
        }

        .imagen2 {
            background-color: #113B17;
        }

        .p1 {
            color: white;
            padding: 0 20px;
        }

        .estilo4 {
            border: 1px solid #93CBD5;
            border-radius: 15px;
        }

        .pTemario {
            color: #93CBD5;
        }

        .estiloTemario {
            padding: 0 20px;
            color: white;
        }

        .estiloHorario {
            text-align: center;
            color: white;
        }

        .pCompartir {
            color: #93CBD5;
            text-align: center;
        }

        @*ESTILOS SECCIÓN 2*@
        .contador2 {
            background-image: url('../../Images/Imagenes Marketing/fondo_pagina.png');
            background-color: #152c45;
        }

        @*ESTILOS SECCIÓN 3*@
        .estiloVideo {
            color: #0D0002;
        }
        @*ESTILOS SECCIÓN 4*@
        .estiloGrafico {
            background-color: #113B17;
            color:white;
        }

        @*ESTILOS SECCIÓN 5*@
        .estiloIconos {
            background-color: #113B17;
        }


        .estiloFooter {
            background-color: #97A62D;
            color:white;
        }
        .estiloFooter2 {
            background-color: #97A62D;
        }
    </style>

    @*IFRAME*@
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    @*CAROUSEL*@
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    @*YOUTUBE*@
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body>
    <div class="container-fluid">
        @*Sección 1*@
        <section>
            <div class="row justify-content-center">
                <div class="col-12 imgencabezado">
                    <amp-img src="~/Content/imagenes landing agricultura/1.jpg"
                             width="100"
                             height="5"
                             layout="responsive"
                             alt="encabezado">
                    </amp-img>
                </div>
            </div>
            <div class="row justify-content-center imagen2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <amp-img src="~/Content/imagenes landing agricultura/2.jpg"
                                     width="100"
                                     height="85"
                                     layout="responsive"
                                     alt="imagen2">
                            </amp-img>

                            <div class="row justify-content-center">
                                <div class="col-12 p1">
                                    <p>
                                        El sector agrícola representa una intensa actividad proveedora de alimentos,
                                        tanto primaria como secundaria. Considerando el incremento de demanda y las
                                        nuevas limitantes de suelo y agua en Chile y el mundo, la información generada
                                        a partir de grandes volúmenes de datos son de gran ayuda para aumentar la sostenibilidad
                                        agrícola ante estos desafíos.
                                    </p>
                                    <p>
                                        En este Webinar daremos a conocer una plataforma que integra de forma amigable
                                        todos los datos del sector de agricultura de fuentes como ODEPA, INE, Servicio
                                        Nacional de Aduanas y Servicio de Impuestos Internos; con el fin de contar con
                                        una visión integral y ayudar a la toma de decisiones informadas/inteligentes en el sector agrícola.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 estilo4">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <amp-img src="~/Content/imagenes landing agricultura/3.jpg"
                                             width="100"
                                             height="35"
                                             layout="responsive"
                                             alt="Imagen3">
                                    </amp-img>
                                </div>
                                <div class="col-12 estiloTemario">
                                    <p class="h6 pTemario">TEMARIO:</p>
                                    <p>
                                        <ul>
                                            <li>Introducción a Data Intelligence</li>
                                            <li>Datos disponibles para la toma de decisiones</li>
                                            <li>Información General: Colección de Agricultura</li>
                                            <li>Información Específica: Colección de Panoramas</li>
                                        </ul>
                                    </p>
                                </div>
                                @*<div class="col-12 text-center estiloHorario">
                                        <amp-img src="~/Content/Imagenes landingpage educacion/correccion de lo enviado/RRSS&WEBINAR_Educacion_miercoles17_dic_landingpage_4.jpg"
                                                 width="100"
                                                 height="10"
                                                 layout="responsive"
                                                 alt="This is a hero image which should be loaded as fast as possible">
                                        </amp-img>
                                        <p class="h6">  10:00 a.m.</p>

                                        <p class="h6 mt-2">Vía Zoom</p>
                                        <p class="h6 mt-md-5">CUPOS LIMITADOS</p>
                                        <p>*Recibirás un correo de recordatorio un día antes del webinar</p>
                                    </div>*@
                                <div class="col-12 text-center">
                                    @*<a href="https://us02web.zoom.us/webinar/register/WN_6FL2GCRoTMOy_pN1lLueYw" target="_blank">
                                            <amp-img src="~/Content/Imagenes landingpage educacion/boton_inscribete_landingpage.jpg"
                                                     width="50"
                                                     height="8"
                                                     layout="responsive"
                                                     alt="Imagen4">
                                            </amp-img>
                                        </a>*@
                                    <p class="h6 mt-3 pCompartir">COMPARTIR EVENTO</p>
                                    <div class="row justify-content-center mt-4 mb-3">

                                        <div class="col-4 ">
                                            <a href="http://www.facebook.com/sharer.php?u= https://fb.me/e/13EqLEyf1" target="_blank">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botonfacebook.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="facebook">
                                                </amp-img>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="http://twitter.com/intent/tweet?text=Agricultura&url=https://www.dataintelligence-group.com/Marketing/WebinarAgricultura/&via=dataIntelligence&hashtags=#Agricultura" target="_blank">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botontwitter.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="twitter">
                                                </amp-img>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="http://www.linkedin.com/shareArticle?url=https://www.dataintelligence-group.com/Marketing/WebinarAgricultura/" target="_blank ">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botontlinkedin.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="linkedin">
                                                </amp-img>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*Sección 2*@
        @*<section class="contador">
                <div class="row justify-content-center contador2">
                    <div class="col-12">
                        <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                        <a href="https://logwork.com/countdown-rjkr" class="countdown-timer" data-style="circles" data-timezone="America/Sao_Paulo" data-language="es" data-textcolor="#ffffff" data-date="2021-12-17 10:01" data-unitscolor="#ffffff">FALTA MUY POCO PARA INICIAR EL WEBINAR  ¡INSCRÍBETE!</a>
                    </div>
                </div>
            </section>*@


        @*Sección 3*@
        <section class="video">
            <div class="row justify-content-center">
                <div class="col-12 text-center estiloVideo">
                    <h4>VALOR DE LAS EXPORTACIONES DE FRUTOS DE PEPITA Y FRUTOS SECOS</h4>
                    <p>
                        ¿Frutos de Pepita o Frutos Secos? Como parte de la colección de
                        TENDENCIAS DI presentamos la evolución del valor de las exportaciones
                        chilenas de Frutos de Pepita y Frutos Secos. En este <a href="https://www.dataintelligence-group.com/contenido/visualizador/tendencia3112021?formulario=7" target="_blank">enlace</a>  encuentras el gráfico interactivo.
                    </p>
                </div>

                <div class="col-12 col-md-8 text-center mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="ratio ratio-16x9">
                                <amp-youtube data-videoid="6O4Qp_h6-o4" width="560" height="314" layout="responsive">
                                </amp-youtube>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*Sección 4*@
        <section class="grafico">
            <div class="row justify-content-center estiloGrafico">
                <div class="col-12 text-center">
                    <h4>DESDE 1817 HASTA HOY ¿QUÉ HEMOS PLANTADO?</h4>
                    <p style="font-size:0.8rem">
                        En el gráfico “Evolución de la Superficie Plantada de Frutales”
                        podrás presenciar 202 años del campo chileno en tan solo 3 minutos.
                    </p>
                    <div class="ratio ratio-16x9">
                        <amp-iframe width="940" height="788" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" resizable allowfullscreen frameborder="0" src="https://flo.uri.sh/visualisation/4555265/embed"><div style="visibility: hidden" overflow tabindex=0 role=button aria-label="Loading..." placeholder>Loading...</div></amp-iframe>

                    </div>
                    <p class="h4 mt-3">
                        SI DESEAS REVISAR TODAS NUESTRAS COLECCIONES INGRESA A NUESTRA PÁGINA EN ESTE LINK <br>
                        <a href="https://www.dataintelligence-group.com/Data/ColeccionesAgricultura" target="_blank">www.dataintelligence-group.com</a>
                    </p>
                </div>
            </div>
        </section>

        @*Sección 5*@
        <section class="logos-rrss">
            <div class="row justify-content-center estiloIconos">
                <div class="col-md-10 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 ">
                            <amp-img src="~/Content/imagenes landing agricultura/6.jpg"
                                     width="80"
                                     height="50"
                                     layout="responsive"
                                     alt="imagen6">
                            </amp-img>
                        </div>
                        <div class=" col-lg-4 mt-5 text-center estiloIconos">
                            @*<h5 class="text-uppercase mt-md-2" style="font-size:1rem;">SÍGUENOS</h5>*@
                            <section class="mt-md-5 pt-md-5">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.facebook.com/dataintelligencecl/" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://twitter.com/data_int" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.instagram.com/data.intelligence/" role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>

                                <!-- Linkedin -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/" role="button">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- Youtube -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.youtube.com/channel/UCXo5Vhu65cOl3OcwWF9wLUA" role="button">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <!-- Pinterest -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.pinterest.cl/dataintelligencechile/_created/" role="button">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </section>
                        </div>
                        <div class="col-10 text-center">
                            <amp-img src="~/Content/imagenes landing agricultura/7.jpg"
                                     width="80"
                                     height="55"
                                     layout="responsive"
                                     alt="encabezado">
                            </amp-img>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer style="overflow-x:hidden;">
        <div class="row justify-content-center">
            <div class="col-12 estiloFooter">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12">
                        <!-- Copyright -->
                        <div class="text-center p-3 estiloFooter2">
                            © 2021 Copyright:
                            <a class="text-white" href="https://www.dataintelligence-group.com/">dataintelligence-group.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>