@{
    Layout = null;
}
<!doctype html>
<html amp lang="es">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Webinar Municipio AMP</title>
    <link rel="canonical" href="https://www.dataintelligence-group.com/marketing/WebinarMunicipio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "NewsArticle",
          "headline": "Article headline",
          "datePublished": "2021-11-20T12:02:41Z",
               "image": [
            "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
              ],
            "author": {
                "@@type": "Organization",
                "name": "Data Intelligence",
                "url": "https://www.dataintelligence-group.com/Data/Index"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "DI",
            "logo": {
            "@@type": "ImageObject",
            "url": "~/Images/favicons/Icono_dataIntelligence_Rojo.png"
            }
        }
        }
    </script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>


    <!-- HTML Meta Tags -->
    <title>Webinar Municipio</title>
    <meta name="description" content="En este webinar presentaremos la Colección Municipio diseñada para ayudar a lograr esa eficiencia.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.dataintelligence-group.com/Marketing/WebinarMunicipio/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Webinar Municipio">
    <meta property="og:description" content=" Son miles de Datos generados en 20 años de gestión compilados en gráficos y mapas interactivos
                                        para cada una de las 346 comunas del país.">
    <meta property="og:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/material%20grfico%20para%20webinar%20de%20municipio/RRSSwebinarMUNICIPIO/RRSSwebinarMUNICIPIO/RRSS%26WEBINAR_municipio_miercoles15_panoramico.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dataintelligence-group.com">
    <meta property="twitter:url" content="https://www.dataintelligence-group.com/Marketing/WebinarMunicipio/">
    <meta name="twitter:title" content="Webinar Municipio">
    <meta name="twitter:description" content=" Son miles de Datos generados en 20 años de gestión compilados en gráficos y mapas interactivos
                                        para cada una de las 346 comunas del país.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Sud-Austral/Marketing/main/material%20grfico%20para%20webinar%20de%20municipio/RRSSwebinarMUNICIPIO/RRSSwebinarMUNICIPIO/RRSS%26WEBINAR_municipio_miercoles15_panoramico.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <style amp-custom>
        @*ESTILOS SECCIÓN 1*@
        .imgencabezado {
            background-color: #0f70B7;
        }

        .imagen2 {
            background-color: #0E0C44;
        }

        .p1 {
            color: white;
            padding: 0 20px;
        }

        .estilo4 {
            border: 1px solid #BDD5F2;
            border-radius: 15px;
        }

        .pTemario {
            color: #BDD5F2;
        }

        .estiloTemario {
            padding: 0 20px;
            color: white;
        }

        .estiloHorario {
            text-align: center;
            color: white;
        }

        .pCompartir {
            color: #BDD5F2;
            text-align: center;
        }

        @*ESTILOS SECCIÓN 2*@
        .contador2 {
            background-image: url('../../Images/Imagenes Marketing/fondo_pagina.png');
            background-color: #152c45;
        }

        @*ESTILOS SECCIÓN 3*@
        .estiloVideo {
            color: #0D0002;
        }
        @*ESTILOS SECCIÓN 4*@
        .estiloGrafico {
            background-color: #0F0C45;
            color: white;
        }

        .bordegrafico {
            border-radius: 15px;
        }

        @*ESTILOS SECCIÓN 5*@
        .estiloIconos {
            background-color: #0F0C45;
        }


        .estiloFooter {
            background-color: #97A62D;
            color:white;
        }
        .estiloFooter2 {
            background-color: #0f70B7;
        }
    </style>

    @*IFRAME*@
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    @*CAROUSEL*@
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    @*YOUTUBE*@
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body>
    <div class="container-fluid">
        @*Sección 1*@
        <section>
            <div class="row justify-content-center">
                <div class="col-12 imgencabezado">
                    <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/1.jpg"
                             width="100"
                             height="5"
                             layout="responsive"
                             alt="encabezado">
                    </amp-img>
                </div>
            </div>
            <div class="row justify-content-center imagen2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/2.jpg"
                                     width="100"
                                     height="85"
                                     layout="responsive"
                                     alt="imagen2">
                            </amp-img>

                            <div class="row justify-content-center">
                                <div class="col-12 p1">
                                    <p>
                                        Educación, salud, delincuencia, crecimiento demográfico y económico, entre otros muchos temas, son abordados desde el Municipio
                                        para una gestión eficiente de los recursos estatales.
                                    </p>
                                    <p>
                                        En este webinar presentaremos la Colección Municipio diseñada para ayudar a lograr esa eficiencia. Son miles de Datos generados en 
                                        20 años de gestión compilados en gráficos y mapas interactivos para cada una de las 346 comunas del país.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 estilo4">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/3.jpg"
                                             width="100"
                                             height="35"
                                             layout="responsive"
                                             alt="Imagen3">
                                    </amp-img>
                                </div>
                                <div class="col-12 estiloTemario">
                                    <p class="h6 pTemario">TEMARIO:</p>
                                    <p>
                                        <ul>
                                            <li>¿Qué es Data Intelligence?</li>
                                            <li>El análisis multidimensional para una gestión municipal eficiente</li>
                                            <li>Desafíos para la gestión de datos y el acceso oportuno a la información municipal</li>
                                            <li>
                                                Colección Municipios: 20 años de información de las 346 comunas de Chile
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                @*<div class="col-12 text-center estiloHorario">
                                    <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/4.jpg"
                                             width="100"
                                             height="10"
                                             layout="responsive"
                                             alt="This is a hero image which should be loaded as fast as possible">
                                    </amp-img>
                                    <p class="h6">  10:00 a.m.</p>

                                    <p class="h6 mt-2">Vía Zoom</p>
                                    <p class="h6 mt-md-5">CUPOS LIMITADOS</p>
                                    <p>*Recibirás un correo de recordatorio un día antes del webinar</p>
                                </div>*@
                                <div class="col-12 text-center">
                                    @*<a href="https://us02web.zoom.us/webinar/register/WN_OxmrxDTERFCjBf6icx9MmA" target="_blank">
                                        <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/5.jpg"
                                                 width="50"
                                                 height="8"
                                                 layout="responsive"
                                                 alt="Imagen4">
                                        </amp-img>
                                    </a>*@
                                    <p class="h6 mt-3 pCompartir">COMPARTIR EVENTO</p>
                                    <div class="row justify-content-center mt-4 mb-3">

                                        <div class="col-4 ">
                                            <a href="http://www.facebook.com/sharer.php?u=https://www.dataintelligence-group.com/Marketing/WebinarMunicipio/" target="_blank">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botonfacebook.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="facebook">
                                                </amp-img>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="http://twitter.com/intent/tweet?text=Municipio&url=https://www.dataintelligence-group.com/Marketing/WebinarMunicipio/&via=dataIntelligence&hashtags=#Municipio" target="_blank">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botontwitter.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="twitter">
                                                </amp-img>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="http://www.linkedin.com/shareArticle?url=https://www.dataintelligence-group.com/Marketing/WebinarMunicipio/" target="_blank ">
                                                <amp-img src="~/Images/Imagenes Marketing/Imagenes Webinar AgenciaDI/enviolanding/botontlinkedin.gif"
                                                         width="20"
                                                         height="6.5"
                                                         layout="responsive"
                                                         alt="linkedin">
                                                </amp-img>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*Sección 2*@
        @*<section class="contador">
            <div class="row justify-content-center contador2">
                <div class="col-12">
                    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                    <a href="https://logwork.com/countdown-rjkr" class="countdown-timer" data-style="circles" data-timezone="America/Sao_Paulo" data-language="es" data-textcolor="#ffffff" data-date="2021-12-15 10:00" data-unitscolor="#ffffff">FALTA MUY POCO PARA INICIAR EL WEBINAR  ¡INSCRÍBETE!</a>
                </div>
            </div>
        </section>*@


        @*Sección 3*@
        <section class="video">
            <div class="row justify-content-center">
                <div class="col-12 text-center estiloVideo">
                    <h4>VIVIENDAS EN CHILE</h4>
                    <p>
                        Mapas Temáticos Comunales: Viviendas con "Paredes de Barro" en la comuna de SAN FELIPE. Si deseas interaccionar con el mapa del video sigue este
                        <a href="https://www.dataintelligence-group.com/contenido/visualizador/mapazona26102021?formulario=6" target="_blank">link</a>.

                    </p>
                </div>

                <div class="col-12 col-md-8 text-center mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="ratio ratio-16x9">
                                <amp-youtube data-videoid="fCRYVfG94FM" width="560" height="314" layout="responsive">
                                </amp-youtube>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*Sección 4*@
        <section class="grafico">
            <div class="row justify-content-center estiloGrafico">
                <div class="col-12 text-center">
                    <h4>18 TEMAS DE INTERÉS COMUNAL EN UNOS POCOS CLICS</h4>
                    <P>
                        En el gráfico “Proporción y frecuencia del número de delitos ocurridos en la comuna de Concepción, durante el año 2020” podrás revisar las 11 tipos de delitos cometidos en Concepción.
                    </P>
                    <div class="ratio ratio-16x9 ">
                        <amp-iframe class="bordegrafico" width="940" height="788" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" resizable allowfullscreen frameborder="0" src="https://analytics.zoho.com/open-view/2395394000010921135?ZOHO_CRITERIA=%22Localiza%20Chile%22.%22Codcom%22%3D8101"><div style="visibility: hidden" overflow tabindex=0 role=button aria-label="Loading..." placeholder>Loading...</div></amp-iframe>

                    </div>
                    <p class="h4 mt-3">
                        SI DESEAS REVISAR TODAS NUESTRAS COLECCIONES INGRESA A NUESTRA PÁGINA EN ESTE LINK <br>
                        <a href="https://www.dataintelligence-group.com/Data/ColeccionesMunicipio" target="_blank">www.dataintelligence-group.com</a>
                    </p>
                </div>
            </div>
        </section>

        @*Sección 5*@
        <section class="logos-rrss">
            <div class="row justify-content-center estiloIconos">
                <div class="col-md-10 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 ">
                            <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/6.jpg"
                                     width="80"
                                     height="50"
                                     layout="responsive"
                                     alt="imagen6">
                            </amp-img>
                        </div>
                        <div class=" col-lg-4 mt-5 text-center estiloIconos">
                            @*<h5 class="text-uppercase mt-md-2" style="font-size:1rem;">SÍGUENOS</h5>*@
                            <section class="mt-md-5 pt-md-5">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.facebook.com/dataintelligencecl/" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://twitter.com/data_int" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.instagram.com/data.intelligence/" role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>

                                <!-- Linkedin -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/" role="button">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- Youtube -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.youtube.com/channel/UCXo5Vhu65cOl3OcwWF9wLUA" role="button">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <!-- Pinterest -->
                                <a class="btn btn-outline-light btn-floating " target="_blank" href="https://www.pinterest.cl/dataintelligencechile/_created/" role="button">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </section>
                        </div>
                        <div class="col-10 text-center">
                            <amp-img src="~/Images/Imagenes Marketing/webinarMUNICIPIO_landingpage/7.jpg"
                                     width="80"
                                     height="45"
                                     layout="responsive"
                                     alt="encabezado">
                            </amp-img>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer style="overflow-x:hidden;">
        <div class="row justify-content-center">
            <div class="col-12 estiloFooter">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12">
                        <!-- Copyright -->
                        <div class="text-center p-3 estiloFooter2">
                            © 2021 Copyright:
                            <a class="text-white" href="https://www.dataintelligence-group.com/">dataintelligence-group.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>