


<input class="btn btn-danger btn-sm  mb-2" style="border-radius: 25px; font-size: 14px; margin: 0px; width: 100px; cursor: pointer;" type="button" onclick="mostrador('#dos')" name="volver atrás" value="atrás">
<div class="row ">

    <div class="col-8">
        <h3 class="text-dark mb-0">@ViewBag.TituloReporte</h3>
        <hr style="border:0.5px solid #000000" />
        @*<hr style="border:0.5px solid #000000" />*@
    </div>

</div>

<div class="row" style="height:710px;">
    <div class="col-md-10 embed-responsive embed-responsive-16by9">
        <iframe scrolling="no" class="embed-responsive-item" src="@ViewBag.urlReporte"></iframe>
    </div>
</div>

