<div class="row ">

    <div class="col-8">
        <h3 class="text-dark mb-0">@ViewBag.Grafico.TIPO_GRAFICO.nombre</h3>
        <h4 class="text-dark mb-0">@ViewBag.Grafico.titulo</h4>
        @*<hr style="border:0.5px solid #000000" />*@
    </div>

</div>

<div class="row">
    <div class="col-md-10 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@ViewBag.Grafico.url"></iframe>
    </div>
</div>
