

/* Estilos seccion de Suscripciones*/
.maincontainer {
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left; /* stack each div horizontally */
}

img {
    border-radius: 10px;
}

.back h2 {
    position: absolute;
}

.back p {
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2 {
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #000;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    width: 302px;
    height: 290px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.maincontainer:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
/*fin Estilos seccion de Suscripciones*/

/*#ChangeColor:hover{
    background-color:#ff0000 !important;
}*/

/***************texto cambia color del buscador usuario index linea 508**********************************/
#searchText {
    animation-duration: 5000ms;
    animation-name:blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 1200ms infinite; /* Safari and Chrome */
}

@keyframes blink {
    from {
        color: black;
    }

    to {
        color: red;
    }
}

@-webkit-keyframes blink {
    from {
        color: black;
    }

    to {
        color: red;
    }
}


/* ANIMATIONS menu lateral usuario index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 30px 0;
    font: 22px sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

hr {
    border-color: var(--hr-color);
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
}

    .menu li {
        margin-right: 70px;
    }

    .menu a {
        position: relative;
        display: block;
        padding: 10px;
    }

    .menu .border {
        position: absolute;
        left: 0;
        background: currentColor;
        transition: transform var(--transition-duration) ease-in-out;
    }

    .menu .border-top,
    .menu .border-bottom {
        width: 100%;
        height: 1px;
        transform: scaleX(0);
    }

    .menu .border-left,
    .menu .border-right {
        width: 1px;
        height: 100%;
        transform: scaleY(0);
    }

    .menu .border-top,
    .menu .border-left,
    .menu .border-right {
        top: 0;
    }

    .menu .border-bottom {
        bottom: 0;
        transform-origin: bottom right;
    }

    .menu .border-top {
        transform-origin: top left;
    }

    .menu .border-left {
        transform-origin: bottom left;
    }

    .menu .border-right {
        left: auto;
        right: 0;
        transform-origin: top right;
    }

    .menu a:hover .border-top,
    .menu a:hover .border-bottom {
        transform: scaleX(1);
    }

    .menu a:hover .border-left,
    .menu a:hover .border-right {
        transform: scaleY(1);
    }

    .menu a:hover .border-right {
        transition-delay: var(--transition-delay);
    }

    .menu a:hover .border-bottom {
        transition-delay: calc(var(--transition-delay) * 2);
    }

    .menu a:hover .border-left {
        transition-delay: calc(var(--transition-delay) * 3);
    }


    /* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu[data-animation="diagonal"] .border-left {
        transform-origin: top left;
    }

    .menu[data-animation="diagonal"] .border-right,
    .menu[data-animation="diagonal"] .border-bottom {
        transform-origin: bottom right;
    }

    .menu[data-animation="diagonal"] a:hover [class^=border] {
        transition-delay: 0s;
    }

/*test caruusel usuario index*/
:root {
    --color-primary: rgb(15,12,88);
    --color-secundary: #03D694;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

.header {
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
    background-color: transparent;
}

.header__row {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 16px;
    padding-right: 16px;
}

.header__column {
    width: 50%;
    position: relative;
}

.header__logo {
    position: relative;
}

    .header__logo a {
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-decoration: none;
        position: relative;
    }

@media (min-width: 0px) and (max-width: 768px) {
    .header__logo a {
        font-size: 1rem;
    }
}

.header__logo a span {
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 400;
    position: relative;
}

.header__phone {
    position: relative;
    text-align: right;
}

    .header__phone a {
        color: white;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

@media (min-width: 0px) and (max-width: 768px) {
    .header__phone a {
        font-size: 0.8rem;
    }
}

.header__phone a:hover {
    color: var(--color-secundary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.slider {
    width: 100%;
    z-index: 5;
    position: relative;
}

.slider__component {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

    .slider__component .flickity-page-dots {
        width: calc(100% - 16.66666%);
        left: 50%;
        bottom: 8vh;
        z-index: 35;
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        text-align: left;
    }

        .slider__component .flickity-page-dots li {
            width: 16px;
            height: 16px;
            opacity: 0.8;
            border: 2px solid white;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
        }

@media (min-width: 0px) and (max-width: 768px) {
    .slider__component .flickity-page-dots li {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider__component .flickity-page-dots li {
        width: 14px;
        height: 14px;
    }
}

.slider__component .flickity-page-dots li.is-selected {
    opacity: 1;
    border: 2px solid white;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.slider__component .flickity-page-dots li:hover {
    opacity: 1;
    border: 2px solid white;
    background-color: white;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.slider__loader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    overflow: hidden;
    z-index: 30;
    background-color: var(--color-primary);
}

.slider__item {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 15;
    position: relative;
}

.slider__item__image {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 15;
}

    .slider__item__image:before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 18;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .slider__item__image:after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 20;
        position: absolute;
    }

    .slider__item__image img {
        opacity: 0;
        visibility: hidden;
    }

.slider__item__text {
    width: calc(100% - 16.66666%);
    top: 50%;
    left: 50%;
    z-index: 25;
    position: absolute;
    text-align: left;
    transform: translate(-50%, -50%);
}

    .slider__item__text span {
        color: white;
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        display: block;
        position: relative;
        padding-left: 10px;
        margin-bottom: 8px;
    }

        .slider__item__text span:before {
            content: "";
            top: 50%;
            left: 0px;
            width: 2px;
            height: 100%;
            position: absolute;
            transform: translateY(-50%);
            background-color: var(--color-secundary);
        }

    .slider__item__text h1 {
        font-family: "Nunito", sans-serif;
        color: white;
        font-size: 4vw;
        font-weight: 800;
        position: relative;
        margin-bottom: 10px;
        opacity: 0;
        visibility: 0;
    }

@media (min-width: 0px) and (max-width: 768px) {
    .slider__item__text h1 {
        font-size: 8vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider__item__text h1 {
        font-size: 6vw;
    }
}

.slider__item__text p {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    width: 33.33333%;
    position: relative;
    margin-bottom: 10px;
    opacity: 0;
    visibility: 0;
}

@media (min-width: 0px) and (max-width: 768px) {
    .slider__item__text p {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider__item__text p {
        width: 50%;
    }
}

.slider__item__text a {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    padding: 0.8rem 2rem;
    border: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: var(--color-primary);
    opacity: 0;
    visibility: 0;
}

@media (min-width: 0px) and (max-width: 768px) {
    .slider__item__text a {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider__item__text a {
        font-size: 1.2rem;
    }
}

.slider__item__text a:hover {
    color: white;
    background-color: var(--color-secundary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.slider__controls {
    top: 50%;
    z-index: 30;
    position: absolute;
    transform: translateY(-50%);
}

@media (min-width: 0px) and (max-width: 768px) {
    .slider__controls {
        display: none;
    }
}

.slider__controls.is-prev {
    left: 0px;
}

.slider__controls.is-next {
    right: 0px;
}

.slider__controls button {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    width: 54px;
    height: 54px;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 0px) and (max-width: 768px) {
    .slider__controls button {
        font-size: 1.4rem;
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider__controls button {
        font-size: 1.6rem;
        width: 46px;
        height: 46px;
    }
}

.slider__controls button:hover {
    color: var(--color-secundary);
    transition: all 0.3s ease-in-out;
}

.slider__controls button:focus {
    outline: 0px;
    box-shadow: none;
    border-radius: 0px;
}