
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soporte</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0;">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" align="center">
            <h1 class=" text-center">Soporte</h1>
            <!--<h3 class="lead"><strong>Soporte</strong></h3>-->
            <img class="img-fluid mx-5 mt-md-0" src="~/Images/Error/logo_DataIntelligence_normal.png" style="width:40%;" />
        </div>
    </div>

    <div class="container" align="center">
        <div class="jumbotron" style="background-color:transparent;padding:0;">
            <!-- <h1 class="display-4">Error - Licencia caducada</h1>-->
            <img class="img-fluid" src="~/Images/Error/imagen_licencia_caduca.jpg" style="width:100%;" />
        </div>
        <h2> Licencia caducada</h2>

        <br /> <br />
        <h2>Problema:</h2>
        <p>
            La licencia para este producto ha caducado.
        </p>
        <br />

        <h2>
            Solución:
        </h2>
        <p>
            Para recuperar el acceso a un producto con suscripción caducada, suscríbase nuevamente haciendo un nuevo pedido en la
            <a href="https://dataintelligence.store/collections/all" target="_blank">Tienda en línea.</a>
        </p>
        <br />
        <h2>
            Consulte también:
        </h2>
        <p>La pagina de <a href="https://dataintelligence.store/pages/preguntas-frecuentes" target="_blank">preguntas frecuentes </a>en la seccion de PROCESO DE COMPRA Y DEVOLUCIÓN/párrafo #4 ¿Qué puedo hacer si una plataforma que compré no funciona correctamente?</p>




        <br />
        <br />

        <div class="jumbotron">
            <h3>¿No has encontrado lo que estabas buscando?</h3>
            <hr class="my-4">
            <br />
            <p>
                Nuestro centro de ayuda (Help Center) contiene las soluciones para casi cada falla técnica conocida. Si no puedes encontrar la respuesta a tu pregunta, por favor envía una solicitud de soporte utilizando el enlace a continuación.
            </p>
            <p class="lead">
                <br /> <br />
                <a class="btn btn-primary btn-lg" href="https://dataintelligence.store/pages/contacto-1" target="_blank" role="button">
                    Centro de Ayuda
                </a>
            </p>
        </div>

    </div>


</body>
</html>
